{% macro render(options) %}
<div class="{{options.wrapperClasses}}">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-9 col-md-7 col-lg-5 offset-xl-1 align-self-sm-end order-lg-2">
        <div class="hero-img position-relative" data-aos="fade-left" data-aos-duration="500" data-aos-once="true">
          <img class="w-100" src="{{options.heroImage}}" alt="">
          <div class="gr-abs-tl gr-z-index-n1" data-aos="zoom-in" data-aos-delay="600" data-aos-duration="800" data-aos-once="true">
            <img src="{{options.heroImageShape}}" alt="">
          </div>
        </div>
      </div>
      <div class="col-11 col-md-9 col-lg-7 col-xl-6 order-lg-1" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
        <div class="hero-content mt-11 mt-lg-0">
          <h4 class="pre-title gr-text-12 text-red text-uppercase mb-7">Let’s shift your business</h4>
          <h1 class="title gr-text-2 mb-8">Shift your business fast with Shade Pro.</h1>
          <p class="gr-text-8 mb-11 pr-md-12">With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.</p>
          <div class="hero-btn">
            <a href="#" class="btn gr-hover-y btn-primary">Get started a project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro code(options) %}
   <!-- Hero Area -->
   <pre class="language-markup">
    <code>
      &lt;div class=&quot;{{options.wrapperClasses}}&quot;&gt;
      &lt;div class=&quot;container&quot;&gt;
        &lt;div class=&quot;row justify-content-center align-items-center&quot;&gt;
          &lt;div class=&quot;col-9 col-md-7 col-lg-5 offset-xl-1 align-self-sm-end order-lg-2&quot;&gt;
            &lt;div class=&quot;hero-img position-relative&quot; data-aos=&quot;fade-left&quot; data-aos-duration=&quot;500&quot; data-aos-once=&quot;true&quot;&gt;
              &lt;img class=&quot;w-100&quot; src=&quot;{{options.heroImage}}&quot; alt=&quot;&quot;&gt;
              &lt;div class=&quot;gr-abs-tl gr-z-index-n1&quot; data-aos=&quot;zoom-in&quot; data-aos-delay=&quot;600&quot; data-aos-duration=&quot;800&quot; data-aos-once=&quot;true&quot;&gt;
                &lt;img src=&quot;{{options.heroImageShape}}&quot; alt=&quot;&quot;&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;col-11 col-md-9 col-lg-7 col-xl-6 order-lg-1&quot; data-aos=&quot;fade-right&quot; data-aos-duration=&quot;500&quot; data-aos-once=&quot;true&quot;&gt;
            &lt;div class=&quot;hero-content mt-11 mt-lg-0&quot;&gt;
              &lt;h4 class=&quot;pre-title gr-text-12 text-red text-uppercase mb-7&quot;&gt;Let&rsquo;s shift your business&lt;/h4&gt;
              &lt;h1 class=&quot;title gr-text-2 mb-8&quot;&gt;Shift your business fast with Shade Pro.&lt;/h1&gt;
              &lt;p class=&quot;gr-text-8 mb-11 pr-md-12&quot;&gt;With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.&lt;/p&gt;
              &lt;div class=&quot;hero-btn&quot;&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn gr-hover-y btn-primary&quot;&gt;Get started a project&lt;/a&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    </code>
   </pre>
{% endmacro %}