{% macro render(options) %}
  
<!-- Hero Area -->
<div class="{{options.wrapperClasses}}"  
style="background-image:url({{options.bakgroundImage}});">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-9 col-lg-7 col-xl-6" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
        <div class="hero-content section-title dark-mode-texts">
          <h1 class="gr-text-2 font-weight-bold mb-8">Get help from the expert consultants.</h1>
          <p class="gr-text-8 pr-sm-7 pr-md-12">With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.</p>
          <div class="hero-btns mt-10">
            <a href="#" class="btn btn-primary with-icon gr-hover-y">Get started now<i class="icon icon-tail-right font-weight-bold"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endmacro %}


{% macro code(options) %}
   <!-- Hero Area Code-->
   <pre class="language-markup">
    <code>
      &lt;div class=&quot;{{options.wrapperClasses}}&quot;  
      style=&quot;background-image:url({{options.bakgroundImage}});&quot;&gt;
        &lt;div class=&quot;container&quot;&gt;
          &lt;div class=&quot;row align-items-center&quot;&gt;
            &lt;div class=&quot;col-md-9 col-lg-7 col-xl-6&quot; data-aos=&quot;fade-right&quot; data-aos-duration=&quot;500&quot; data-aos-once=&quot;true&quot;&gt;
              &lt;div class=&quot;hero-content section-title dark-mode-texts&quot;&gt;
                &lt;h1 class=&quot;gr-text-2 font-weight-bold mb-8&quot;&gt;Get help from the expert consultants.&lt;/h1&gt;
                &lt;p class=&quot;gr-text-8 pr-sm-7 pr-md-12&quot;&gt;With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.&lt;/p&gt;
                &lt;div class=&quot;hero-btns mt-10&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;btn btn-primary with-icon gr-hover-y&quot;&gt;Get started now&lt;i class=&quot;icon icon-tail-right font-weight-bold&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    </code>
   </pre>
{% endmacro %}