{% macro render(options) %}
<div class="{{options.wrapperClasses}}">
  <div class="container">
    <div class="row justify-content-sm-end">
      <div class="col-lg-6 col-md-8 py-md-16 py-lg-20 z-index-99" >
        <div class="hero-content pr-xl-16 mb-9 mb-md-12">
          <h1 class="title gr-text-2 mb-8">Find a dream job that changes life.</h1>
          <p class="gr-text-8 mb-0">With lots of unique blocks, you can easily build a page without coding. Build your next job website.</p>
        </div>

        <!-- Search Component starts -->
        <div class="search-box bg-green shadow-7 rounded-10 px-8 pt-7 pb-7 mr-lg-n34 mr-xl-n33">
          <form action="/" class="search-form">
            <div class="row mx-n5 justify-content-center">
              <div class="w-100 w-sm-50 w-md-100 w-lg-35 w-xl-37 px-3 mb-7 mb-lg-0">
                <div class="form-group mb-0 min-height-px-50">
                  <input class="form-control gr-text-9 border h-100" type="text" id="keyword" placeholder="Job title or keyword">
                </div>
              </div>

              <!-- .select-city starts -->
              <div class="w-100 w-sm-50 w-md-100 w-lg-35 w-xl-37 px-3 mb-7 mb-lg-0">
                <div class="form-group mb-0 min-height-px-50">
                  <select name="country" id="country" class="nice-select gr-text-11 text-blackish-blue rounded-8 h-100 arrow-3">
                    <option value="">City</option>
                    <option value="">United States of America</option>
                    <option value="">United Arab Emirates</option>
                    <option value="">Bangladesh</option>
                    <option value="">Pakistan</option>
                  </select>
                </div>
              </div>
              <!-- ./select-city ends -->

              <div class="w-100 w-lg-30 w-xl-25 px-3">
                <button class="btn btn-blackish-blue w-100 min-height-px-50 line-height-reset">Search</button>
              </div>
            </div>
          </form>
        </div>
        <!-- Search Component ends -->
        <p class="gr-text-11 mb-0 mt-6">Try Product Designer, Software Engineer etc.</p>
      </div>
      <div class="col-lg-5 offset-lg-1 col-md-4 col-sm-7 align-self-sm-end">
        <div class="hero-img position-relative z-index-1" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
          <img class="w-100" src="{{options.heroImage}}" alt="">
          <div class="pattern-sub-img gr-abs-tr-custom-2" data-aos="fade-up-right" data-aos-duration="1200" data-aos-once="true" data-aos-delay="600">
            <img src="{{options.heroImageShape}}" alt="">
          </div>
          <div class="shape-sub-img gr-abs-bl-custom-2" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true" data-aos-delay="800">
            <img src="{{options.heroImageShapeTwo}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}


{% macro code(options) %}
   <!-- Hero Area -->
   <pre class="language-markup">
    <code>
      &lt;div class=&quot;{{options.wrapperClasses}}&quot;&gt;
      &lt;div class=&quot;container&quot;&gt;
        &lt;div class=&quot;row justify-content-sm-end&quot;&gt;
          &lt;div class=&quot;col-lg-6 col-md-8 py-md-16 py-lg-20 z-index-99&quot; &gt;
            &lt;div class=&quot;hero-content pr-xl-16 mb-9 mb-md-12&quot;&gt;
              &lt;h1 class=&quot;title gr-text-2 mb-8&quot;&gt;Find a dream job that changes life.&lt;/h1&gt;
              &lt;p class=&quot;gr-text-8 mb-0&quot;&gt;With lots of unique blocks, you can easily build a page without coding. Build your next job website.&lt;/p&gt;
            &lt;/div&gt;
    
            &lt;!-- Search Component starts --&gt;
            &lt;div class=&quot;search-box bg-green shadow-7 rounded-10 px-8 pt-7 pb-7 mr-lg-n34 mr-xl-n33&quot;&gt;
              &lt;form action=&quot;&quot; class=&quot;search-form&quot;&gt;
                &lt;div class=&quot;row mx-n5 justify-content-center&quot;&gt;
                  &lt;div class=&quot;w-100 w-sm-50 w-md-100 w-lg-35 w-xl-37 px-3 mb-7 mb-lg-0&quot;&gt;
                    &lt;div class=&quot;form-group mb-0 min-height-px-50&quot;&gt;
                      &lt;input class=&quot;form-control gr-text-9 border h-100&quot; type=&quot;text&quot; id=&quot;keyword&quot; placeholder=&quot;Job title or keyword&quot;&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
    
                  &lt;!-- .select-city starts --&gt;
                  &lt;div class=&quot;w-100 w-sm-50 w-md-100 w-lg-35 w-xl-37 px-3 mb-7 mb-lg-0&quot;&gt;
                    &lt;div class=&quot;form-group mb-0 min-height-px-50&quot;&gt;
                      &lt;select name=&quot;&quot; id=&quot;country&quot; class=&quot;nice-select gr-text-11 text-blackish-blue rounded-8 h-100 arrow-3&quot;&gt;
                        &lt;option value=&quot;&quot;&gt;City&lt;/option&gt;
                        &lt;option value=&quot;&quot;&gt;United States of America&lt;/option&gt;
                        &lt;option value=&quot;&quot;&gt;United Arab Emirates&lt;/option&gt;
                        &lt;option value=&quot;&quot;&gt;Bangladesh&lt;/option&gt;
                        &lt;option value=&quot;&quot;&gt;Pakistan&lt;/option&gt;
                      &lt;/select&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                  &lt;!-- ./select-city ends --&gt;
    
                  &lt;div class=&quot;w-100 w-lg-30 w-xl-25 px-3&quot;&gt;
                    &lt;button role=&quot;submit&quot; class=&quot;btn btn-blackish-blue w-100 min-height-px-50&quot;&gt;Search&lt;/button&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/form&gt;
            &lt;/div&gt;
            &lt;!-- Search Component ends --&gt;
            &lt;p class=&quot;gr-text-11 mb-0 mt-6&quot;&gt;Try Product Designer, Software Engineer etc.&lt;/p&gt;
          &lt;/div&gt;
          &lt;div class=&quot;col-lg-5 offset-lg-1 col-md-4 col-sm-7 align-self-sm-end&quot;&gt;
            &lt;div class=&quot;hero-img position-relative z-index-1&quot; data-aos=&quot;fade-left&quot; data-aos-duration=&quot;1000&quot; data-aos-once=&quot;true&quot;&gt;
              &lt;img class=&quot;w-100&quot; src=&quot;{{options.heroImage}}&quot; alt=&quot;&quot;&gt;
              &lt;div class=&quot;pattern-sub-img gr-abs-tr-custom-2&quot; data-aos=&quot;fade-up-right&quot; data-aos-duration=&quot;1200&quot; data-aos-once=&quot;true&quot; data-aos-delay=&quot;600&quot;&gt;
                &lt;img src=&quot;{{options.heroImageShape}}&quot; alt=&quot;&quot;&gt;
              &lt;/div&gt;
              &lt;div class=&quot;shape-sub-img gr-abs-bl-custom-2&quot; data-aos=&quot;fade-left&quot; data-aos-duration=&quot;1000&quot; data-aos-once=&quot;true&quot; data-aos-delay=&quot;800&quot;&gt;
                &lt;img src=&quot;{{options.heroImageShapeTwo}}&quot; alt=&quot;&quot;&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    </code>
   </pre>
{% endmacro %}