{% macro render(options) %}
<div class="{{options.wrapperClasses}} " style="background-image:linear-gradient(225deg, #7b11f9 0%, #7922d8 39%,#3636b2 100%)">
  <div class="shape-1 gr-abs-tl" data-aos="fade-down-right" data-aos-duration="500" data-aos-once="true">
    <img src="{{options.heroShapeOne}}" alt="">
  </div>
  <div class="shape-2 gr-abs-tl" data-aos="fade-down-right" data-aos-duration="800" data-aos-delay="300" data-aos-once="true">
    <img src="{{options.heroShapeTwo}}" alt="">
  </div>
  <div class="shape-3 gr-abs-tl" data-aos="fade-down-right" data-aos-duration="1100" data-aos-delay="600" data-aos-once="true">
    <img src="{{options.heroShapeThree}}" alt="">
  </div>
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-7 col-xl-6">
        <div class="hero-content dark-mode-texts mb-15 mb-lg-30 text-center text-md-left ">
          <h1 class="gr-text-2 mb-8 text-white">Manage your remote team work</h1>
          <p class="gr-text-8 px-7 pl-md-0 pr-md-11 mb-0 gr-color-white-opacity-7">With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.</p>
          <div class="hero-btns mt-11">
            <a href="#" class="btn btn-red rounded-8 gr-hover-y">Explore more</a>
          </div>
          <div class="download-block mt-15">
            <h3 class="download-title gr-text-12 text-uppercase text-white">Download our app</h3>
            <div class="download-btns d-flex flex-column flex-xs-row justify-content-center justify-content-md-start mt-7">
              <a href="#" class=""><img src="{{options.heroButtonImageOne}}" alt="" class="mr-xs-5 mb-5 mb-xs-0"></a>
              <a href="#" class=""><img src="{{options.heroButtonImageTwo}}" alt=""></a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-9 col-lg-5 col-xl-6" data-aos="fade-up" data-aos-duration="2000" data-aos-once="true">
        <div class="hero-img position-relative">
          <img src="{{options.heroImage}}" alt="" class="w-100">
          <div class="abs-img" data-aos="zoom-in" data-aos-delay="1600" data-aos-duration="800" data-aos-once="true">
            <img src="{{options.heroImagePattern}}" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="wave-shape">
    <img src="{{options.heroWaveShapeLight}}" alt="" class="w-100 light-shape default-shape">
    <img src="{{options.heroWaveShapeDark}}" alt="" class="w-100 dark-shape">
  </div>
</div>
{% endmacro %}
{% macro code(options) %}
   <!-- Hero Area -->
   <pre class="language-markup">
    <code>
      &lt;div class=&quot;{{options.wrapperClasses}} &quot; style=&quot;background-image:linear-gradient(225deg, #7b11f9 0%, #7922d8 39%,#3636b2 100%)&quot;&gt;
      &lt;div class=&quot;shape-1 gr-abs-tl&quot; data-aos=&quot;fade-down-right&quot; data-aos-duration=&quot;500&quot; data-aos-once=&quot;true&quot;&gt;
        &lt;img src=&quot;{{options.heroShapeOne}}&quot; alt=&quot;&quot;&gt;
      &lt;/div&gt;
      &lt;div class=&quot;shape-2 gr-abs-tl&quot; data-aos=&quot;fade-down-right&quot; data-aos-duration=&quot;800&quot; data-aos-delay=&quot;300&quot; data-aos-once=&quot;true&quot;&gt;
        &lt;img src=&quot;{{options.heroShapeTwo}}&quot; alt=&quot;&quot;&gt;
      &lt;/div&gt;
      &lt;div class=&quot;shape-3 gr-abs-tl&quot; data-aos=&quot;fade-down-right&quot; data-aos-duration=&quot;1100&quot; data-aos-delay=&quot;600&quot; data-aos-once=&quot;true&quot;&gt;
        &lt;img src=&quot;{{options.heroShapeThree}}&quot; alt=&quot;&quot;&gt;
      &lt;/div&gt;
      &lt;div class=&quot;container&quot;&gt;
        &lt;div class=&quot;row justify-content-center&quot;&gt;
          &lt;div class=&quot;col-md-9 col-lg-7 col-xl-6&quot;&gt;
            &lt;div class=&quot;hero-content dark-mode-texts mb-15 mb-lg-30 text-center text-md-left &quot;&gt;
              &lt;h1 class=&quot;gr-text-2 mb-8 text-white&quot;&gt;Manage your remote team work&lt;/h1&gt;
              &lt;p class=&quot;gr-text-8 px-7 pl-md-0 pr-md-11 mb-0 gr-color-white-opacity-7&quot;&gt;With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.&lt;/p&gt;
              &lt;div class=&quot;hero-btns mt-11&quot;&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn btn-red rounded-8 gr-hover-y&quot;&gt;Explore more&lt;/a&gt;
              &lt;/div&gt;
              &lt;div class=&quot;download-block mt-15&quot;&gt;
                &lt;h3 class=&quot;download-title gr-text-12 text-uppercase text-white&quot;&gt;Download our app&lt;/h3&gt;
                &lt;div class=&quot;download-btns d-flex flex-column flex-xs-row justify-content-center justify-content-md-start mt-7&quot;&gt;
                  &lt;a href=&quot;#&quot; class=&quot;&quot;&gt;&lt;img src=&quot;{{options.heroButtonImageOne}}&quot; alt=&quot;&quot; class=&quot;mr-xs-5 mb-5 mb-xs-0&quot;&gt;&lt;/a&gt;
                  &lt;a href=&quot;#&quot; class=&quot;&quot;&gt;&lt;img src=&quot;{{options.heroButtonImageTwo}}&quot; alt=&quot;&quot;&gt;&lt;/a&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;col-md-9 col-lg-5 col-xl-6&quot; data-aos=&quot;fade-up&quot; data-aos-duration=&quot;2000&quot; data-aos-once=&quot;true&quot;&gt;
            &lt;div class=&quot;hero-img position-relative&quot;&gt;
              &lt;img src=&quot;{{options.heroImage}}&quot; alt=&quot;&quot; class=&quot;w-100&quot;&gt;
              &lt;div class=&quot;abs-img&quot; data-aos=&quot;zoom-in&quot; data-aos-delay=&quot;1600&quot; data-aos-duration=&quot;800&quot; data-aos-once=&quot;true&quot;&gt;
                &lt;img src=&quot;{{options.heroImagePattern}}&quot; alt=&quot;&quot;&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;wave-shape&quot;&gt;
        &lt;img src=&quot;{{options.heroWaveShapeLight}}&quot; alt=&quot;&quot; class=&quot;w-100 light-shape default-shape&quot;&gt;
        &lt;img src=&quot;{{options.heroWaveShapeDark}}&quot; alt=&quot;&quot; class=&quot;w-100 dark-shape&quot;&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    </code>
   </pre>
{% endmacro %}
Collapse



