{% macro render(options) %}
<div class="{{options.wrapperClasses}}" >
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-lg-6 col-md-9 order-lg-2">
        <div class="hero-img" data-aos="fade-left" data-aos-duration="500" data-aos-once="true">
          <div class="hero-video-thumb position-relative gr-z-index-1">
            <img src="{{options.heroImage}}" alt="" class="w-100 rounded-8">
            <a class="video-play-trigger gr-abs-center bg-white circle-xl gr-flex-all-center gr-abs-hover-y focus-reset" data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" tabindex="-1"><i class="icon icon-triangle-right-17-2"></i></a>
            <div class="abs-shape gr-abs-tr-custom gr-z-index-n1">
              <img src="{{options.heroImageShape}}" alt="" class="w-100" data-aos="zoom-in" data-aos-delay="400" data-aos-duration="800" data-aos-once="true">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-9 order-lg-1 mt-9 mt-lg-0" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
        <div class="hero-content dark-mode-texts">
          <h1 class="gr-text-2 mb-9">Get more visitors, <br>get more sales.</h1>
          <p class="gr-text-8 pr-5 pl-0 pr-xl-11 mb-9">With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.</p>
          <div class="hero-btn">
            <a href="#" class="btn-link with-icon text-green gr-text-7 font-weight-bold">Start a free trial <i class="icon icon-tail-right font-weight-bold"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro code(options) %}
   <!-- Hero Area -->
   <pre class="language-markup">
    <code>
      &lt;div class=&quot;{{options.wrapperClasses}}&quot; &gt;
      &lt;div class=&quot;container&quot;&gt;
        &lt;div class=&quot;row justify-content-center align-items-center&quot;&gt;
          &lt;div class=&quot;col-lg-6 col-md-9 order-lg-2&quot;&gt;
            &lt;div class=&quot;hero-img&quot; data-aos=&quot;fade-left&quot; data-aos-duration=&quot;500&quot; data-aos-once=&quot;true&quot;&gt;
              &lt;div class=&quot;hero-video-thumb position-relative gr-z-index-1&quot;&gt;
                &lt;img src=&quot;{{options.heroImage}}&quot; alt=&quot;&quot; class=&quot;w-100 rounded-8&quot;&gt;
                &lt;a class=&quot;video-play-trigger gr-abs-center bg-white circle-xl gr-flex-all-center gr-abs-hover-y focus-reset&quot; data-fancybox=&quot;&quot; href=&quot;https://www.youtube.com/watch?v=_sI_Ps7JSEk&quot; tabindex=&quot;-1&quot;&gt;&lt;i class=&quot;icon icon-triangle-right-17-2&quot;&gt;&lt;/i&gt;&lt;/a&gt;
                &lt;div class=&quot;abs-shape gr-abs-tr-custom gr-z-index-n1&quot;&gt;
                  &lt;img src=&quot;{{options.heroImageShape}}&quot; alt=&quot;&quot; class=&quot;w-100&quot; data-aos=&quot;zoom-in&quot; data-aos-delay=&quot;400&quot; data-aos-duration=&quot;800&quot; data-aos-once=&quot;true&quot;&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class=&quot;col-lg-6 col-md-9 order-lg-1 mt-9 mt-lg-0&quot; data-aos=&quot;fade-right&quot; data-aos-duration=&quot;500&quot; data-aos-once=&quot;true&quot;&gt;
            &lt;div class=&quot;hero-content dark-mode-texts&quot;&gt;
              &lt;h1 class=&quot;gr-text-2 mb-9&quot;&gt;Get more visitors, &lt;br&gt;get more sales.&lt;/h1&gt;
              &lt;p class=&quot;gr-text-8 pr-5 pl-0 pr-xl-11 mb-9&quot;&gt;With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.&lt;/p&gt;
              &lt;div class=&quot;hero-btn&quot;&gt;
                &lt;a href=&quot;#&quot; class=&quot;btn-link with-icon text-green gr-text-7 font-weight-bold&quot;&gt;Start a free trial &lt;i class=&quot;icon icon-tail-right font-weight-bold&quot;&gt;&lt;/i&gt;&lt;/a&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    </code>
   </pre>
{% endmacro %}