{% import "components/pricing-card-1.njk" as PricingCard %}


{% macro render(additional_class) %}

{% set page_data = {
  pricing:{
    cards:[
    {
      badgeText: "Basic",
      price:29,
      subPriceText:"One time purchase",
      text: "With lots of unique blocks, you can easily build a page without coding. Build your next landing page.",
      href:"./",
      animation:{
        delay:"0",
        duration: "800"
      }
    },
    {
      badgeText: "STANDARD",
      price:49,
      subPriceText:"One time purchase",
      text: "With lots of unique blocks, you can easily build a page without coding. Build your next landing page.",
      href:"./",
      animation:{
        delay:"400",
        duration: "800"
      }
    },
    {
      badgeText: "PREMIUM",
      price:99,
      subPriceText:"One time purchase",
      text: "With lots of unique blocks, you can easily build a page without coding. Build your next landing page.",
      href:"./",
      animation:{
        delay:"800",
        duration: "800"
      }
    }
    ]
  }
} 
%}
<div class="pricing-section bg-blackish-blue pt-12 pb-7 pt-lg-22 pb-lg-17" id="pricing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-10">
        <div class="section-title text-center mb-12 mb-lg-16">
          <h2 class="gr-text-4 mb-7 text-white">Pricing &amp; Plans</h2>
          <p class="gr-text-8 px-lg-8 gr-color-white-opacity-7 mb-0">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      {% for card in page_data.pricing.cards %}
      <div class="col-lg-4 col-md-6 col-sm-10" data-aos="fade-in" data-aos-duration="{{card.animation.duration}}" data-aos-delay="{{card.animation.delay}}"  data-aos-once="true" data-aos-easing="new-easing">
        {{PricingCard.static(card.badgeText,card.price,card.subPriceText,card.text,card.href)}}
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endmacro %}