{% macro render(settings) %}
    <div class="text-center pt-9" id="pricing-dynamic-deck{{settings.count}}" data-pricing-dynamic data-value-active="yearly">
      <div class="mb-13 d-inline-flex position-relative" id="pricing-dynamic-deck--head{{settings.count}}">
        <span class="period month gr-text-8 gr-text-color ">Monthly</span>
        <a href="javascript:" class="btn-toggle active mx-3 price-deck-trigger" data-pricing-trigger data-target="#pricing-dynamic-deck{{settings.count}}"><span class="round"></span></a>
        <span class="period year gr-text-8 gr-text-color">Yearly</span>
        <span class="badge gr-badge text-primary gr-text-12 gr-bg-blue-opacity-1 rounded-pill ml-5 text-uppercase">Save 25%</span>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-10 mb-9">
          <!-- .pricing card -->
          <div class="pricing-card bg-white gr-hover-shadow-1 border text-left pt-9 pb-9 pr-9 pr-xl-13  pl-9 pl-xl-13 bg-white rounded-10">
            <div class="price-content">
              <span class="small-title gr-text-12 text-primary font-weight-bold text-uppercase">Starter</span>
              <div class="d-flex align-items-end mt-11 ">
                <span class="currency mr-2 gr-text-6 font-weight-bold line-spacing-none text-blackish-blue">$</span>
                <h2 class="price-value gr-text-2 font-weight-bold line-spacing-none mb-0 dynamic-value text-blackish-blue" data-active="19" data-monthly="49" data-yearly="19">
                  <span class="d-none">.</span>
                </h2>
                <span class="per gr-text-9 text-blackish-blue">/month</span>
              </div>
              <span class="price-bottom-text dynamic-value gr-text-11 mt-5 text-blackish-blue gr-opacity-7 d-inline-flex" data-active="billed yearly" data-monthly="billed monthly" data-yearly="billed yearly"></span>
              <ul class="card-list list-style-check pl-0 mt-7 mt-lg-11">
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>Commercial License</li>
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>100+ HTML UI Elements</li>
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>Unlimited Domain Support</li>
                <li class="disabled gr-text-9"><i class="icon icon-simple-remove"></i>6 months premium support</li>
                <li class="disabled gr-text-9"><i class="icon icon-simple-remove"></i>Lifetime updates</li>
              </ul>
            </div>
            <a href="" class="btn btn-primary with-icon gr-hover-y px-xl-8 px-lg-4 px-sm-8 px-4">Start Free Trial<i class="icon icon-tail-right font-weight-bold"></i></a>
            <span class="btn-bottom-text d-block gr-text-11 text-blackish-blue gr-opacity-7 mt-5">No credit card required</span>
          </div>
          <!-- /.pricing carde Ends-->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 mb-9">
           <!-- .pricing card -->
          <div class="pricing-card bg-white gr-hover-shadow-1 border text-left pt-9 pb-9 pr-9 pr-xl-13  pl-9 pl-xl-13 bg-white rounded-10">
            <div class="price-content">
              <span class="small-title gr-text-12 text-primary font-weight-bold text-uppercase">Standard</span>
              <div class="d-flex align-items-end mt-11 ">
                <span class="currency mr-2 gr-text-6 font-weight-bold line-spacing-none text-blackish-blue">$</span>
                <h2 class="price-value gr-text-2 font-weight-bold line-spacing-none mb-0 dynamic-value text-blackish-blue" data-active="49" data-monthly="99" data-yearly="49">
                  <span class="d-none">.</span>
                </h2>
                <span class="per gr-text-9 text-blackish-blue">/month</span>
              </div>
              <span class="price-bottom-text dynamic-value gr-text-11 mt-5 text-blackish-blue gr-opacity-7 d-inline-flex" data-active="billed yearly" data-monthly="billed monthly" data-yearly="billed yearly"></span>
              <ul class="card-list list-style-check pl-0 mt-7 mt-lg-11">
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>Commercial License</li>
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>100+ HTML UI Elements</li>
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>Unlimited Domain Support</li>
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>6 months premium support</li>
                <li class="disabled gr-text-9"><i class="icon icon-simple-remove"></i>Lifetime updates</li>
              </ul>
            </div>
            <a href="" class="btn btn-primary with-icon gr-hover-y px-xl-8 px-lg-4 px-sm-8 px-4">Start Free Trial<i class="icon icon-tail-right font-weight-bold"></i></a>
            <span class="btn-bottom-text d-block gr-text-11 text-blackish-blue gr-opacity-7 mt-5">No credit card required</span>
          </div>
          <!-- /.pricing carde Ends-->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-10 mb-9">
          <!-- .pricing card -->
          <div class="pricing-card bg-white gr-hover-shadow-1 border text-left pt-9 pb-9 pr-9 pr-xl-13  pl-9 pl-xl-13 bg-white rounded-10">
            <div class="price-content">
              <span class="small-title gr-text-12 text-primary font-weight-bold text-uppercase">Premium</span>
              <div class="d-flex align-items-end mt-11">
                <span class="currency mr-2 gr-text-6 font-weight-bold line-spacing-none text-blackish-blue">$</span>
                <h2 class="price-value gr-text-2 font-weight-bold line-spacing-none mb-0 dynamic-value text-blackish-blue" data-active="99" data-monthly="129" data-yearly="99">
                  <span class="d-none">.</span>
                </h2>
                <span class="per gr-text-9 text-blackish-blue">/month</span>
              </div>
              <span class="price-bottom-text dynamic-value gr-text-11 mt-5 text-blackish-blue gr-opacity-7 d-inline-flex" data-active="billed yearly" data-monthly="billed monthly" data-yearly="billed yearly"></span>
              <ul class="card-list list-style-check pl-0 mt-7 mt-lg-11">
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>Commercial License</li>
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>100+ HTML UI Elements</li>
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>Unlimited Domain Support</li>
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>6 months premium support</li>
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>Lifetime updates</li>
              </ul>
            </div>
            <a href="" class="btn btn-primary with-icon gr-hover-y px-xl-8 px-lg-4 px-sm-8 px-4">Start Free Trial<i class="icon icon-tail-right font-weight-bold"></i></a>
            <span class="btn-bottom-text d-block gr-text-11 text-blackish-blue gr-opacity-7 mt-5">No credit card required</span>
          </div>
          <!-- /.pricing carde Ends-->
        </div>
      </div>
    </div>
{% endmacro %}  

{% macro code(settings) %}
<pre class="language-markup">
  <code>
  &lt;div class=&quot;text-center pt-9&quot; id=&quot;pricing-dynamic-deck{{settings.count}}&quot; data-pricing-dynamic data-value-active=&quot;yearly&quot;&gt;
  &lt;div class=&quot;mb-13 d-inline-flex position-relative&quot; id=&quot;pricing-dynamic-deck--head{{settings.count}}&quot;&gt;
    &lt;span class=&quot;period month gr-text-8 gr-text-color &quot;&gt;Monthly&lt;/span&gt;
    &lt;a href=&quot;javascript:&quot; class=&quot;btn-toggle active mx-3 price-deck-trigger&quot; data-pricing-trigger data-target=&quot;#pricing-dynamic-deck{{settings.count}}&quot;&gt;&lt;span class=&quot;round&quot;&gt;&lt;/span&gt;&lt;/a&gt;
    &lt;span class=&quot;period year gr-text-8 gr-text-color&quot;&gt;Yearly&lt;/span&gt;
    &lt;span class=&quot;badge gr-badge text-primary gr-text-12 gr-bg-blue-opacity-1 rounded-pill ml-5 text-uppercase&quot;&gt;Save 25%&lt;/span&gt;
  &lt;/div&gt;
  &lt;div class=&quot;row justify-content-center&quot;&gt;
    &lt;div class=&quot;col-lg-4 col-md-6 col-sm-8 mb-9&quot;&gt;
      &lt;!-- .pricing card --&gt;
      &lt;div class=&quot;pricing-card bg-white gr-hover-shadow-1 border text-left pt-9 pb-9 pr-9 pr-xl-13  pl-9 pl-xl-13 bg-white rounded-10&quot;&gt;
        &lt;div class=&quot;price-content&quot;&gt;
          &lt;span class=&quot;small-title gr-text-12 text-primary font-weight-bold text-uppercase&quot;&gt;Starter&lt;/span&gt;
          &lt;div class=&quot;d-flex align-items-end mt-11 &quot;&gt;
            &lt;span class=&quot;currency mr-2 gr-text-6 font-weight-bold line-spacing-none text-blackish-blue&quot;&gt;$&lt;/span&gt;
            &lt;h2 class=&quot;price-value gr-text-2 font-weight-bold line-spacing-none mb-0 dynamic-value text-blackish-blue&quot; data-active=&quot;19&quot; data-monthly=&quot;49&quot; data-yearly=&quot;19&quot;&gt;
              &lt;span class=&quot;d-none&quot;&gt;.&lt;/span&gt;
            &lt;/h2&gt;
            &lt;span class=&quot;per gr-text-9 text-blackish-blue&quot;&gt;/month&lt;/span&gt;
          &lt;/div&gt;
          &lt;span class=&quot;price-bottom-text dynamic-value gr-text-11 mt-5 text-blackish-blue gr-opacity-7 d-inline-flex&quot; data-active=&quot;billed yearly&quot; data-monthly=&quot;billed monthly&quot; data-yearly=&quot;billed yearly&quot;&gt;&lt;/span&gt;
          &lt;ul class=&quot;card-list list-style-check pl-0 mt-7 mt-lg-11&quot;&gt;
            &lt;li class=&quot;gr-text-9&quot;&gt;&lt;i class=&quot;icon icon-check-simple&quot;&gt;&lt;/i&gt;Commercial License&lt;/li&gt;
            &lt;li class=&quot;gr-text-9&quot;&gt;&lt;i class=&quot;icon icon-check-simple&quot;&gt;&lt;/i&gt;100+ HTML UI Elements&lt;/li&gt;
            &lt;li class=&quot;gr-text-9&quot;&gt;&lt;i class=&quot;icon icon-check-simple&quot;&gt;&lt;/i&gt;Unlimited Domain Support&lt;/li&gt;
            &lt;li class=&quot;disabled gr-text-9&quot;&gt;&lt;i class=&quot;icon icon-simple-remove&quot;&gt;&lt;/i&gt;6 months premium support&lt;/li&gt;
            &lt;li class=&quot;disabled gr-text-9&quot;&gt;&lt;i class=&quot;icon icon-simple-remove&quot;&gt;&lt;/i&gt;Lifetime updates&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
        &lt;a href=&quot;&quot; class=&quot;btn btn-primary with-icon gr-hover-y&quot;&gt;Start Free Trial&lt;i class=&quot;icon icon-tail-right font-weight-bold&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;span class=&quot;btn-bottom-text d-block gr-text-11 text-blackish-blue gr-opacity-7 mt-5&quot;&gt;No credit card required&lt;/span&gt;
      &lt;/div&gt;
      &lt;!-- /.pricing carde Ends--&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-lg-4 col-md-6 col-sm-8 mb-9&quot;&gt;
      &lt;!-- .pricing card --&gt;
      &lt;div class=&quot;pricing-card bg-white gr-hover-shadow-1 border text-left pt-9 pb-9 pr-9 pr-xl-13  pl-9 pl-xl-13 bg-white rounded-10&quot;&gt;
        &lt;div class=&quot;price-content&quot;&gt;
          &lt;span class=&quot;small-title gr-text-12 text-primary font-weight-bold text-uppercase&quot;&gt;Standard&lt;/span&gt;
          &lt;div class=&quot;d-flex align-items-end mt-11 &quot;&gt;
            &lt;span class=&quot;currency mr-2 gr-text-6 font-weight-bold line-spacing-none text-blackish-blue&quot;&gt;$&lt;/span&gt;
            &lt;h2 class=&quot;price-value gr-text-2 font-weight-bold line-spacing-none mb-0 dynamic-value text-blackish-blue&quot; data-active=&quot;49&quot; data-monthly=&quot;99&quot; data-yearly=&quot;49&quot;&gt;
              &lt;span class=&quot;d-none&quot;&gt;.&lt;/span&gt;
            &lt;/h2&gt;
            &lt;span class=&quot;per gr-text-9 text-blackish-blue&quot;&gt;/month&lt;/span&gt;
          &lt;/div&gt;
          &lt;span class=&quot;price-bottom-text dynamic-value gr-text-11 mt-5 text-blackish-blue gr-opacity-7 d-inline-flex&quot; data-active=&quot;billed yearly&quot; data-monthly=&quot;billed monthly&quot; data-yearly=&quot;billed yearly&quot;&gt;&lt;/span&gt;
          &lt;ul class=&quot;card-list list-style-check pl-0 mt-7 mt-lg-11&quot;&gt;
            &lt;li class=&quot;gr-text-9&quot;&gt;&lt;i class=&quot;icon icon-check-simple&quot;&gt;&lt;/i&gt;Commercial License&lt;/li&gt;
            &lt;li class=&quot;gr-text-9&quot;&gt;&lt;i class=&quot;icon icon-check-simple&quot;&gt;&lt;/i&gt;100+ HTML UI Elements&lt;/li&gt;
            &lt;li class=&quot;gr-text-9&quot;&gt;&lt;i class=&quot;icon icon-check-simple&quot;&gt;&lt;/i&gt;Unlimited Domain Support&lt;/li&gt;
            &lt;li class=&quot;gr-text-9&quot;&gt;&lt;i class=&quot;icon icon-check-simple&quot;&gt;&lt;/i&gt;6 months premium support&lt;/li&gt;
            &lt;li class=&quot;disabled gr-text-9&quot;&gt;&lt;i class=&quot;icon icon-simple-remove&quot;&gt;&lt;/i&gt;Lifetime updates&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
        &lt;a href=&quot;&quot; class=&quot;btn btn-primary with-icon gr-hover-y&quot;&gt;Start Free Trial&lt;i class=&quot;icon icon-tail-right font-weight-bold&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;span class=&quot;btn-bottom-text d-block gr-text-11 text-blackish-blue gr-opacity-7 mt-5&quot;&gt;No credit card required&lt;/span&gt;
      &lt;/div&gt;
      &lt;!-- /.pricing carde Ends--&gt;
    &lt;/div&gt;
    &lt;div class=&quot;col-lg-4 col-md-6 col-sm-8 mb-9&quot;&gt;
      &lt;!-- .pricing card --&gt;
      &lt;div class=&quot;pricing-card bg-white gr-hover-shadow-1 border text-left pt-9 pb-9 pr-9 pr-xl-13  pl-9 pl-xl-13 bg-white rounded-10&quot;&gt;
        &lt;div class=&quot;price-content&quot;&gt;
          &lt;span class=&quot;small-title gr-text-12 text-primary font-weight-bold text-uppercase&quot;&gt;Premium&lt;/span&gt;
          &lt;div class=&quot;d-flex align-items-end mt-11&quot;&gt;
            &lt;span class=&quot;currency mr-2 gr-text-6 font-weight-bold line-spacing-none text-blackish-blue&quot;&gt;$&lt;/span&gt;
            &lt;h2 class=&quot;price-value gr-text-2 font-weight-bold line-spacing-none mb-0 dynamic-value text-blackish-blue&quot; data-active=&quot;99&quot; data-monthly=&quot;129&quot; data-yearly=&quot;99&quot;&gt;
              &lt;span class=&quot;d-none&quot;&gt;.&lt;/span&gt;
            &lt;/h2&gt;
            &lt;span class=&quot;per gr-text-9 text-blackish-blue&quot;&gt;/month&lt;/span&gt;
          &lt;/div&gt;
          &lt;span class=&quot;price-bottom-text dynamic-value gr-text-11 mt-5 text-blackish-blue gr-opacity-7 d-inline-flex&quot; data-active=&quot;billed yearly&quot; data-monthly=&quot;billed monthly&quot; data-yearly=&quot;billed yearly&quot;&gt;&lt;/span&gt;
          &lt;ul class=&quot;card-list list-style-check pl-0 mt-7 mt-lg-11&quot;&gt;
            &lt;li class=&quot;gr-text-9&quot;&gt;&lt;i class=&quot;icon icon-check-simple&quot;&gt;&lt;/i&gt;Commercial License&lt;/li&gt;
            &lt;li class=&quot;gr-text-9&quot;&gt;&lt;i class=&quot;icon icon-check-simple&quot;&gt;&lt;/i&gt;100+ HTML UI Elements&lt;/li&gt;
            &lt;li class=&quot;gr-text-9&quot;&gt;&lt;i class=&quot;icon icon-check-simple&quot;&gt;&lt;/i&gt;Unlimited Domain Support&lt;/li&gt;
            &lt;li class=&quot;gr-text-9&quot;&gt;&lt;i class=&quot;icon icon-check-simple&quot;&gt;&lt;/i&gt;6 months premium support&lt;/li&gt;
            &lt;li class=&quot;gr-text-9&quot;&gt;&lt;i class=&quot;icon icon-check-simple&quot;&gt;&lt;/i&gt;Lifetime updates&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
        &lt;a href=&quot;&quot; class=&quot;btn btn-primary with-icon gr-hover-y&quot;&gt;Start Free Trial&lt;i class=&quot;icon icon-tail-right font-weight-bold&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;span class=&quot;btn-bottom-text d-block gr-text-11 text-blackish-blue gr-opacity-7 mt-5&quot;&gt;No credit card required&lt;/span&gt;
      &lt;/div&gt;
      &lt;!-- /.pricing carde Ends--&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  &lt;/div&gt;
  </code>
  </pre>
{% endmacro %}  

{% macro dark(settings) %}
    <div class="text-center pt-9" id="pricing-dynamic-deck{{settings.count}}" data-pricing-dynamic data-value-active="yearly">
      <div class="mb-13 d-inline-flex position-relative" id="pricing-dynamic-deck--head{{settings.count}}">
        <span class="period month gr-text-8 gr-text-color ">Monthly</span>
        <a href="javascript:" class="btn-toggle active mx-3 price-deck-trigger" data-pricing-trigger data-target="#pricing-dynamic-deck{{settings.count}}"><span class="round"></span></a>
        <span class="period year gr-text-8 gr-text-color">Yearly</span>
        <span class="badge gr-badge text-primary gr-text-12 gr-bg-blue-opacity-1 rounded-pill ml-5 text-uppercase">Save 25%</span>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-8 mb-9">
          <!-- .pricing card -->
          <div class="pricing-card bg-white gr-hover-shadow-1 border text-left pt-9 pb-9 pr-9 pr-xl-13  pl-9 pl-xl-13 bg-white rounded-10">
            <div class="price-content">
              <span class="small-title gr-text-12 text-primary font-weight-bold text-uppercase">Starter</span>
              <div class="d-flex align-items-end mt-11 ">
                <span class="currency mr-2 gr-text-6 font-weight-bold line-spacing-none text-blackish-blue">$</span>
                <h2 class="price-value gr-text-2 font-weight-bold line-spacing-none mb-0 dynamic-value text-blackish-blue" data-active="19" data-monthly="49" data-yearly="19">
                  <span class="d-none">.</span>
                </h2>
                <span class="per gr-text-9 text-blackish-blue">/month</span>
              </div>
              <span class="price-bottom-text dynamic-value gr-text-11 mt-5 text-blackish-blue gr-opacity-7 d-inline-flex" data-active="billed yearly" data-monthly="billed monthly" data-yearly="billed yearly"></span>
              <ul class="card-list list-style-check pl-0 mt-7 mt-lg-11">
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>Commercial License</li>
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>100+ HTML UI Elements</li>
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>Unlimited Domain Support</li>
                <li class="disabled gr-text-9"><i class="icon icon-simple-remove"></i>6 months premium support</li>
                <li class="disabled gr-text-9"><i class="icon icon-simple-remove"></i>Lifetime updates</li>
              </ul>
            </div>
            <a href="" class="btn btn-primary with-icon gr-hover-y">Start Free Trial<i class="icon icon-tail-right font-weight-bold"></i></a>
            <span class="btn-bottom-text d-block gr-text-11 text-blackish-blue gr-opacity-7 mt-5">No credit card required</span>
          </div>
          <!-- /.pricing carde Ends-->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8 mb-9">
           <!-- .pricing card -->
          <div class="pricing-card bg-white gr-hover-shadow-1 border text-left pt-9 pb-9 pr-9 pr-xl-13  pl-9 pl-xl-13 bg-white rounded-10">
            <div class="price-content">
              <span class="small-title gr-text-12 text-primary font-weight-bold text-uppercase">Standard</span>
              <div class="d-flex align-items-end mt-11 ">
                <span class="currency mr-2 gr-text-6 font-weight-bold line-spacing-none text-blackish-blue">$</span>
                <h2 class="price-value gr-text-2 font-weight-bold line-spacing-none mb-0 dynamic-value text-blackish-blue" data-active="49" data-monthly="99" data-yearly="49">
                  <span class="d-none">.</span>
                </h2>
                <span class="per gr-text-9 text-blackish-blue">/month</span>
              </div>
              <span class="price-bottom-text dynamic-value gr-text-11 mt-5 text-blackish-blue gr-opacity-7 d-inline-flex" data-active="billed yearly" data-monthly="billed monthly" data-yearly="billed yearly"></span>
              <ul class="card-list list-style-check pl-0 mt-7 mt-lg-11">
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>Commercial License</li>
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>100+ HTML UI Elements</li>
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>Unlimited Domain Support</li>
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>6 months premium support</li>
                <li class="disabled gr-text-9"><i class="icon icon-simple-remove"></i>Lifetime updates</li>
              </ul>
            </div>
            <a href="" class="btn btn-primary with-icon gr-hover-y">Start Free Trial<i class="icon icon-tail-right font-weight-bold"></i></a>
            <span class="btn-bottom-text d-block gr-text-11 text-blackish-blue gr-opacity-7 mt-5">No credit card required</span>
          </div>
          <!-- /.pricing carde Ends-->
        </div>
        <div class="col-lg-4 col-md-6 col-sm-8 mb-9">
          <!-- .pricing card -->
          <div class="pricing-card bg-white gr-hover-shadow-1 border text-left pt-9 pb-9 pr-9 pr-xl-13  pl-9 pl-xl-13 bg-white rounded-10">
            <div class="price-content">
              <span class="small-title gr-text-12 text-primary font-weight-bold text-uppercase">Premium</span>
              <div class="d-flex align-items-end mt-11">
                <span class="currency mr-2 gr-text-6 font-weight-bold line-spacing-none text-blackish-blue">$</span>
                <h2 class="price-value gr-text-2 font-weight-bold line-spacing-none mb-0 dynamic-value text-blackish-blue" data-active="99" data-monthly="129" data-yearly="99">
                  <span class="d-none">.</span>
                </h2>
                <span class="per gr-text-9 text-blackish-blue">/month</span>
              </div>
              <span class="price-bottom-text dynamic-value gr-text-11 mt-5 text-blackish-blue gr-opacity-7 d-inline-flex" data-active="billed yearly" data-monthly="billed monthly" data-yearly="billed yearly"></span>
              <ul class="card-list list-style-check pl-0 mt-7 mt-lg-11">
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>Commercial License</li>
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>100+ HTML UI Elements</li>
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>Unlimited Domain Support</li>
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>6 months premium support</li>
                <li class="gr-text-9"><i class="icon icon-check-simple"></i>Lifetime updates</li>
              </ul>
            </div>
            <a href="" class="btn btn-primary with-icon gr-hover-y">Start Free Trial<i class="icon icon-tail-right font-weight-bold"></i></a>
            <span class="btn-bottom-text d-block gr-text-11 text-blackish-blue gr-opacity-7 mt-5">No credit card required</span>
          </div>
          <!-- /.pricing carde Ends-->
        </div>
      </div>
    </div>
{% endmacro %} 