{% macro render(settings) %}
<div class="row justify-content-center">
  <div class="col-sm-10 col-md-6 col-lg-5 col-xl-4 mb-9" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
    <!-- .pricing card -->
    <div class="pricing-card bg-gray-2 gr-hover-shadow-1 text-center pt-9 pb-9 pr-9 pr-xl-9  pl-9 pl-xl-9 border rounded-10">
      <div class="price-content light-mode-texts">
        <span class="small-title gr-text-12 text-uppercase text-red font-weight-bold">Starter</span>
        <div class="d-flex align-items-end justify-content-center mt-9 ">
          <span class="currency mr-2 gr-text-6 text-blackish-blue font-weight-bold line-spacing-none">$</span>
          <h2 class="price-value gr-text-2 font-weight-bold line-spacing-none mb-0 text-blackish-blue">
            19
          </h2>
          <span class="per gr-text-9 text-blackish-blue">/mo</span>
        </div>
        <ul class="card-list list-style-border text-center pl-0 mt-9 mb-3 mx-auto">
          <li class="text-black gr-text-9 border-top mb-0 py-7 d-block">Upto 100 Team Members</li>
          <li class="text-black gr-text-9 border-top mb-0 py-7 d-block">100 GB Cloud Storage</li>
          <li class="text-black gr-text-9 border-top mb-0 py-7 d-block">Unlimited Meetings</li>
          <li class="text-black gr-text-9 border-top mb-0 py-7 d-block">Premium Support</li>
        </ul>
      </div>
      <a href="" class="btn btn-black rounded-8 gr-min-width-219">Get Started Now</a>
    </div>
    <!-- /.pricing carde Ends-->
  </div>
  <div class="col-sm-10 col-md-6 col-lg-5 col-xl-4 mb-9" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
    <!-- .pricing card -->
    <div class="pricing-card gr-hover-shadow-1 gr-box-shadow-4 text-center pt-9 pb-9 pr-9 pr-xl-9  pl-9 pl-xl-9 bg-white rounded-10">
      <div class="price-content light-mode-texts">
        <span class="small-title gr-text-12 text-uppercase text-red font-weight-bold">Unlimited</span>
        <div class="d-flex align-items-end justify-content-center mt-9 ">
          <span class="currency mr-2 gr-text-6 text-blackish-blue font-weight-bold line-spacing-none">$</span>
          <h2 class="price-value gr-text-2 font-weight-bold line-spacing-none mb-0 text-blackish-blue">
            99
          </h2>
          <span class="per gr-text-9 text-blackish-blue ">/mo</span>
        </div>
        <ul class="card-list list-style-border text-center pl-0 mt-9 mb-3 mx-auto">
          <li class="text-black gr-text-9 border-top mb-0 py-7 d-block">Unlimited Team Members</li>
          <li class="text-black gr-text-9 border-top mb-0 py-7 d-block">Unlimited Cloud Storage</li>
          <li class="text-black gr-text-9 border-top mb-0 py-7 d-block">Unlimited Meetings</li>
          <li class="text-black gr-text-9 border-top mb-0 py-7 d-block">Premium Support</li>
        </ul>
      </div>
      <a href="" class="btn btn-red rounded-8 w-100 mx-auto">Get Started Now</a>
    </div>
    <!-- /.pricing carde Ends-->
  </div>
  
</div>
{% endmacro %}  

{% macro code(settings) %}
<pre class="language-markup">
  <code>
&lt;div class=&quot;row justify-content-center&quot;&gt;
  &lt;div class=&quot;col-sm-10 col-md-6 col-lg-5 col-xl-4 mb-9&quot; data-aos=&quot;fade-right&quot; data-aos-duration=&quot;500&quot; data-aos-once=&quot;true&quot;&gt;
    &lt;!-- .pricing card --&gt;
    &lt;div class=&quot;pricing-card bg-gray-2 gr-hover-shadow-1 text-center pt-9 pb-9 pr-9 pr-xl-9  pl-9 pl-xl-9 border rounded-10&quot;&gt;
      &lt;div class=&quot;price-content light-mode-texts&quot;&gt;
        &lt;span class=&quot;small-title gr-text-12 text-uppercase text-red font-weight-bold&quot;&gt;Starter&lt;/span&gt;
        &lt;div class=&quot;d-flex align-items-end justify-content-center mt-9 &quot;&gt;
          &lt;span class=&quot;currency mr-2 gr-text-6 text-blackish-blue font-weight-bold line-spacing-none&quot;&gt;$&lt;/span&gt;
          &lt;h2 class=&quot;price-value gr-text-2 font-weight-bold line-spacing-none mb-0 text-blackish-blue&quot;&gt;
            19
          &lt;/h2&gt;
          &lt;span class=&quot;per gr-text-9 text-blackish-blue&quot;&gt;/mo&lt;/span&gt;
        &lt;/div&gt;
        &lt;ul class=&quot;card-list list-style-border text-center pl-0 mt-9 mb-3 mx-auto&quot;&gt;
          &lt;li class=&quot;text-black gr-text-9 border-top mb-0 py-7 d-block&quot;&gt;Upto 100 Team Members&lt;/li&gt;
          &lt;li class=&quot;text-black gr-text-9 border-top mb-0 py-7 d-block&quot;&gt;100 GB Cloud Storage&lt;/li&gt;
          &lt;li class=&quot;text-black gr-text-9 border-top mb-0 py-7 d-block&quot;&gt;Unlimited Meetings&lt;/li&gt;
          &lt;li class=&quot;text-black gr-text-9 border-top mb-0 py-7 d-block&quot;&gt;Premium Support&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
      &lt;a href=&quot;&quot; class=&quot;btn btn-black rounded-8 gr-min-width-219&quot;&gt;Get Started Now&lt;/a&gt;
    &lt;/div&gt;
    &lt;!-- /.pricing carde Ends--&gt;
  &lt;/div&gt;
  &lt;div class=&quot;col-sm-10 col-md-6 col-lg-5 col-xl-4 mb-9&quot; data-aos=&quot;fade-right&quot; data-aos-duration=&quot;500&quot; data-aos-once=&quot;true&quot;&gt;
    &lt;!-- .pricing card --&gt;
    &lt;div class=&quot;pricing-card gr-hover-shadow-1 gr-box-shadow-4 text-center pt-9 pb-9 pr-9 pr-xl-9  pl-9 pl-xl-9 bg-white rounded-10&quot;&gt;
      &lt;div class=&quot;price-content light-mode-texts&quot;&gt;
        &lt;span class=&quot;small-title gr-text-12 text-uppercase text-red font-weight-bold&quot;&gt;Unlimited&lt;/span&gt;
        &lt;div class=&quot;d-flex align-items-end justify-content-center mt-9 &quot;&gt;
          &lt;span class=&quot;currency mr-2 gr-text-6 text-blackish-blue font-weight-bold line-spacing-none&quot;&gt;$&lt;/span&gt;
          &lt;h2 class=&quot;price-value gr-text-2 font-weight-bold line-spacing-none mb-0 text-blackish-blue&quot;&gt;
            99
          &lt;/h2&gt;
          &lt;span class=&quot;per gr-text-9 text-blackish-blue &quot;&gt;/mo&lt;/span&gt;
        &lt;/div&gt;
        &lt;ul class=&quot;card-list list-style-border text-center pl-0 mt-9 mb-3 mx-auto&quot;&gt;
          &lt;li class=&quot;text-black gr-text-9 border-top mb-0 py-7 d-block&quot;&gt;Unlimited Team Members&lt;/li&gt;
          &lt;li class=&quot;text-black gr-text-9 border-top mb-0 py-7 d-block&quot;&gt;Unlimited Cloud Storage&lt;/li&gt;
          &lt;li class=&quot;text-black gr-text-9 border-top mb-0 py-7 d-block&quot;&gt;Unlimited Meetings&lt;/li&gt;
          &lt;li class=&quot;text-black gr-text-9 border-top mb-0 py-7 d-block&quot;&gt;Premium Support&lt;/li&gt;
        &lt;/ul&gt;
      &lt;/div&gt;
      &lt;a href=&quot;&quot; class=&quot;btn btn-red rounded-8 w-100 mx-auto&quot;&gt;Get Started Now&lt;/a&gt;
    &lt;/div&gt;
    &lt;!-- /.pricing carde Ends--&gt;
  &lt;/div&gt;
  
&lt;/div&gt;
</code>
</pre>
{% endmacro %}  

{% macro dark(settings) %}
 
{% endmacro %} 