{% macro basic(settings) %}
<div class="etement-tab-head border rounded-top-15 pl-9 pr-9 py-6">
  {% if settings.required %}
  <div class="row align-items-center">
    <div class="col-sm-6 col-lg-4 d-flex flex-column justify-content-center text-center text-sm-left mb-7 mb-md-0">
      <p class="gr-text-color gr-text-8 mb-0 font-weight-bold">{{settings.title}} <span class="badge badge-storm"><i class="fas fa-lock"></i></span></p>            
    </div>
    <div class="col-sm-6 col-lg-4 text-center text-sm-right text-md-center mb-7 mb-md-0">
      <a href="#" class="badge rounded-pill text-red px-6 py-3 gr-bg-red-opacity-2 gr-text-12 text-uppercase">Require {{settings.required}}</a>
    </div>
    <div class="col-lg-4 text-center text-lg-right ml-md-auto">
      <a href="#" class="btn-link with-icon gr-text-9 text-blue font-weight-bold">Get the code<i class="fas fa-arrow-right"></i></a>
    </div>
   </div>
  {% endif %}
  {% if not settings.required %}
  <div class="row align-items-center">
    <div class="col-sm-6 d-flex flex-column justify-content-center text-center text-sm-left mb-2 mb-sm-0">
      <p class="gr-text-color gr-text-8 mb-0 font-weight-bold">{{settings.title}}
        <span class="badge badge-storm ml-5 px-3"><i class="fas fa-lock gr-text-14 mr-1"></i> locked</span>
      </p>            
    </div>
    <div class="col-sm-6 text-center text-sm-right ml-md-auto">
      <a href="https://shade.uxtheme.net/shade-pro" class="btn-link with-icon gr-text-9 text-blue font-weight-bold">Get the code<i class="fas fa-arrow-right"></i></a>
    </div>
   </div>
  {% endif %}
</div>
{% endmacro %}

{% macro premium(settings) %}
<div class="etement-tab-head border rounded-top-15 pl-9 pr-7 py-6">
  <div class="row align-items-center justify-content-center">
    <div class="col-sm-6 col-lg-4 d-flex flex-column justify-content-center text-center text-sm-left mb-7 mb-md-0">
      <p class="gr-text-color gr-text-8 mb-0 font-weight-bold">{{settings.title | safe}}</p>            
    </div>
    {% if required %}
      <div class="col-sm-6 col-lg-4 text-center text-sm-right text-md-center mb-7 mb-md-0">
        <a href="#" class="badge rounded-pill text-red px-6 py-3 gr-bg-red-opacity-2 gr-text-12 text-uppercase">Require {{settings.required}}</a>
      </div>
    {% endif %}
    <div class="col-lg-4 ml-lg-auto">
    <!-- Element Tab nav -->
    <ul class="nav element-preview-tab justify-content-center justify-content-md-end" id="elem-tab-{{settings.count}}" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link active" id="tab-nav-{{settings.count}}-1" data-toggle="tab" href="#tab-pane-{{settings.count}}-1" role="tab" aria-controls="#tab-pane-{{settings.count}}-1" aria-selected="true">Preview</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" id="tab-nav-{{settings.count}}-2" data-toggle="tab" href="#tab-pane-{{settings.count}}-2" role="tab" aria-controls="tab-pane-{{settings.count}}-2" aria-selected="false">Code</a>
      </li>
    </ul>
    </div>
   </div>
</div>
{% endmacro %}