{% macro render(additional_class) %}

<div class="newsletter-section bg-default-4 py-13 py-lg-24 border-bottom {{additional_class}}" data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <div class="section-title text-center mb-12">
          <h2 class="title gr-text-3 mb-6">Get latest updates</h2>
          <p class="px-4 gr-text-8 mb-0">With lots of unique blocks, you can easily build a page without coding. Build your next landing page. </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-xl-4 col-lg-6 col-md-7 col-10">
        <div class="subscribe-form mb-9">
          <form action="./">
            <div class="form-group">
              <input class="form-control gr-text-9 border mb-6" type="email" id="email" placeholder="Enter your email">
            </div>
            <div class="button-block">
              <button class="form-btn btn btn-primary w-100">Subscribe</button>
            </div>
          </form>
        </div>
        <div class="form-bottom excerpt text-center">
          <p class="gr-text-11 gr-text-color-opacity mb-0">We’ll never share your details with third parties.<br class="d-none d-xs-block">
            View our Privacy Policy for more info.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endmacro %}
