{% extends "template.njk" %}
{# {% set theme_mode = "dark" %}  #}
{% import "sections/pricing/sec-pricing-3.njk" as  Pricing %}
{% import "sections/header/_header.njk" as Header %}
{% block main %}
{{Header.render(header.innerPage,1)}}
<div class="inner-banner pt-25 pt-lg-31 pb-lg-11 bg-default-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-9">
       <div class="px-md-12 text-center mb-11 mb-lg-13">
        <h2 class="title gr-text-2 mb-7">Our Blog</h2>
        <p class="gr-text-8 mb-0">Read our latest blog posts</p>
       </div>
      </div>
    </div>
  </div>
</div>





{% set post_data = [
  {
    imgpath: "./image/inner/blog-post-1.jpg",
    time: "Jan 14, 2020",
    title: "How did we get 1M+ visitors in 30 days without anything!",
    text: "Throwing consider dwelling bachelor joy her proposal laughter. Raptures returned disposed one entirely her men ham. ",
    link:"Continue Reading"
  },
  {
    imgpath: "./image/inner/blog-post-2.jpg",
    time: "Jan 14, 2020",
    title: "How did we get 1M+ visitors in 30 days without anything!",
    text: "Throwing consider dwelling bachelor joy her proposal laughter. Raptures returned disposed one entirely her men ham. ",
    link:"Continue Reading"
  },
  {
    imgpath: "./image/inner/blog-post-3.jpg",
    time: "Jan 14, 2020",
    title: "How did we get 1M+ visitors in 30 days without anything!",
    text: "Throwing consider dwelling bachelor joy her proposal laughter. Raptures returned disposed one entirely her men ham. ",
    link:"Continue Reading"
  },
  {
    imgpath: "./image/inner/blog-post-4.jpg",
    time: "Jan 14, 2020",
    title: "How did we get 1M+ visitors in 30 days without anything!",
    text: "Throwing consider dwelling bachelor joy her proposal laughter. Raptures returned disposed one entirely her men ham. ",
    link:"Continue Reading"
  }
] 
%}

<!-- Blog Section -->
<div class="pb-13 pb-lg-24 bg-default-2">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="row">
          {% for data in post_data %}
          <div class="col-md-6 pb-9">
            <div class="single-post bg-white rounded-8 border-color-2 light-mode-texts">
              <div class="post-img">
                <img src="{{data.imgpath}}" alt="" class="rounded-top-10 w-100">
              </div>
              <div class="post-content pl-9 pt-8 pr-7 pb-10">
                <h5 class="gr-text-12 mb-7 text-uppercase">{{data.time}}</h5>
                <h3 class="gr-text-7 font-weight-bold mb-5">{{data.title}}</h3>
                <p class="gr-text-11 mb-8">{{data.text}}</p>
                {% if data.link %}
                  <a href="" class="btn-link font-weight-bold gr-text-12 text-uppercase">{{data.link}}</a>
                {% endif %}
              </div>
            </div>
          </div>
          {% endfor %}

        </div>
      </div>
    
    <!-- ./section-title Ends-->
      
      <div class="col-lg-4">
        <p class="gr-text-9 gr-text-9 gr-text-color mb-0">Haven’t got your answer? <br class="d-xs-none"><a href="#" class="btn-link">Contact our support now</a></p>
      </div>
    </div>
    
  </div>
</div>

{% include "_inner-footer.njk" %}

{% endblock %}