{% extends "template.njk" %}
{# {% set theme_mode = "dark" %}  #}

{% import "sections/header/_header.njk" as Header %}
{% block main %}
{{Header.render(header.innerPage,1)}}
<!-- Page Banner Area -->
<div class="inner-banner pt-29 pb-md-13 bg-default-2">
  <div class="container">
    <div class="row  justify-content-center pt-5">
      <div class="col-xl-8 col-lg-9">
       <div class="px-md-15 text-center">
        <h2 class="title gr-text-2 mb-9">Checkout</h2>
        <p class="gr-text-8 mb-13">2 Items on your cart</p>
       </div>
      </div>
    </div>
  </div>
</div>

{% set product_data = [
  {
  image: "image/inner/cart-product-image.png",
  title:"Amazon Echo Super Extra Bass Home System",
  price:"$70",
  quantity:"2",
  total:"$140"
  },
  {
  image: "image/inner/cart-product-image-2.png",
  title:"Apple AirPods with Wired Charging Case",
  price:"$150",
  quantity:"1",
  total:"$150"
  }
] %}

<div class="bg-default-2 pb-17 pb-md-29 ">
  <div class="container">
    
    <div class="row justify-content-md-between pt-9">
      <div class="col-lg-7 col-xl-7">
        <div class="login-form bg-white border-gray-3 px-md-12 px-7 pt-12 pb-13 shadow-1 rounded-10 mb-9">
          <h3 class="gr-text-7 font-weight-bold mb-8 text-blackish-blue">Billing Details</h3>
          <form action="./">
            <div class="row">

               <!-- .name starts -->
              <div class="col-12">
              <div class="form-group mb-7">
                <label for="name" class="gr-text-11 font-weight-bold text-blackish-blue">First & Last Name</label>
                <input class="form-control gr-text-11 border-gray-3 px-4" type="text" id="name" placeholder="i.e. John Doe">
              </div>
              </div>
              <!-- ./name ends -->

              <!-- .email-adress starts -->
              <div class="col-12">
                <div class="form-group mb-7">
                  <label for="email" class="gr-text-11 font-weight-bold text-blackish-blue">Email Address</label>
                  <input class="form-control gr-text-11 border" type="text" id="email" placeholder="i.e. john@mail.com">
                </div>
              </div>
              <!-- ./email-adress ends -->

              <!-- .select-country starts -->
              <div class="col-12 mb-9">
                <div class="form-group">
                  <label for="country" class="gr-text-11 font-weight-bold text-blackish-blue">Country</label>
                  <select name="country-select" id="country" class="nice-select gr-text-11 text-blackish-blue">
                    <option value="">United States of America</option>
                    <option value="">United Arab Emirates</option>
                    <option value="">Bangladesh</option>
                    <option value="">Pakistan</option>
                  </select>
                </div>
              </div>
              <!-- ./select-country ends -->

              <!-- .city/zip starts -->
              <div class="col-md-6">
                <div class="form-group mb-7">
                  <label for="city" class="gr-text-11 font-weight-bold text-blackish-blue">City/State</label>
                  <input class="form-control gr-text-11 border" type="text" id="city" placeholder="City">
                </div>
              </div>
              <!-- ./city/zip ends -->

              <!-- .Zip/Postal starts -->
              <div class="col-md-6 pb-9">
                <div class="form-group mb-7">
                  <label for="zip" class="gr-text-11 font-weight-bold text-blackish-blue">Zip/Postal Code</label>
                  <input class="form-control gr-text-11 border" type="text" id="zip" placeholder="Zip Code">
                </div>
              </div>
              <!-- ./Zip/Postal ends -->

              <!-- .credit-card starts -->
              <div class="col-12 mb-6">
                <h3 class="gr-text-7 font-weight-bold mb-8 text-blackish-blue">Payment Method</h3>
                <div class="form-group mb-7 gr-radio-input d-flex align-items-center w-100 border-gray-3 rounded-5 pt-5 pb-5 px-6">
                  <input type="radio" name="payment" id="credit-card" class="invisible position-absolute pointer-none">
                  <label for="credit-card" class="d-flex align-items-center mb-0 w-100"> 
                    <span class="round-indicator mr-3"></span>
                    <span class="line-height-reset font-weight-bold gr-text-11 text-blackish-blue">Credit Cards </span>
                    <img src="{{root}}image/inner/credit-cards.png" alt="" class="ml-auto d-none d-md-block">
                  </label>
                </div>
              </div>
              <!-- /.credit-card ends -->

              <!-- .card-number starts -->
              <div class="col-12 mb-7">
                <div class="form-group mb-0">
                  <label for="card" class="gr-text-11 font-weight-bold text-blackish-blue">Card Number</label>
                  <div class="position-relative">
                    <input class="form-control gr-text-11 border-gray-3 pr-15" type="number" id="card" placeholder="11154 5665 6464 565">
                    <div class="gr-abs-tr h-100 d-flex align-items-center mr-5">
                      <img src="{{root}}image/inner/visa-image.png" alt="">
                    </div>
                  </div>
                </div>
              </div>
              <!-- ./card-number ends -->

               <!-- .expire-date starts -->
               <div class="col-md-6 mb-7">
                <div class="form-group mb-0">
                  <label for="date" class="gr-text-11 font-weight-bold text-blackish-blue">Expire Date </label>
                  <input class="form-control gr-text-11 border" type="text" id="date" placeholder="Month/Year">
                </div>
              </div>
              <!-- ./expire-date ends -->

              <!-- .security-code starts -->
              <div class="col-md-6 pb-9">
                <div class="form-group mb-0">
                  <label for="code" class="gr-text-11 font-weight-bold text-blackish-blue">Security Code</label>
                  <div class="position-relative">
                    <input class="form-control gr-text-11 border-gray-3 pr-9" type="text" id="code" placeholder="PIN">
                    <i class="far fa-question-circle gr-abs-cr mr-6 "></i>
                  </div>
                </div>
              </div>
              <!-- ./security-code ends -->
              
              <!-- .paypal-card starts -->
              <div class="col-12">
                <div class="form-group mb-8 gr-radio-input d-flex align-items-center w-100 border-gray-3 rounded-5 pt-5 pb-5 px-6">
                  <input type="radio" name="payment" id="paypal" class="invisible position-absolute pointer-none">
                  <label for="paypal" class="d-flex align-items-center mb-0 w-100"> 
                    <span class="round-indicator mr-3"></span>
                    <span class="line-height-reset font-weight-bold gr-text-11  text-blackish-blue">Paypal</span>
                    <img src="{{root}}image/inner/paypal-brand.png" alt="" class="ml-auto">
                  </label>
                </div>
              </div>
              <!-- ./paypal-card starts -->

              <!-- .send-btn starts -->
              <div class="col-12">
                <div class="button-block mt-3 ">
                  <p class="gr-text-11 mb-7 text-blackish-blue">By clicking the button you agree the <a href="terms.html">Terms and Conditions</a></p>
                  <button class="form-btn btn btn-primary w-100">Proceed to checkout</button>
                </div>
              </div>
              <!-- ./send-btn ends -->
            </div>
          </form>
        </div>
      </div>

      <div class="col-sm-7 col-md-7 col-lg-5">
        <div class="bg-white px-7 pt-8 pb-9 rounded-10 ml-lg-8  ml-xl-19 mt-9 mt-md-0">
          <h3 class="gr-text-12 font-weight-bold text-blackish-blue text-uppercase pb-7">Order Details</h3>
          <ul class="list-unstyled">
            <li class="d-flex justify-content-between mb-5">
              <span class="d-block gr-text-9 text-blackish-blue">Total Items</span>
              <div class="d-flex gr-text-9">
                <span class="d-inline-flex  pl-7 pt-5 position-relative mr-2 ">
                  <input type="text" value="02" class="border-0 p-0 w-100 h-100 gr-abs-tl gr-text-9 gr-text-opacity focus-reset pointer-none text-blackish-blue-opacity"> 
                </span>
                items</div>
            </li>
            <li class="mb-5">
              <div class="d-flex position-relative p-6 border-gray-3 rounded-10 pr-12">
                <div class="square-50 mr-6">
                  <img src="{{root}}image/inner/cart-product-small.png" alt="">
                </div>
                <div>
                <h3 class="gr-text-9 mb-0 text-blackish-blue">Apple AirPods Pro…</h3>
                <div class="bottom-texts d-flex justify-content-between">
                  <span class="inline-block gr-text-12 font-weight-bold text-uppercase text-blackish-blue">2 items</span>
                  <span class="inline-block gr-text-12 font-weight-bold text-bold text-blackish-blue">$280</span>
                </div>
               </div>
               <a href="#" class="cross-btn gr-abs-cr mr-7 text-blackish-blue gr-text-8">
                 <i class="icon icon-simple-remove"></i>
               </a>
              </div>
            </li>
            <li class="mb-8">
              <div class="d-flex position-relative p-6 border-gray-3 rounded-10 pr-12">
                <div class="square-50 mr-6">
                  <img src="{{root}}image/inner/cart-product-small.png" alt="">
                </div>
                <div>
                <h3 class="gr-text-9 mb-0 text-blackish-blue">Apple AirPods Pro…</h3>
                <div class="bottom-texts d-flex justify-content-between">
                  <span class="inline-block gr-text-12 font-weight-bold text-uppercase text-blackish-blue">2 items</span>
                  <span class="inline-block gr-text-12 font-weight-bold text-bold text-blackish-blue">$280</span>
                </div>
               </div>
               <a href="#" class="cross-btn gr-abs-cr mr-7 text-blackish-blue gr-text-8">
                 <i class="icon icon-simple-remove"></i>
               </a>
              </div>
            </li>
            <li class="d-flex justify-content-between mb-9">
              <span class="d-block gr-text-9 text-blackish-blue">Delivery Fee</span>
              <span class="d-flex gr-text-9 font-weight-mid text-green-shamrock">FREE</span>
            </li>
            <li class="d-flex justify-content-between">
              <span class="d-block gr-text-7 font-weight-bold text-blackish-blue">Total Price</span>
              <span class="d-block gr-text-7 font-weight-bold text-blackish-blue">$560</span>
            </li>
          </ul>
          <div class="px-1 pt-2">
            <a href="#" class="btn btn-primary gr-text-9 w-100 ">Proceed to checkout</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>







{% include "_inner-footer.njk" %}

{% endblock %}