{% extends "template.njk" %}
{% import "sections/header/_header.njk" as Header %}
{% import "sections/hero-area/hero-2.njk" as Hero %}
{% import "sections/counter/counter-2.njk" as Fact %}
{% import "sections/cta/cta-6.njk" as Cta %}
{% import "sections/videos/video-1.njk" as Video %}
{% import "sections/alert/alert-1.njk" as Alert %}
{% import "sections/testimonial/testimonial-2.njk" as Testimonial %}
{% import "sections/newsletter/newsletter-1.njk" as Newsletter %}
{% import "sections/footers/_footer-2.njk" as Footer %}


{% block main %}
{{Header.render(header.two)}}
  <!-- Hero Area -->
  {{Hero.render(hero.two)}}

  <!-- Fact Counter section -->
  {{Fact.render()}}


  <!-- Service section  -->
  <div class="service-section pt-12 pb-7 pb-lg-25 pt-lg-19">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-sm-10">
          <div class="section-title text-center mb-11 mb-lg-20">
            <h2 class="title gr-text-4 mb-7">Services we offer for you</h2>
            <p class="gr-text-8 px-lg-7 px-xl-0">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-10 col-sm-6 col-lg-3 mb-9 mb-lg-0"  data-aos="fade-left" data-aos-duration="500" data-aos-once="true">
          <div class="service-card rounded-10 border border-gray-3 gr-hover-shadow-1">
            <img src="{{root}}image/l2/jpg/l2-service-img1.jpg" class="card-img-top rounded-top-10" alt="...">
            <div class="card-body bg-white rounded-bottom-10 px-7 py-6">
              <a href="" class="card-title gr-text-9 text-blackish-blue card-btn-link with-icon mb-0">Digital Marketing <i class="icon icon-tail-right font-weight-bold"></i></a>
            </div>
          </div>
        </div>
        <div class="col-10 col-sm-6 col-lg-3 mb-9 mb-lg-0"  data-aos="fade-left" data-aos-duration="1100" data-aos-once="true">
          <div class="service-card rounded-10 border border-gray-3 gr-hover-shadow-1">
            <img src="{{root}}image/l2/jpg/l2-service-img2.jpg" class="card-img-top rounded-top-10" alt="...">
            <div class="card-body bg-white rounded-bottom-10 px-7 py-6">
              <a href="" class="card-title gr-text-9 text-blackish-blue card-btn-link with-icon mb-0">Content Writing <i class="icon icon-tail-right font-weight-bold"></i></a>
            </div>
          </div>
        </div>
        <div class="col-10 col-sm-6 col-lg-3 mb-9 mb-lg-0"  data-aos="fade-left" data-aos-duration="1700" data-aos-once="true">
          <div class="service-card rounded-10 border border-gray-3 gr-hover-shadow-1">
            <img src="{{root}}image/l2/jpg/l2-service-img3.jpg" class="card-img-top rounded-top-10" alt="...">
            <div class="card-body bg-white rounded-bottom-10 px-7 py-6">
              <a href="" class="card-title gr-text-9 text-blackish-blue card-btn-link with-icon mb-0">Graphic Design <i class="icon icon-tail-right font-weight-bold"></i></a>
            </div>
          </div>
        </div>
        <div class="col-10 col-sm-6 col-lg-3 mb-9 mb-lg-0 " data-aos="fade-left" data-aos-duration="2300" data-aos-once="true">
          <div class="service-card rounded-10 border border-gray-3 gr-hover-shadow-1">
            <img src="{{root}}image/l2/jpg/l2-service-img4.jpg" class="card-img-top rounded-top-10" alt="...">
            <div class="card-body bg-white rounded-bottom-10 px-7 py-6">
              <a href="" class="card-title gr-text-9 text-blackish-blue card-btn-link with-icon mb-0">SEO for Business <i class="icon icon-tail-right font-weight-bold"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Content section 2 with video -->
  {{Video.render("./", "bg-default-2")}}


  <!-- Alert section -->
  {{Alert.render()}}


  <!-- Testimonial section -->
  {{Testimonial.render("./", "bg-default-1")}}


  <!-- CTA section -->
  {{Cta.render()}}


  <!-- Newsletter section -->
  {{Newsletter.render()}}


  <!-- Footer section -->
  {% set footer_bg = "bg-default-6" %}
  
  {{Footer.render(footer.two)}}
{% endblock %}
