

{% extends "template.njk" %}
{% import "sections/header/_header.njk" as Header %}
{% import "sections/hero-area/hero-10.njk" as Hero %}
{% import "sections/brand/brand-2.njk" as Brand %}
{% import "sections/blog/blog-1.njk" as Blog %}
{% import "sections/content/content-2.njk" as Content %}
{% import "sections/newsletter/newsletter-3.njk" as Newsletter %}
{% import "sections/footers/_footer-1-dark.njk" as Footer %}


{% block main %}

  {{Header.render(header.ten)}}

  <!-- Hero Area -->
  {{Hero.render(hero.ten)}}

  <!-- Brand section -->
  {{Brand.render()}}



  {% set category_data = [
    {
      title:"Design",
      subtitle: "47 Jobs"
    },
    {
      title:"Marketing",
      subtitle: "51 Jobs"
    },
    {
      title:"Engineering",
      subtitle: "89 Jobs"
    },
    {
      title:"Mangement",
      subtitle: "16 Jobs"
    },
    {
      title:"Finance",
      subtitle: "23 Jobs"
    },
    {
      title:"Customer Support",
      subtitle: "34 Jobs"
    }
    ] 
  %}

  <div class="category-section pt-12 pb-6 pt-lg-26 pb-lg-24 bg-blackish-blue bg-pattern pattern-6">
    <div class="container">
      <div class="row justify-content-lg-between align-items-center">
        <div class="col-lg-6 col-xl-5">
          <div class="section-title mb-7 mb-lg-16 dark-mode-texts">
            <h2 class="title gr-text-4 mb-7">Jobs by category</h2>
            <p class="gr-text-8 mb-0">With lots of unique blocks, you can easily <br class="d-none d-lg-block">build a page without coding.</p>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3">
          <div class="text-lg-right mb-11 mb-lg-0">
            <a href="" class="btn-link with-icon text-green justify-content-lg-end font-weight-bold">Explore all categories<i class="fas fa-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="row">
        {% for data in category_data %}
        <div class="col-md-6 col-lg-4" data-aos="fade-right" data-aos-duration="1100" data-aos-once="true">
          <a href="#" class="d-flex justify-content-between rounded-10 px-9 pt-8 pb-8 align-items-center mb-11 category-card">
            <div class="texts light-mode-texts">
              <h3 class="card-title gr-text-7 font-weight-bold">{{data.title}}</h3>
              <p class="sub-title gr-text-11 mb-0 gr-color-blackish-blue-opacity-7">{{data.subtitle}}</p>
            </div>
            <div class="card-icon circle-43">
              <i class="fas fa-arrow-right gr-text-8 text-white"></i>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>


  <!-- Content section -->
  {{Content.render("./", "pt-11 pb-7 pt-lg-24 pb-lg-28 bg-default-6")}}


  <!-- featured jobs section -->
  <div class="job-site-page feature-section bg-default-6 bg-pattern pattern-5 pt-13 pt-lg-24 pb-2 pb-lg-22">
    <div class="container">
      <div class="row justify-content-lg-between align-items-center pb-9 pb-sm-0">
        <div class="col-sm-8 col-md-6 col-lg-6 col-xl-5">
          <div class="section-title mb-9 mb-sm-13 mb-lg-21">
            <h2 class="title gr-text-4 mb-6">Featured jobs</h2>
            <p class="gr-text-8">With lots of unique blocks, you can easily <br class="d-none d-lg-block"> build a page without coding.</p>
          </div>
        </div>
        <div class="col-sm-4 col-md-6 col-lg-4 col-xl-3">
          <div class="job-feature-slider-arrows ml-auto">
          </div>
        </div>
      </div>
      {% set feature_data = [
        {
          icon : '<img src="./image/job-site/png/circle-logo-1.png" alt="">',
          subtitle:'Full-time',
          subtitle_color:'text-green',
          title:'Senior Software Engineer',
          address:"New York, USA",
          brand_title:'Dorfus'
        },
        {
          icon : '<img src="./image/job-site/png/circle-logo-2.png" alt="">',
          subtitle:'Remote',
          subtitle_color:'text-blue',
          title:'Product Designer',
          address:"Lake Colby, UK",
          brand_title:'Coworks'
        },
        {
          icon : '<img src="./image/job-site/png/circle-logo-3.png" alt="">',
          subtitle:'Full-time',
          subtitle_color:'text-green',
          title:'UX Designer',
          address:"California, USA",
          brand_title:'Askimat'
        },
        {
          icon : '<img src="./image/job-site/png/circle-logo-4.png" alt="">',
          subtitle:'Part-time',
          subtitle_color:'text-red',
          title:'Full-stack Web Developer',
          address:"Katlynburgh, Sweden",
          brand_title:'Greener'
        },
        {
          icon : '<img src="./image/job-site/png/circle-logo-3.png" alt="">',
          subtitle:'Full-time',
          subtitle_color:'text-green',
          title:'UX Designer',
          address:"California, USA",
          brand_title:'Askimat'
        }
        ] %}
      <div class="job-feature-slider" data-aos="fade-up" data-aos-duration="1200" data-aos-once="true">
        {% for data in feature_data %}
        <div class="single-slide">
          <a href="#" class="feature-widget focus-reset bg-white d-flex flex-column min-height-px-297 border rounded-10 pt-8 pb-8 pl-7 pl-lg-9 pr-md-8 pr-lg-10 gr-hover-shadow-1">
            <div class="mb-auto">
              <h5 class="gr-text-12 pb-1 {{data.subtitle_color}} text-uppercase">{{data.subtitle}}</h5>
              <h3 class="gr-text-7 text-blackish-blue">{{data.title}}</h3>
              <p class="gr-text-11 gr-color-blackish-blue-opacity-7 mb-0">{{data.address}}</p>
            </div>
            <div class="d-flex">
              <div class="circle-32 pr-5">
                {{data.icon | safe}}
              </div>
              <div class="text">
                <h3 class="gr-text-8 text-blackish-blue">{{data.brand_title}}</h3>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Blog News section  -->
  {{Blog.render("./", "bg-default-2")}}


  <!-- Newsletter Subscription section -->
  {{Newsletter.render()}}


  <!-- Footer section -->
{{Footer.render(footer.ten)}}


{% endblock %}
