{% extends "template.njk" %}
{# {% set theme_mode = "dark" %}  #}
{% import "sections/pricing/sec-pricing-3.njk" as  Pricing %}
{% import "sections/header/_header.njk" as Header %}
{% block main %}
{{Header.render(header.innerPage,1)}}
<div class="inner-banner pt-25 pt-lg-31 pb-lg-11 bg-default-6">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-9">
       <div class="px-md-12 text-center mb-11 mb-lg-13">
        <h2 class="title gr-text-2 mb-9 mb-lg-12">Pricing & Plans</h2>
        <p class="gr-text-8 mb-0">With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.</p>
       </div>
      </div>
    </div>
  </div>
</div>


 <!-- Pricing section  -->
 <div class="pricing-section pb-5 pb-lg-20 bg-default-6">
  <div class="container">
    {{Pricing.render()}}
  </div>
</div>


{% set faq_data = [
  {
    title: "Can I use Albino for my clients?",
    text: "With lots of unique blocks, you can easily build a page without coding. Build your next landing page. Integer ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre.",
    link:"Click to learn more"
  },
  {
    title: "Does it work with WordPress?",
    text: "With lots of unique blocks, you can easily build a page without coding. Build your next landing page. Integer ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre."
  },
  {
    title: "Do I get free updates?",
    text: "With lots of unique blocks, you can easily build a page without coding. Build your next landing page. Integer ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre."
  },
  {
    title: "Will you provide support?",
    text: "With lots of unique blocks, you can easily build a page without coding. Build your next landing page. Integer ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre."
  }
] 
%}

<!-- Feature Section (Pricing Page) -->
<div class="pb-13 pb-lg-24 bg-default-6">
  <div class="container">
    
    <!-- ./section-title Ends-->
    <div class="row justify-content-center">
      {% for data in faq_data %}
        <div class="col-xl-6 col-lg-6 pb-9 pb-lg-15">
          <div class="faq d-flex">
            <div class="faq-icon mt-1 circle-xs bg-green text-white mr-5 mr-sm-7">
              <i class="fas fa-question"></i>
            </div>
            <div class="faq-texts pr-md-7 pr-lg-0 pr-xl-7">
              <h3 class="gr-text-7 font-weight-bold mb-7">{{data.title}}</h3>
              <p class="gr-text-9 mb-0">{{data.text}}</p>
              {% if data.link %}
                <a href="" class="btn-link with-icon font-weight-bold gr-text-9 mt-9">{{data.link}} <i class="fas fa-arrow-right font-weight-bold"></i></a>
              {% endif %}
            </div>
          </div>
        </div>
        {% endfor %}
      <div class="col-12 text-center mt-lg-9 ">
        <p class="gr-text-9 gr-text-9 gr-text-color mb-0">Haven’t got your answer? <br class="d-xs-none"><a href="#" class="btn-link">Contact our support now</a></p>
      </div>
    </div>
    
  </div>
</div>

{% include "_inner-footer.njk" %}

{% endblock %}