{% extends "template.njk" %}
{% import "sections/header/_header.njk" as Header %}
{% import "sections/hero-area/hero-1.njk" as Hero %}
{% import "sections/features/feature-1.njk" as Feature %}
{% import "sections/cta/cta-1.njk" as Cta %}
{% import "sections/counter/counter-1.njk" as Fact %}
{% import "sections/testimonial/testimonial-1.njk" as Testimonial %}
{% import "sections/pricing/sec-pricing-3.njk" as Pricing %}
{% import "sections/faq/faq-1.njk" as Faq %}
{% import "sections/footers/_footer.njk" as Footer %}

{% block main %}

  {{Header.render(header.one)}}

  <!-- Hero Area -->
  {{Hero.render(hero.one)}}


  <!-- Feature section -->
  {{Feature.render()}}


  <!-- Content section 1 -->
  <div class="content-section pt-12 pb-13 pt-lg-21 pb-lg-22 bg-default-2">
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-5 pr-lg-9 col-sm-10">
          <div class="content-text">
            <h2 class="gr-text-4 mb-8">Getting started with Albino is easier than ever</h2>
            <p class="gr-text-8 pr-4 mb-11">With lots of unique blocks, you can easily build a page without coding. Build your next landing page so quickly with Albino.</p>
            <div class="content-btn">
              <a href="#" class="btn btn-primary with-icon gr-hover-y">Get started for free<i class="icon icon-tail-right font-weight-bold"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-1 col-sm-10 mt-10 mt-lg-0">
          <div class="content-img img-group-1" data-aos="zoom-in" data-aos-duration="500" data-aos-once="true">
            <img class="img-fluid" src="{{root}}image/l1/png/l1-content1-img.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Fact Counter section -->
  {{Fact.render()}}


  <!-- Content section 2 -->
  <div class="content-section2 pt-12 pb-5 pt-lg-19 pb-lg-23 bg-default-1">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 col-lg-8 col-md-10">
          <div class="section-title text-center mb-11 mb-lg-19">
            <h2 class="gr-text-4 mb-6">Manage your projects fast</h2>
            <p class="gr-text-8 px-lg-4">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
          </div>
        </div>
      </div>
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 col-sm-10 mb-10 mb-lg-0">
          <div class="content-img img-group-2">
            <img class="img-fluid" src="{{root}}image/l1/png/l1-content2-img.png" alt="">
          </div>
        </div>
        <div class="col-sm-11 col-lg-6 col-xl-5">
          <div class="content-widget-1 pl-lg-9">
            <div class="media single-widget mb-7">
              <div class="count circle-sm gr-bg-blue-opacity-1 mr-8">
                <span class="text-primary--light-only gr-text-9">1</span>
              </div>
              <div class="media-body">
                <h3 class="gr-text-7">Create a project</h3>
                <p class="gr-text-9">With lots of unique blocks, you can easily build a page without coding. </p>
              </div>
            </div>
            <div class="media single-widget mb-7">
              <div class="count circle-sm gr-bg-blue-opacity-1 mr-8">
                <span class="text-primary--light-only gr-text-9">2</span>
              </div>
              <div class="media-body">
                <h3 class="gr-text-7">Assign related people</h3>
                <p class="gr-text-9">With lots of unique blocks, you can easily build a page without coding. </p>
              </div>
            </div>
            <div class="media single-widget mb-7">
              <div class="count circle-sm gr-bg-blue-opacity-1 mr-8">
                <span class="text-primary--light-only gr-text-9">3</span>
              </div>
              <div class="media-body">
                <h3 class="gr-text-7">Make it done on-time</h3>
                <p class="gr-text-9">With lots of unique blocks, you can easily build a page without coding. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Testimonial section -->
  {{Testimonial.render("./", "bg-default-2")}}

  <!-- Pricing section -->
 
<div class="pricing-section bg-blackish-blue pt-12 pb-7 pt-lg-22 pb-lg-17" id="pricing">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-7 col-lg-8 col-md-10">
        <div class="section-title text-center mb-12 mb-lg-16">
          <h2 class="gr-text-4 mb-7 text-white">Pricing &amp; Plans</h2>
          <p class="gr-text-8 px-lg-8 gr-color-white-opacity-7 mb-0">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
        </div>
      </div>
    </div>
    {{Pricing.render()}}
  </div>
</div>


  <!-- faq section -->
  {{Faq.render("pb-12 pb-lg-24 bg-blackish-blue dark-mode-texts")}}

  <!-- CTA section -->
  {{Cta.render()}}
  
  <!-- Footer section -->
  {{Footer.render(footer.one)}}

{% endblock %}