{% extends "template.njk" %}
{% import "sections/header/_header.njk" as Header %}
{% import "sections/hero-area/hero-12.njk" as Hero %}
{% import "sections/brand/brand-3.njk" as Brand %}
{% import "sections/team/team-2.njk" as Team %}
{% import "sections/features/feature-8.njk" as Feature %}
{% import "sections/content/content-12.njk" as ContentOne %}
{% import "sections/content/content-13.njk" as ContentTwo %}
{% import "sections/content/content-14.njk" as ContentThree %}
{% import "sections/cta/cta-7.njk" as Cta %}

{% import "sections/footers/_footer-2.njk" as Footer %}
{% set "wrapper_class" = " position-relative" %}

{% block main %}
<div class="d-flex">
  <span class="border-3 border-blue d-flex w-100"></span>
  <span class="border-3 border-red d-flex w-100"></span>
  <span class="border-3 border-green d-flex w-100"></span>
</div>
{{Header.render(header.twelve)}}
  <!-- Hero Area -->
  {{Hero.render(hero.twelve)}}

  <!-- Brand section -->
  {{Brand.render("./", "pt-13 pt-lg-17 pb-11 border-bottom bg-default-6")}}



  <!-- Feature section -->
  {{Feature.render("./", "pt-14 pt-lg-21 pb-7 bg-default-6")}}


  <!-- Content section 1 -->
  {{ContentOne.render("./",{id:"animation-area-2"})}}
  
  <!-- Content section 2 -->
  {{ContentTwo.render("./")}}

  

  <!-- Team section -->
  {{Team.render("../",{wrapper_class:"bg-default-2"})}}

  <!-- Content section 3 -->
  {{ContentThree.render("./")}}


  <!-- CTA section -->
  {{Cta.render("./", "pt-13 pt-lg-25 pb-13 pb-lg-25 bg-blue bg-pattern pattern-7")}}


  <!-- Footer section -->
  {% set footer_bg = "bg-default-6" %}
  
  {{Footer.render(footer.two)}}
{% endblock %}


{% block pluginjs %}
<script src="plugins/tilt/tilt.jquery.js"></script> <!-- Load Tilt.js library -->
{% endblock %}