

{% extends "template.njk" %}
{% import "sections/header/_header.njk" as Header %}
{% import "sections/hero-area/hero-11.njk" as Hero %}
{% import "sections/pricing/sec-pricing-6.njk" as Pricing %}
{% import "sections/counter/counter-6.njk" as RatingSection %}
{% import "sections/content/content-15.njk" as ContentOne %}
{% import "sections/content/content-16.njk" as ContentTwo %}
{% import "sections/content/content-17.njk" as ContentThree %}


{% import "sections/newsletter/newsletter-3.njk" as Newsletter %}
{% import "sections/footers/_footer-1-dark.njk" as Footer %}


{% block main %}

  {{Header.render(header.eleven)}}

  <!-- Hero Area -->
  {{Hero.render({root:"./"})}}
  

  <!-- Rating section  -->
  {{RatingSection.render()}}

  <!-- Content section 1 -->
{{ContentOne.render()}}

  <!-- Content section 2 -->
  {{ContentTwo.render()}}

  <!-- Content section 3 -->
  {{ContentThree.render()}}


  
  <!-- Pricing section -->
  <div class="pricing-section pt-14 pb-9 pt-lg-25 pb-lg-25 bg-default-2">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-10">
          <div class="section-title text-center mb-12 mb-lg-21">
            <h2 class="title gr-text-4 mb-6">Get started your meeting</h2>
            <p class="gr-text-8 px-lg-7 px-xl-0">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
          </div>
        </div>
      </div>
      {{Pricing.render()}}
    </div>
  </div>


  <!-- Footer section -->
{{Footer.render(footer.ten)}}


{% endblock %}
