{% macro render(additional_classes) %}
  <div class="{{additional_classes}}footer-section pt-13 pt-lg-25 pb-lg-19">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4">
          <div class="footer-logo mb-11">
            <a href="index.html">
              <img src="./image/logo-main-black.png" alt="" class="light-version-logo ">
              <img src="./image/logo-main-white.png" alt="" class="dark-version-logo">
            </a>
          </div>
          <p class="gr-text-11">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
          <ul class="social-icons py-7 list-unstyled">
            <li><a href="" class="gr-text-color gr-hover-text-blue"><i class="icon icon-logo-twitter"></i></a></li>
            <li><a href="" class="gr-text-color gr-hover-text-blue"><i class="icon icon-logo-facebook"></i></a></li>
            <li><a href="" class="gr-text-color gr-hover-text-blue"><i class="icon icon-instant-camera-2"></i></a></li>
            <li><a href="" class="gr-text-color gr-hover-text-blue"><i class="icon icon-logo-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-8 offset-lg-1 col-md-8">
          <div class="row">
            <div class="col-xs-6 col-lg-3">
              <div class="single-footer mb-13 mb-lg-9">
                <p class="footer-title gr-text-11">Company</p>
                <ul class="footer-list list-unstyled gr-text-9">
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">About us</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Contact us</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Careers</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Press</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3">
              <div class="single-footer mb-13 mb-lg-9">
                <p class="footer-title gr-text-11">Product</p>
                <ul class="footer-list list-unstyled gr-text-9">
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Features</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Pricing</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">News</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Help desk</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Support</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3">
              <div class="single-footer mb-13 mb-lg-9">
                <p class="footer-title gr-text-11">Services</p>
                <ul class="footer-list list-unstyled gr-text-9">
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Digital Marketing</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Content Writing</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">SEO for Business</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">UI Design</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3">
              <div class="single-footer mb-13 mb-lg-9">
                <p class="footer-title gr-text-11">Legal</p>
                <ul class="footer-list list-unstyled gr-text-9">
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Privacy Policy</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Terms &amp; Conditions</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Return Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}
{% macro code(additional_classes) %}
  <div class="{{additional_classes}}footer-section pt-13 pt-lg-25 pb-lg-19">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-4">
          <div class="footer-logo mb-11">
            <a href="index.html">
              <img src="./image/logo-main-black.png" alt="" class="light-version-logo ">
              <img src="./image/logo-main-white.png" alt="" class="dark-version-logo">
            </a>
          </div>
          <p class="gr-text-11">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
          <ul class="social-icons py-7 list-unstyled">
            <li><a href="" class="gr-text-color gr-hover-text-blue"><i class="icon icon-logo-twitter"></i></a></li>
            <li><a href="" class="gr-text-color gr-hover-text-blue"><i class="icon icon-logo-facebook"></i></a></li>
            <li><a href="" class="gr-text-color gr-hover-text-blue"><i class="icon icon-instant-camera-2"></i></a></li>
            <li><a href="" class="gr-text-color gr-hover-text-blue"><i class="icon icon-logo-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-8 offset-lg-1 col-md-8">
          <div class="row">
            <div class="col-xs-6 col-lg-3">
              <div class="single-footer mb-13 mb-lg-9">
                <p class="footer-title gr-text-11">Company</p>
                <ul class="footer-list list-unstyled gr-text-9">
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">About us</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Contact us</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Careers</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Press</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3">
              <div class="single-footer mb-13 mb-lg-9">
                <p class="footer-title gr-text-11">Product</p>
                <ul class="footer-list list-unstyled gr-text-9">
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Features</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Pricing</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">News</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Help desk</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Support</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3">
              <div class="single-footer mb-13 mb-lg-9">
                <p class="footer-title gr-text-11">Services</p>
                <ul class="footer-list list-unstyled gr-text-9">
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Digital Marketing</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Content Writing</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">SEO for Business</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">UI Design</a></li>
                </ul>
              </div>
            </div>
            <div class="col-xs-6 col-lg-3">
              <div class="single-footer mb-13 mb-lg-9">
                <p class="footer-title gr-text-11">Legal</p>
                <ul class="footer-list list-unstyled gr-text-9">
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Privacy Policy</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Terms &amp; Conditions</a></li>
                  <li class="py-2"><a href="" class="gr-text-color gr-hover-text-blue">Return Policy</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}