{% macro render(options) %}
<div class="footer-section pt-17 pt-lg-21{{options.wrapper_classes}}">
  <div class="container">
    <div class="footer-top pb-lg-14">
      <div class="row">
        <div class="col-6 col-lg-2">
          <div class="single-footer mb-13 mb-lg-9">
            <p class="footer-title gr-text-11 mb-7">Company</p>
            <ul class="footer-list list-unstyled">
              <li class="py-2"><a class="gr-text-9 gr-text-color gr-hover-text-red" href="">About us</a></li>
              <li class="py-2"><a class="gr-text-9 gr-text-color gr-hover-text-red" href="">Contact us</a></li>
              <li class="py-2"><a class="gr-text-9 gr-text-color gr-hover-text-red" href="">Careers</a></li>
              <li class="py-2"><a class="gr-text-9 gr-text-color gr-hover-text-red" href="">Press</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-lg-2">
          <div class="single-footer mb-13 mb-lg-9">
            <p class="footer-title gr-text-11 mb-7">Product</p>
            <ul class="footer-list list-unstyled">
              <li class="py-2"><a class="gr-text-9 gr-text-color gr-hover-text-red" href="">Features</a></li>
              <li class="py-2"><a class="gr-text-9 gr-text-color gr-hover-text-red" href="">Pricing</a></li>
              <li class="py-2"><a class="gr-text-9 gr-text-color gr-hover-text-red" href="">News</a></li>
              <li class="py-2"><a class="gr-text-9 gr-text-color gr-hover-text-red" href="">Help desk</a></li>
              <li class="py-2"><a class="gr-text-9 gr-text-color gr-hover-text-red" href="">Support</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-lg-3">
          <div class="single-footer mb-13 mb-lg-9">
            <p class="footer-title gr-text-11 mb-7">Legal</p>
            <ul class="footer-list list-unstyled">
              <li class="py-2"><a class="gr-text-9 gr-text-color gr-hover-text-red" href="">Privacy Policy</a></li>
              <li class="py-2"><a class="gr-text-9 gr-text-color gr-hover-text-red" href="">Terms & Conditions</a></li>
              <li class="py-2"><a class="gr-text-9 gr-text-color gr-hover-text-red" href="">Return Policy</a></li>
            </ul>
          </div>
        </div>
        <div class="col-6 col-lg-3 offset-lg-2">
          <div class="single-footer mb-13 mb-lg-9">
            <div class="download-block">
              <p class="download-title gr-text-11 mb-9">Download Our App</p>
              <div class="download-btns">
                <a href="#"><img src="{{options.buttonImageOne}}" alt="" class="mb-5 w-100 w-xs-auto"></a>
                <a href="#"><img src="{{options.buttonImageTwo}}" alt="" class="w-100 w-xs-auto"></a>
              </div>
            </div>
          </div>
        </div>
        
      </div>
    </div>
    <div class="copyright-area border-top py-9">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <p class="copyright-text gr-text-11 mb-6 mb-lg-0 gr-text-color text-center text-lg-left">
            © 2020 Copyright, All Right Reserved, Made by Grayic with
            <i class="icon icon-heart-2-2 text-red align-middle ml-2"></i>
          </p>
        </div>
        <div class="col-lg-6 text-center text-lg-right">
          <ul class="social-icons list-unstyled mb-0">
            <li class="ml-7"><a href="" class="gr-text-color gr-hover-text-red"><i class="icon icon-logo-twitter"></i></a></li>
            <li class="ml-7"><a href="" class="gr-text-color gr-hover-text-red"><i class="icon icon-logo-facebook"></i></a></li>
            <li class="ml-7"><a href="" class="gr-text-color gr-hover-text-red"><i class="icon icon-instant-camera-2"></i></a></li>
            <li class="ml-7"><a href="" class="gr-text-color gr-hover-text-red"><i class="icon icon-logo-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

{% endmacro %}


{% macro code(options) %}
<pre class="language-markup">
  <code>
&lt;div class=&quot;footer-section pt-17 pt-lg-21{{options.wrapper_classes}}&quot;&gt;
  &lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;footer-top pb-lg-14&quot;&gt;
      &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-6 col-lg-2&quot;&gt;
          &lt;div class=&quot;single-footer mb-13 mb-lg-9&quot;&gt;
            &lt;p class=&quot;footer-title gr-text-11 mb-7&quot;&gt;Company&lt;/p&gt;
            &lt;ul class=&quot;footer-list list-unstyled&quot;&gt;
              &lt;li class=&quot;py-2&quot;&gt;&lt;a class=&quot;gr-text-9 gr-text-color gr-hover-text-red&quot; href=&quot;&quot;&gt;About us&lt;/a&gt;&lt;/li&gt;
              &lt;li class=&quot;py-2&quot;&gt;&lt;a class=&quot;gr-text-9 gr-text-color gr-hover-text-red&quot; href=&quot;&quot;&gt;Contact us&lt;/a&gt;&lt;/li&gt;
              &lt;li class=&quot;py-2&quot;&gt;&lt;a class=&quot;gr-text-9 gr-text-color gr-hover-text-red&quot; href=&quot;&quot;&gt;Careers&lt;/a&gt;&lt;/li&gt;
              &lt;li class=&quot;py-2&quot;&gt;&lt;a class=&quot;gr-text-9 gr-text-color gr-hover-text-red&quot; href=&quot;&quot;&gt;Press&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-6 col-lg-2&quot;&gt;
          &lt;div class=&quot;single-footer mb-13 mb-lg-9&quot;&gt;
            &lt;p class=&quot;footer-title gr-text-11 mb-7&quot;&gt;Product&lt;/p&gt;
            &lt;ul class=&quot;footer-list list-unstyled&quot;&gt;
              &lt;li class=&quot;py-2&quot;&gt;&lt;a class=&quot;gr-text-9 gr-text-color gr-hover-text-red&quot; href=&quot;&quot;&gt;Features&lt;/a&gt;&lt;/li&gt;
              &lt;li class=&quot;py-2&quot;&gt;&lt;a class=&quot;gr-text-9 gr-text-color gr-hover-text-red&quot; href=&quot;&quot;&gt;Pricing&lt;/a&gt;&lt;/li&gt;
              &lt;li class=&quot;py-2&quot;&gt;&lt;a class=&quot;gr-text-9 gr-text-color gr-hover-text-red&quot; href=&quot;&quot;&gt;News&lt;/a&gt;&lt;/li&gt;
              &lt;li class=&quot;py-2&quot;&gt;&lt;a class=&quot;gr-text-9 gr-text-color gr-hover-text-red&quot; href=&quot;&quot;&gt;Help desk&lt;/a&gt;&lt;/li&gt;
              &lt;li class=&quot;py-2&quot;&gt;&lt;a class=&quot;gr-text-9 gr-text-color gr-hover-text-red&quot; href=&quot;&quot;&gt;Support&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-6 col-lg-3&quot;&gt;
          &lt;div class=&quot;single-footer mb-13 mb-lg-9&quot;&gt;
            &lt;p class=&quot;footer-title gr-text-11 mb-7&quot;&gt;Legal&lt;/p&gt;
            &lt;ul class=&quot;footer-list list-unstyled&quot;&gt;
              &lt;li class=&quot;py-2&quot;&gt;&lt;a class=&quot;gr-text-9 gr-text-color gr-hover-text-red&quot; href=&quot;&quot;&gt;Privacy Policy&lt;/a&gt;&lt;/li&gt;
              &lt;li class=&quot;py-2&quot;&gt;&lt;a class=&quot;gr-text-9 gr-text-color gr-hover-text-red&quot; href=&quot;&quot;&gt;Terms &amp; Conditions&lt;/a&gt;&lt;/li&gt;
              &lt;li class=&quot;py-2&quot;&gt;&lt;a class=&quot;gr-text-9 gr-text-color gr-hover-text-red&quot; href=&quot;&quot;&gt;Return Policy&lt;/a&gt;&lt;/li&gt;
            &lt;/ul&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-6 col-lg-3 offset-lg-2&quot;&gt;
          &lt;div class=&quot;single-footer mb-13 mb-lg-9&quot;&gt;
            &lt;div class=&quot;download-block&quot;&gt;
              &lt;p class=&quot;download-title gr-text-11 mb-9&quot;&gt;Download Our App&lt;/p&gt;
              &lt;div class=&quot;download-btns&quot;&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;{{options.buttonImageOne}}&quot; alt=&quot;&quot; class=&quot;mb-5 w-100 w-xs-auto&quot;&gt;&lt;/a&gt;
                &lt;a href=&quot;#&quot;&gt;&lt;img src=&quot;{{options.buttonImageTwo}}&quot; alt=&quot;&quot; class=&quot;w-100 w-xs-auto&quot;&gt;&lt;/a&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        
      &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;copyright-area border-top py-9&quot;&gt;
      &lt;div class=&quot;row align-items-center&quot;&gt;
        &lt;div class=&quot;col-lg-6&quot;&gt;
          &lt;p class=&quot;copyright-text gr-text-11 mb-6 mb-lg-0 gr-text-color text-center text-lg-left&quot;&gt;
            &copy; 2020 Copyright, All Right Reserved, Made by Grayic with
            &lt;i class=&quot;icon icon-heart-2-2 text-red align-middle ml-2&quot;&gt;&lt;/i&gt;
          &lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-lg-6 text-center text-lg-right&quot;&gt;
          &lt;ul class=&quot;social-icons list-unstyled mb-0&quot;&gt;
            &lt;li class=&quot;ml-7&quot;&gt;&lt;a href=&quot;&quot; class=&quot;gr-text-color gr-hover-text-red&quot;&gt;&lt;i class=&quot;icon icon-logo-twitter&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;ml-7&quot;&gt;&lt;a href=&quot;&quot; class=&quot;gr-text-color gr-hover-text-red&quot;&gt;&lt;i class=&quot;icon icon-logo-facebook&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;ml-7&quot;&gt;&lt;a href=&quot;&quot; class=&quot;gr-text-color gr-hover-text-red&quot;&gt;&lt;i class=&quot;icon icon-instant-camera-2&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
            &lt;li class=&quot;ml-7&quot;&gt;&lt;a href=&quot;&quot; class=&quot;gr-text-color gr-hover-text-red&quot;&gt;&lt;i class=&quot;icon icon-logo-linkedin&quot;&gt;&lt;/i&gt;&lt;/a&gt;&lt;/li&gt;
          &lt;/ul&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

{% endmacro %}