{% macro code( settings,count) %}
<pre class="language-markup">
  <code>
  <!-- Header Area -->
  &lt;header class=&quot;site-header{{ ' ' + settings.header_type if settings.header_type }}{{ ' site-header--absolute' if settings.absolute_header}}{{ ' site-header--sticky' if settings.sticky_header}}{{ ' mobile-sticky-enable' if settings.mobile_sticky}}{{settings.additional_class}}&quot;&gt;
  &lt;div class=&quot;container{{ '-fluid' if  settings.container_fluid}} pr-lg--30 pl-lg--30&quot;&gt;
    &lt;nav class=&quot;navbar site-navbar offcanvas-active navbar-expand-lg  px-0&quot;&gt;
      &lt;!-- Brand Logo--&gt;
      &lt;div class=&quot;brand-logo&quot;&gt;
      &lt;a href=&quot;index.html&quot;&gt;
        &lt;img src=&quot;{{ settings.root }}image/logo-main-black.png&quot; alt=&quot;&quot; class=&quot;light-version-logo &quot;&gt;
        &lt;img src=&quot;{{settings.root}}image/logo-main-white.png&quot; alt=&quot;&quot; class=&quot;dark-version-logo&quot;&gt;&lt;/a&gt;
        &lt;/div&gt;
      &lt;div class=&quot;collapse navbar-collapse&quot; id=&quot;mobile-menu{{count}}&quot;&gt;
        &lt;div class=&quot;navbar-nav-wrapper&quot;&gt;
        {% if not dropdownStyle2 %}
        &lt;ul class=&quot;navbar-nav main-menu&quot;&gt;
          &lt;li class=&quot;nav-item dropdown&quot;&gt;
            &lt;a
              class=&quot;nav-link dropdown-toggle gr-toggle-arrow&quot;
              id=&quot;navbarDropdown&quot;
              href=&quot;#features&quot;
              role=&quot;button&quot;
              data-toggle=&quot;dropdown&quot;
              aria-haspopup=&quot;true&quot;
              aria-expanded=&quot;false&quot;
              &gt;Demos &lt;i class=&quot;icon icon-small-down&quot;&gt;&lt;/i&gt;&lt;/a&gt;
              &lt;ul class=&quot;gr-menu-dropdown dropdown-menu&quot; aria-labelledby=&quot;navbarDropdown&quot;&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}saas-subscription.html&quot;&gt;
                    SaaS Subscription
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}consultation.html&quot;&gt;
                    Consultation
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}b2b.html&quot;&gt;
                    B2B
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}web-application.html&quot;&gt;
                    Web Application
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}agency.html&quot;&gt;
                    Agency
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}mobile-app.html&quot;&gt;
                    Mobile App
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}product.html&quot;&gt;
                    Product
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}ecommerce.html&quot;&gt;
                    ECommerce
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}co-working.html&quot;&gt;
                    Coworking
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}job-directory.html&quot;&gt;
                    Job Site
                  &lt;/a&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
          &lt;/li&gt;
          &lt;li class=&quot;nav-item dropdown&quot;&gt;
            &lt;a
              class=&quot;nav-link dropdown-toggle gr-toggle-arrow&quot;
              id=&quot;navbarDropdown2&quot;
              href=&quot;#features&quot;
              role=&quot;button&quot;
              data-toggle=&quot;dropdown&quot;
              aria-haspopup=&quot;true&quot;
              aria-expanded=&quot;false&quot;
              &gt;Pages &lt;i class=&quot;icon icon-small-down&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;ul class=&quot;gr-menu-dropdown dropdown-menu&quot; aria-labelledby=&quot;navbarDropdown2&quot;&gt;
              &lt;li class=&quot;drop-menu-item&quot;&gt;
                &lt;a href=&quot;{{root}}about.html&quot;&gt;
                  About us
                &lt;/a&gt;
              &lt;/li&gt;
              &lt;li class=&quot;drop-menu-item dropdown&quot;&gt;
                &lt;a class=&quot;dropdown-toggle gr-toggle-arrow&quot; id=&quot;navbarDropdown21&quot;
                href=&quot;#&quot;
                role=&quot;button&quot;
                data-toggle=&quot;dropdown&quot;
                aria-haspopup=&quot;true&quot;
                aria-expanded=&quot;false&quot;&gt;
                Career 
                &lt;i class=&quot;icon icon-small-down&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
                &lt;ul class=&quot;gr-menu-dropdown dropdown-menu dropdown-right&quot; aria-labelledby=&quot;navbarDropdown21&quot;&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}job-opening.html&quot;&gt;
                      Job opening 
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}job-details.html&quot;&gt;
                      Job Details
                    &lt;/a&gt;
                  &lt;/li&gt;
                &lt;/ul&gt;
              &lt;/li&gt;
              &lt;li class=&quot;drop-menu-item dropdown&quot;&gt;
                &lt;a class=&quot;dropdown-toggle gr-toggle-arrow&quot; id=&quot;navbarDropdown24&quot;
                href=&quot;#&quot;
                role=&quot;button&quot;
                data-toggle=&quot;dropdown&quot;
                aria-haspopup=&quot;true&quot;
                aria-expanded=&quot;false&quot;&gt;
                  Pricing 
                  &lt;i class=&quot;icon icon-small-down&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
                &lt;ul class=&quot;gr-menu-dropdown dropdown-menu dropdown-right&quot; aria-labelledby=&quot;navbarDropdown24&quot;&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}pricing-1.html&quot;&gt;
                      Pricing 01
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}pricing-2.html&quot;&gt;
                      Pricing 02
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}pricing-3.html&quot;&gt;
                      Pricing 03
                    &lt;/a&gt;
                  &lt;/li&gt;
                &lt;/ul&gt;
              &lt;/li&gt;
              &lt;li class=&quot;drop-menu-item dropdown&quot;&gt;
                &lt;a class=&quot;dropdown-toggle gr-toggle-arrow&quot; id=&quot;navbarDropdown25&quot;
                href=&quot;#&quot;
                role=&quot;button&quot;
                data-toggle=&quot;dropdown&quot;
                aria-haspopup=&quot;true&quot;
                aria-expanded=&quot;false&quot;&gt;
                  Contact 
                  &lt;i class=&quot;icon icon-small-down&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
                &lt;ul class=&quot;gr-menu-dropdown dropdown-menu dropdown-right&quot; aria-labelledby=&quot;navbarDropdown25&quot;&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}contact.html&quot;&gt;
                      Contact 01
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}contact-2.html&quot;&gt;
                      Contact 02
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}contact-3.html&quot;&gt;
                      Contact 03
                    &lt;/a&gt;
                  &lt;/li&gt;
                &lt;/ul&gt;
              &lt;/li&gt;
              &lt;li class=&quot;drop-menu-item dropdown&quot;&gt;
                &lt;a class=&quot;dropdown-toggle gr-toggle-arrow&quot; id=&quot;navbarDropdown26&quot;
                href=&quot;#&quot;
                role=&quot;button&quot;
                data-toggle=&quot;dropdown&quot;
                aria-haspopup=&quot;true&quot;
                aria-expanded=&quot;false&quot;&gt;
                Account 
                &lt;i class=&quot;icon icon-small-down&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
                &lt;ul class=&quot;gr-menu-dropdown dropdown-menu dropdown-right&quot; aria-labelledby=&quot;navbarDropdown26&quot;&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}sign-in.html&quot;&gt;
                      Sign In
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}sign-up.html&quot;&gt;
                      Sign Up
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}forget-pass.html&quot;&gt;
                      Reset Password
                    &lt;/a&gt;
                  &lt;/li&gt;
                &lt;/ul&gt;
              &lt;/li&gt;
              &lt;li class=&quot;drop-menu-item dropdown&quot;&gt;
                &lt;a class=&quot;dropdown-toggle gr-toggle-arrow&quot; id=&quot;navbarDropdown27&quot;
                href=&quot;#&quot;
                role=&quot;button&quot;
                data-toggle=&quot;dropdown&quot;
                aria-haspopup=&quot;true&quot;
                aria-expanded=&quot;false&quot;&gt;
                  Utitlity
                  &lt;i class=&quot;icon icon-small-down&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
                &lt;ul class=&quot;gr-menu-dropdown dropdown-menu dropdown-right&quot; aria-labelledby=&quot;navbarDropdown27&quot;&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}terms.html&quot;&gt;
                      Terms &amp; Conditions
                    &lt;/a&gt;
                  &lt;/li&gt;
                &lt;/ul&gt;
              &lt;/li&gt;
              &lt;li class=&quot;drop-menu-item dropdown&quot;&gt;
                &lt;a class=&quot;dropdown-toggle gr-toggle-arrow&quot; id=&quot;navbarDropdown27&quot;
                href=&quot;#&quot;
                role=&quot;button&quot;
                data-toggle=&quot;dropdown&quot;
                aria-haspopup=&quot;true&quot;
                aria-expanded=&quot;false&quot;&gt;
                  E-commerce
                  &lt;i class=&quot;icon icon-small-down&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
                &lt;ul class=&quot;gr-menu-dropdown dropdown-menu dropdown-right&quot; aria-labelledby=&quot;navbarDropdown27&quot;&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}product-details.html&quot;&gt;Product Details&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}cart.html&quot;&gt;Cart&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}checkout.html&quot;&gt;Checkout&lt;/a&gt;
                  &lt;/li&gt;
                &lt;/ul&gt;
              &lt;/li&gt;
            &lt;/ul&gt;
          &lt;/li&gt;
          {% if not hideMegamenu %}
          &lt;li class=&quot;nav-item dropdown dropdown-mega&quot;&gt;
            &lt;a
              class=&quot;nav-link dropdown-toggle gr-toggle-arrow&quot;
              id=&quot;navbarDropdown&quot;
              href=&quot;#features&quot;
              role=&quot;button&quot;
              data-toggle=&quot;dropdown&quot;
              aria-haspopup=&quot;true&quot;
              aria-expanded=&quot;false&quot;
              &gt;elements &lt;i class=&quot;icon icon-small-down&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;div class=&quot;gr-megamenu-dropdown center dropdown-menu d-lg-flex&quot; aria-labelledby=&quot;navbarDropdown&quot;&gt;
              &lt;div class=&quot;col-lg-5 pl-0 d-none d-lg-flex align-items-center&quot;&gt;
                &lt;div class=&quot;dropdown-image-block h-100 w-100 rounded-sm bg-image overflow-hidden mr-xl-12&quot; style=&quot;background-image: url({{root}}image/elements/menu-image.png)&quot;&gt;
                  
                  &lt;div class=&quot;menu-image-button text-center pb-11 h-100 d-flex align-items-end justify-content-center&quot;&gt;
                    &lt;a href=&quot;#&quot; class=&quot;btn btn-white py-4 px-8 gr-text-9&quot;&gt;Build my landing&lt;/a&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;ul class=&quot;col-lg-7 col-xl-6 row-lg list-unstyled py-lg-7&quot;&gt;
                &lt;li class=&quot;col-lg-4&quot;&gt;
                  &lt;div class=&quot;single-dropdown-block&quot;&gt;
                      &lt;a href=&quot;{{elemroot}}element-pages/elements-header.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;Headers&lt;/a&gt;
                      &lt;a href=&quot;{{elemroot}}element-pages/elements-heros.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;Hero Area&lt;/a&gt;
                      &lt;a href=&quot;{{elemroot}}element-pages/elements-content.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;Contents&lt;/a&gt;
                      &lt;a href=&quot;{{elemroot}}element-pages/elements-feature.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;Features&lt;/a&gt;
                      &lt;a href=&quot;{{elemroot}}element-pages/elements-pricing.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;Pricing&lt;/a&gt;
                      &lt;a href=&quot;{{elemroot}}element-pages/elements-counter.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;Stats&lt;/a&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                &lt;li class=&quot;col-lg-4&quot;&gt;
                  &lt;div class=&quot;single-dropdown-block&quot;&gt;
                      &lt;a href=&quot;{{elemroot}}element-pages/elements-cta.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;CTA&lt;/a&gt;
                      &lt;a href=&quot;{{elemroot}}element-pages/elements-testimonial.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;Testimonial&lt;/a&gt;
                      &lt;a href=&quot;{{elemroot}}element-pages/elements-team-area.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;Team&lt;/a&gt;
                      &lt;a href=&quot;{{elemroot}}element-pages/elements-newsletter.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;Newsletter&lt;/a&gt;
                      &lt;a href=&quot;{{elemroot}}element-pages/elements-brand-area.html&quot; class=&quot;mega-drop-menu-item d-block&quot;&gt;Clients&lt;/a&gt;
                      &lt;a href=&quot;{{elemroot}}element-pages/elements-video.html&quot; class=&quot;mega-drop-menu-item d-block&quot;&gt;Video&lt;/a&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                &lt;li class=&quot;col-lg-4&quot;&gt;
                  &lt;div class=&quot;single-dropdown-block&quot;&gt;
                      &lt;a href=&quot;{{elemroot}}element-pages/elements-blog-area.html&quot; class=&quot;mega-drop-menu-item d-block&quot;&gt;News&lt;/a&gt;
                      &lt;a href=&quot;{{elemroot}}element-pages/elements-faq.html&quot; class=&quot;mega-drop-menu-item d-block&quot;&gt;FAQ&lt;/a&gt;
                      &lt;a href=&quot;{{elemroot}}element-pages/elements-alert-area.html&quot; class=&quot;mega-drop-menu-item d-block&quot;&gt;Alert&lt;/a&gt;
                      &lt;a href=&quot;{{elemroot}}element-pages/elements-footers.html&quot; class=&quot;mega-drop-menu-item d-block&quot;&gt;Footer&lt;/a&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
            &lt;/div&gt;
          &lt;/li&gt;
          {% endif %}
          &lt;li class=&quot;nav-item&quot;&gt;
            &lt;a
              class=&quot;nav-link&quot;
              href=&quot; https://grayic.com/html-support/&quot;
              role=&quot;button&quot;
              aria-expanded=&quot;false&quot;
              &gt;Support&lt;/a&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
      {% endif %}
      {% if dropdownStyle2 %}
        &lt;ul class=&quot;navbar-nav main-menu&quot;&gt;
          &lt;li class=&quot;nav-item dropdown&quot;&gt;
            &lt;a
              class=&quot;nav-link dropdown-toggle gr-toggle-arrow&quot;
              id=&quot;navbarDropdown&quot;
              href=&quot;#features&quot;
              role=&quot;button&quot;
              data-toggle=&quot;dropdown&quot;
              aria-haspopup=&quot;true&quot;
              aria-expanded=&quot;false&quot;
              &gt;Demos &lt;i class=&quot;icon icon-small-down&quot;&gt;&lt;/i&gt;&lt;/a&gt;
              &lt;ul class=&quot;gr-menu-dropdown dropdown-menu&quot; aria-labelledby=&quot;navbarDropdown&quot;&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}saas-subscription.html&quot;&gt;
                    SaaS Subscription
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}consultation.html&quot;&gt;
                    Consultation
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}b2b.html&quot;&gt;
                    B2B
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}web-application.html&quot;&gt;
                    Web Application
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}agency.html&quot;&gt;
                    Agency
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}mobile-app.html&quot;&gt;
                    Mobile App
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}product.html&quot;&gt;
                    Product
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}ecommerce.html&quot;&gt;
                    ECommerce
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}co-working.html&quot;&gt;
                    Coworking
                  &lt;/a&gt;
                &lt;/li&gt;
                &lt;li class=&quot;drop-menu-item&quot;&gt;
                  &lt;a href=&quot;{{root}}job-directory.html&quot;&gt;
                    Job Site
                  &lt;/a&gt;
                &lt;/li&gt;
              &lt;/ul&gt;
          &lt;/li&gt;
          &lt;li class=&quot;nav-item dropdown&quot;&gt;
            &lt;a
              class=&quot;nav-link dropdown-toggle gr-toggle-arrow&quot;
              id=&quot;navbarDropdown2&quot;
              href=&quot;#features&quot;
              role=&quot;button&quot;
              data-toggle=&quot;dropdown&quot;
              aria-haspopup=&quot;true&quot;
              aria-expanded=&quot;false&quot;
              &gt;Pages &lt;i class=&quot;icon icon-small-down&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;ul class=&quot;gr-menu-dropdown dropdown-menu&quot; aria-labelledby=&quot;navbarDropdown2&quot;&gt;
              &lt;li class=&quot;drop-menu-item&quot;&gt;
                &lt;a href=&quot;{{root}}about.html&quot;&gt;
                  About us
                &lt;/a&gt;
              &lt;/li&gt;
              &lt;li class=&quot;drop-menu-item dropdown&quot;&gt;
                &lt;a class=&quot;dropdown-toggle gr-toggle-arrow&quot; id=&quot;navbarDropdown21&quot;
                href=&quot;#&quot;
                role=&quot;button&quot;
                data-toggle=&quot;dropdown&quot;
                aria-haspopup=&quot;true&quot;
                aria-expanded=&quot;false&quot;&gt;
                Career 
                &lt;i class=&quot;icon icon-small-down&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
                &lt;ul class=&quot;gr-menu-dropdown dropdown-menu dropdown-right&quot; aria-labelledby=&quot;navbarDropdown21&quot;&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}job-opening.html&quot;&gt;
                      Job opening 
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}job-details.html&quot;&gt;
                      Job Details
                    &lt;/a&gt;
                  &lt;/li&gt;
                &lt;/ul&gt;
              &lt;/li&gt;
              &lt;li class=&quot;drop-menu-item dropdown&quot;&gt;
                &lt;a class=&quot;dropdown-toggle gr-toggle-arrow&quot; id=&quot;navbarDropdown24&quot;
                href=&quot;#&quot;
                role=&quot;button&quot;
                data-toggle=&quot;dropdown&quot;
                aria-haspopup=&quot;true&quot;
                aria-expanded=&quot;false&quot;&gt;
                  Pricing 
                  &lt;i class=&quot;icon icon-small-down&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
                &lt;ul class=&quot;gr-menu-dropdown dropdown-menu dropdown-right&quot; aria-labelledby=&quot;navbarDropdown24&quot;&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}pricing-1.html&quot;&gt;
                      Pricing 01
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}pricing-2.html&quot;&gt;
                      Pricing 02
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}pricing-3.html&quot;&gt;
                      Pricing 03
                    &lt;/a&gt;
                  &lt;/li&gt;
                &lt;/ul&gt;
              &lt;/li&gt;
              &lt;li class=&quot;drop-menu-item dropdown&quot;&gt;
                &lt;a class=&quot;dropdown-toggle gr-toggle-arrow&quot; id=&quot;navbarDropdown25&quot;
                href=&quot;#&quot;
                role=&quot;button&quot;
                data-toggle=&quot;dropdown&quot;
                aria-haspopup=&quot;true&quot;
                aria-expanded=&quot;false&quot;&gt;
                  Contact 
                  &lt;i class=&quot;icon icon-small-down&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
                &lt;ul class=&quot;gr-menu-dropdown dropdown-menu dropdown-right&quot; aria-labelledby=&quot;navbarDropdown25&quot;&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}contact.html&quot;&gt;
                      Contact 01
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}contact-2.html&quot;&gt;
                      Contact 02
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}contact-3.html&quot;&gt;
                      Contact 03
                    &lt;/a&gt;
                  &lt;/li&gt;
                &lt;/ul&gt;
              &lt;/li&gt;
              &lt;li class=&quot;drop-menu-item dropdown&quot;&gt;
                &lt;a class=&quot;dropdown-toggle gr-toggle-arrow&quot; id=&quot;navbarDropdown26&quot;
                href=&quot;#&quot;
                role=&quot;button&quot;
                data-toggle=&quot;dropdown&quot;
                aria-haspopup=&quot;true&quot;
                aria-expanded=&quot;false&quot;&gt;
                Account 
                &lt;i class=&quot;icon icon-small-down&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
                &lt;ul class=&quot;gr-menu-dropdown dropdown-menu dropdown-right&quot; aria-labelledby=&quot;navbarDropdown26&quot;&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}sign-in.html&quot;&gt;
                      Sign In
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}sign-up.html&quot;&gt;
                      Sign Up
                    &lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}forget-pass.html&quot;&gt;
                      Reset Password
                    &lt;/a&gt;
                  &lt;/li&gt;
                &lt;/ul&gt;
              &lt;/li&gt;
              &lt;li class=&quot;drop-menu-item dropdown&quot;&gt;
                &lt;a class=&quot;dropdown-toggle gr-toggle-arrow&quot; id=&quot;navbarDropdown27&quot;
                href=&quot;#&quot;
                role=&quot;button&quot;
                data-toggle=&quot;dropdown&quot;
                aria-haspopup=&quot;true&quot;
                aria-expanded=&quot;false&quot;&gt;
                  Utitlity
                  &lt;i class=&quot;icon icon-small-down&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
                &lt;ul class=&quot;gr-menu-dropdown dropdown-menu dropdown-right&quot; aria-labelledby=&quot;navbarDropdown27&quot;&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}terms.html&quot;&gt;
                      Terms &amp; Conditions
                    &lt;/a&gt;
                  &lt;/li&gt;
                &lt;/ul&gt;
              &lt;/li&gt;
              &lt;li class=&quot;drop-menu-item dropdown&quot;&gt;
                &lt;a class=&quot;dropdown-toggle gr-toggle-arrow&quot; id=&quot;navbarDropdown27&quot;
                href=&quot;#&quot;
                role=&quot;button&quot;
                data-toggle=&quot;dropdown&quot;
                aria-haspopup=&quot;true&quot;
                aria-expanded=&quot;false&quot;&gt;
                  E-commerce
                  &lt;i class=&quot;icon icon-small-down&quot;&gt;&lt;/i&gt;
                &lt;/a&gt;
                &lt;ul class=&quot;gr-menu-dropdown dropdown-menu dropdown-right&quot; aria-labelledby=&quot;navbarDropdown27&quot;&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}product-details.html&quot;&gt;Product Details&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}cart.html&quot;&gt;Cart&lt;/a&gt;
                  &lt;/li&gt;
                  &lt;li class=&quot;drop-menu-item&quot;&gt;
                    &lt;a href=&quot;{{root}}checkout.html&quot;&gt;Checkout&lt;/a&gt;
                  &lt;/li&gt;
                &lt;/ul&gt;
              &lt;/li&gt;
            &lt;/ul&gt;
          &lt;/li&gt;
          
          &lt;li class=&quot;nav-item dropdown dropdown-mega triangle-shape position-relative&quot;&gt;
            &lt;a
              class=&quot;nav-link dropdown-toggle gr-toggle-arrow&quot;
              id=&quot;navbarDropdown&quot;
              href=&quot;#features&quot;
              role=&quot;button&quot;
              data-toggle=&quot;dropdown&quot;
              aria-haspopup=&quot;true&quot;
              aria-expanded=&quot;false&quot;
              &gt;elements &lt;i class=&quot;icon icon-small-down&quot;&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;ul class=&quot;gr-megamenu-dropdown-2 dropdown-menu d-lg-flex&quot; aria-labelledby=&quot;navbarDropdown&quot;&gt;
                &lt;li class=&quot;col-lg-4 px-lg-4&quot;&gt;
                  &lt;div class=&quot;single-dropdown-block&quot;&gt;
                      &lt;a href=&quot;./elements-accordion.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;
                        &lt;h4 class=&quot;single-menu-title d-block  gr-text-11&quot;&gt;
                          Agency
                        &lt;/h4&gt;
                        &lt;p class=&quot;gr-text-11&quot;&gt;Best for a startup agency&lt;/p&gt;
                      &lt;/a&gt;
                      &lt;a href=&quot;./elements-alert.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;
                        &lt;h4 class=&quot;single-menu-title d-block  gr-text-11&quot;&gt;
                          job-directory
                        &lt;/h4&gt;
                        &lt;p class=&quot;gr-text-11&quot;&gt;Best for a any kind of directory&lt;/p&gt;
                      &lt;/a&gt;
                      &lt;a href=&quot;./elements-badges.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;
                        &lt;h4 class=&quot;single-menu-title d-block  gr-text-11&quot;&gt;
                          Co-working
                        &lt;/h4&gt;
                        &lt;p class=&quot;gr-text-11&quot;&gt;Space sharing landing page&lt;/p&gt;
                      &lt;/a&gt;
                      &lt;a href=&quot;./elements-breadcrumb.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;
                        &lt;h4 class=&quot;single-menu-title d-block  gr-text-11&quot;&gt;
                          eCommerce
                        &lt;/h4&gt;
                        &lt;p class=&quot;gr-text-11&quot;&gt;Build a quick eCommerce landing&lt;/p&gt;
                      &lt;/a&gt;
                  &lt;/div&gt;
                &lt;/li&gt;
                &lt;li class=&quot;col-lg-4 px-lg-4&quot;&gt;
                  &lt;div class=&quot;single-dropdown-block&quot;&gt;
                    &lt;a href=&quot;./elements-accordion.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;
                      &lt;h4 class=&quot;single-menu-title d-block  gr-text-11&quot;&gt;
                        Agency
                      &lt;/h4&gt;
                      &lt;p class=&quot;gr-text-11&quot;&gt;Best for a startup agency&lt;/p&gt;
                    &lt;/a&gt;
                    &lt;a href=&quot;./elements-alert.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;
                      &lt;h4 class=&quot;single-menu-title d-block  gr-text-11&quot;&gt;
                        job-directory
                      &lt;/h4&gt;
                      &lt;p class=&quot;gr-text-11&quot;&gt;Best for a any kind of directory&lt;/p&gt;
                    &lt;/a&gt;
                    &lt;a href=&quot;./elements-badges.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;
                      &lt;h4 class=&quot;single-menu-title d-block  gr-text-11&quot;&gt;
                        Co-working
                      &lt;/h4&gt;
                      &lt;p class=&quot;gr-text-11&quot;&gt;Space sharing landing page&lt;/p&gt;
                    &lt;/a&gt;
                    &lt;a href=&quot;./elements-breadcrumb.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;
                      &lt;h4 class=&quot;single-menu-title d-block  gr-text-11&quot;&gt;
                        eCommerce
                      &lt;/h4&gt;
                      &lt;p class=&quot;gr-text-11&quot;&gt;Build a quick eCommerce landing&lt;/p&gt;
                    &lt;/a&gt;
                &lt;/div&gt;
                &lt;/li&gt;
                &lt;li class=&quot;col-lg-4 px-lg-4&quot;&gt;
                  &lt;div class=&quot;single-dropdown-block&quot;&gt;
                    &lt;a href=&quot;./elements-accordion.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;
                      &lt;h4 class=&quot;single-menu-title d-block  gr-text-11&quot;&gt;
                        Agency
                      &lt;/h4&gt;
                      &lt;p class=&quot;gr-text-11&quot;&gt;Best for a startup agency&lt;/p&gt;
                    &lt;/a&gt;
                    &lt;a href=&quot;./elements-alert.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;
                      &lt;h4 class=&quot;single-menu-title d-block  gr-text-11&quot;&gt;
                        job-directory
                      &lt;/h4&gt;
                      &lt;p class=&quot;gr-text-11&quot;&gt;Best for a any kind of directory&lt;/p&gt;
                    &lt;/a&gt;
                    &lt;a href=&quot;./elements-badges.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;
                      &lt;h4 class=&quot;single-menu-title d-block  gr-text-11&quot;&gt;
                        Co-working
                      &lt;/h4&gt;
                      &lt;p class=&quot;gr-text-11&quot;&gt;Space sharing landing page&lt;/p&gt;
                    &lt;/a&gt;
                    &lt;a href=&quot;./elements-breadcrumb.html&quot; class=&quot;mega-drop-menu-item&quot;&gt;
                      &lt;h4 class=&quot;single-menu-title d-block  gr-text-11&quot;&gt;
                        eCommerce
                      &lt;/h4&gt;
                      &lt;p class=&quot;gr-text-11&quot;&gt;Build a quick eCommerce landing&lt;/p&gt;
                    &lt;/a&gt;
                &lt;/div&gt;
                &lt;/li&gt;
            &lt;/ul&gt;
          &lt;/li&gt;
          &lt;li class=&quot;nav-item&quot;&gt;
            &lt;a
              class=&quot;nav-link&quot;
              href=&quot; https://grayic.com/html-support/&quot;
              role=&quot;button&quot;
              aria-expanded=&quot;false&quot;
              &gt;Support&lt;/a&gt;
          &lt;/li&gt;
        &lt;/ul&gt;
      {% endif %}
        &lt;/div&gt;
        &lt;button class=&quot;d-block d-lg-none offcanvas-btn-close&quot; type=&quot;button&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#mobile-menu{{count}}&quot; aria-controls=&quot;mobile-menu{{count}}&quot; aria-expanded=&quot;true&quot; aria-label=&quot;Toggle navigation&quot;&gt;
          &lt;i class=&quot;gr-cross-icon&quot;&gt;&lt;/i&gt;
        &lt;/button&gt;
      &lt;/div&gt;
      {% if  settings.header_button_custom %}
        {{ settings.header_button_custom | safe}}
      {% endif %}
      {% if  settings.header_button %}
      &lt;div class=&quot;header-btn {{  settings.additional_button_classes}}&quot;&gt;
        &lt;a class=&quot;btn {{ settings.header_button_class}}&quot; href=&quot;#&quot;&gt;
          {{ settings.header_button_text}}
        &lt;/a&gt;
      &lt;/div&gt;
      {% endif %}
      {% if  settings.header_double_button %}
      &lt;div class=&quot;header-btns {{  settings.additional_db_classes}}&quot;&gt;
        &lt;a class=&quot;{{ settings.header_button_class_1}}&quot; href=&quot;#&quot;&gt;
          {{ settings.header_button_text_1}}
        &lt;/a&gt;
        &lt;a class=&quot;{{ settings.header_button_class_2}}&quot; href=&quot;#&quot;&gt;
          {{ settings.header_button_text_2}}
        &lt;/a&gt;
      &lt;/div&gt;
      {% endif %}
      
        &lt;!-- Mobile Menu Hamburger--&gt;
      &lt;button class=&quot;navbar-toggler btn-close-off-canvas  hamburger-icon border-0&quot; type=&quot;button&quot; data-toggle=&quot;collapse&quot; data-target=&quot;#mobile-menu{{count}}&quot; aria-controls=&quot;mobile-menu{{count}}&quot; aria-expanded=&quot;false&quot; aria-label=&quot;Toggle navigation&quot;&gt;
        &lt;!-- &lt;i class=&quot;icon icon-simple-remove icon-close&quot;&gt;&lt;/i&gt; --&gt;
        &lt;div class=&quot;hamburger hamburger--squeeze js-hamburger&quot;&gt;
          &lt;div class=&quot;hamburger-box&quot;&gt;
            &lt;div class=&quot;hamburger-inner&quot;&gt;&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/button&gt;
      &lt;!--/.Mobile Menu Hamburger Ends--&gt;
      
    &lt;/nav&gt;
  &lt;/div&gt;
&lt;/header&gt;
<!-- navbar-{{ settings.navbar_mode}} -->

</code>
</pre>
{% endmacro %}