{% macro render( settings,count) %}
{% import "sections/header/_menu.njk" as Menu %}
  <!-- Header Area -->
<header class="site-header{{ ' ' + settings.header_type if settings.header_type }}{{ ' site-header--absolute' if settings.absolute_header}}{{ ' site-header--sticky' if settings.sticky_header}}{{ ' mobile-sticky-enable' if settings.mobile_sticky}}{{settings.additional_class}}">
  <div class="container{{ '-fluid pr-lg-9 pl-lg-9' if  settings.container_fluid}}">
    <nav class="navbar site-navbar offcanvas-active navbar-expand-lg  px-0">
      <!-- Brand Logo-->
      <div class="brand-logo"><a href="https://shade.uxtheme.net/shade-pro">

        <!-- light version logo (logo must be black)-->
        <img src="{{ settings.root }}image/logo-main-black.png" alt="" class="light-version-logo ">

        <!-- Dark version logo (logo must be White)-->
        <img src="{{settings.root}}image/logo-main-white.png" alt="" class="dark-version-logo">

      </a></div>


      <div class="collapse navbar-collapse" id="mobile-menu{{count}}">
        <div class="navbar-nav-wrapper">
          {{Menu.render(settings.root,settings.elmRoot, settings.hideMegamenu,settings.dropDownStyleTwo)}}
        </div>
        <button class="d-block d-lg-none offcanvas-btn-close" type="button" data-toggle="collapse" data-target="#mobile-menu{{count}}" aria-controls="mobile-menu{{count}}" aria-expanded="true" aria-label="Toggle navigation">
          <i class="gr-cross-icon"></i>
        </button>
      </div>
      {% if  settings.header_button_custom %}
        {{ settings.header_button_custom | safe}}
      {% endif %}
      {% if  settings.header_button %}
      <div class="header-btn {{  settings.additional_button_classes}}">
        <a class="btn {{ settings.header_button_class}}" href="https://shade.uxtheme.net/shade-pro">
          {{ settings.header_button_text}}
        </a>
      </div>
      {% endif %}
      {% if  settings.header_double_button %}
      <div class="header-btns {{  settings.additional_db_classes}}">
        <a class="{{ settings.header_button_class_1}}" href="https://shade.uxtheme.net/shade-pro">
          {{ settings.header_button_text_1}}
        </a>
        <a class="{{ settings.header_button_class_2}}" href="https://shade.uxtheme.net/shade-pro">
          {{ settings.header_button_text_2}}
        </a>
      </div>
      {% endif %}
      
        <!-- Mobile Menu Hamburger-->
      <button class="navbar-toggler btn-close-off-canvas  hamburger-icon border-0" type="button" data-toggle="collapse" data-target="#mobile-menu{{count}}" aria-controls="mobile-menu{{count}}" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <i class="icon icon-simple-remove icon-close"></i> -->
        <span class="hamburger hamburger--squeeze js-hamburger">
          <span class="hamburger-box">
            <span class="hamburger-inner"></span>
          </span>
        </span>
      </button>
      <!--/.Mobile Menu Hamburger Ends-->
      
    </nav>
  </div>
</header>
<!-- navbar-{{ settings.navbar_mode}} -->
{% endmacro %}