{% macro render(root,elemroot,hideMegamenu,dropdownStyle2) %}
{% if not dropdownStyle2 %}
  <ul class="navbar-nav main-menu">
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle gr-toggle-arrow"
        id="navbarDropdown"
        href="#features"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >Demos <i class="icon icon-small-down"></i></a>
        <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown">
          <li class="drop-menu-item">
            <a href="{{root}}agency.html">
              Agency
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="{{root}}job-directory.html">
              Job Directory
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="{{root}}co-working.html">
              Co-working
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="{{root}}saas-subscription.html">
              SaaS Subscription
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="{{root}}ecommerce.html">
              ECommerce
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="{{root}}web-application.html">
              Web Application
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="{{root}}mobile-app.html">
              Mobile App
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="{{root}}product.html">
              Product Landing
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="{{root}}b2b.html">
              B2B
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="{{root}}consultation.html">
              Consultation
            </a>
          </li>         
          <li class="drop-menu-item">
            <a href="{{root}}video-conference.html">
              Video Conference
            </a>
          </li>         
          <li class="drop-menu-item">
            <a href="{{root}}telemedicine.html">
              Telemedicine
            </a>
          </li>         
        </ul>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle gr-toggle-arrow"
        id="navbarDropdown02"
        href="#features"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >Pages <i class="icon icon-small-down"></i></a>
      <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown02">
        <li class="drop-menu-item">
          <a href="{{root}}about.html">
            About us
          </a>
        </li>
        <li class="drop-menu-item dropdown">
          <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown21"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Career 
          <i class="icon icon-small-down"></i>
          </a>
          <ul class="gr-menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown21">
            <li class="drop-menu-item">
              <a href="{{root}}job-opening.html">
                Job opening 
              </a>
            </li>
            <li class="drop-menu-item">
              <a href="{{root}}job-details.html">
                Job Details
              </a>
            </li>
          </ul>
        </li>
        <li class="drop-menu-item dropdown">
          <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown24"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
            Pricing 
            <i class="icon icon-small-down"></i>
          </a>
          <ul class="gr-menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown24">
            <li class="drop-menu-item">
              <a href="{{root}}pricing-1.html">
                Pricing 01
              </a>
            </li>
            <li class="drop-menu-item">
              <a href="{{root}}pricing-2.html">
                Pricing 02
              </a>
            </li>
            <li class="drop-menu-item">
              <a href="{{root}}pricing-3.html">
                Pricing 03
              </a>
            </li>
          </ul>
        </li>
        <li class="drop-menu-item dropdown">
          <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown25"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
            Contact 
            <i class="icon icon-small-down"></i>
          </a>
          <ul class="gr-menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown25">
            <li class="drop-menu-item">
              <a href="{{root}}contact.html">
                Contact 01
              </a>
            </li>
            <li class="drop-menu-item">
              <a href="{{root}}contact-2.html">
                Contact 02
              </a>
            </li>
            <li class="drop-menu-item">
              <a href="{{root}}contact-3.html">
                Contact 03
              </a>
            </li>
          </ul>
        </li>
        <li class="drop-menu-item dropdown">
          <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown26"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Account 
          <i class="icon icon-small-down"></i>
          </a>
          <ul class="gr-menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown26">
            <li class="drop-menu-item">
              <a href="{{root}}sign-in.html">
                Sign In
              </a>
            </li>
            <li class="drop-menu-item">
              <a href="{{root}}sign-up.html">
                Sign Up
              </a>
            </li>
            <li class="drop-menu-item">
              <a href="{{root}}forget-pass.html">
                Reset Password
              </a>
            </li>
          </ul>
        </li>
        <li class="drop-menu-item dropdown">
          <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown27"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
            Utitlity
            <i class="icon icon-small-down"></i>
          </a>
          <ul class="gr-menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown27">
            <li class="drop-menu-item">
              <a href="{{root}}terms.html">
                Terms & Conditions
              </a>
            </li>
          </ul>
        </li>
        <li class="drop-menu-item dropdown">
          <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown28"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
            E-commerce
            <i class="icon icon-small-down"></i>
          </a>
          <ul class="gr-menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown28">
            <li class="drop-menu-item">
              <a href="{{root}}product-details.html">Product Details</a>
            </li>
            <li class="drop-menu-item">
              <a href="{{root}}cart.html">Cart</a>
            </li>
            <li class="drop-menu-item">
              <a href="{{root}}checkout.html">Checkout</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    {% if not hideMegamenu %}
    <li class="nav-item dropdown dropdown-mega">
      <a
        class="nav-link dropdown-toggle gr-toggle-arrow"
        id="navbarDropdown90"
        href="#features"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >Components <i class="icon icon-small-down"></i></a>
      <div class="gr-megamenu-dropdown center dropdown-menu d-lg-flex" aria-labelledby="navbarDropdown90">
        <div class="col-lg-5 pl-0 d-none d-lg-flex align-items-center">
          <a href="https://shade.uxtheme.net/shade-pro" class="d-block dropdown-image-block h-100 w-100 rounded-sm bg-image overflow-hidden mr-xl-12" style="background-image: url({{root}}image/elements/menu-image.jpg)">
            
          </a>
        </div>
        <ul class="col-lg-7 col-xl-6 row-lg list-unstyled py-lg-7">
          <li class="col-lg-4">
            <div class="single-dropdown-block">
                <a href="{{elemroot}}components/elements-header.html" class="mega-drop-menu-item">Headers</a>
                <a href="{{elemroot}}components/elements-heros.html" class="mega-drop-menu-item">Hero Area</a>
                <a href="{{elemroot}}components/elements-content.html" class="mega-drop-menu-item">Contents</a>
                <a href="{{elemroot}}components/elements-feature.html" class="mega-drop-menu-item">Features</a>
                <a href="{{elemroot}}components/elements-pricing.html" class="mega-drop-menu-item">Pricing</a>
                <a href="{{elemroot}}components/elements-counter.html" class="mega-drop-menu-item">Stats</a>
            </div>
          </li>
          <li class="col-lg-4">
            <div class="single-dropdown-block">
                <a href="{{elemroot}}components/elements-cta.html" class="mega-drop-menu-item">CTA</a>
                <a href="{{elemroot}}components/elements-testimonial.html" class="mega-drop-menu-item">Testimonial</a>
                <a href="{{elemroot}}components/elements-team-area.html" class="mega-drop-menu-item">Team</a>
                <a href="{{elemroot}}components/elements-newsletter.html" class="mega-drop-menu-item">Newsletter</a>
                <a href="{{elemroot}}components/elements-brand-area.html" class="mega-drop-menu-item d-block">Clients</a>
                <a href="{{elemroot}}components/elements-video.html" class="mega-drop-menu-item d-block">Video</a>
            </div>
          </li>
          <li class="col-lg-4">
            <div class="single-dropdown-block">
                <a href="{{elemroot}}components/elements-blog-area.html" class="mega-drop-menu-item d-block">News</a>
                <a href="{{elemroot}}components/elements-faq.html" class="mega-drop-menu-item d-block">FAQ</a>
                <a href="{{elemroot}}components/elements-alert-area.html" class="mega-drop-menu-item d-block">Alert</a>
                <a href="{{elemroot}}components/elements-footers.html" class="mega-drop-menu-item d-block">Footer</a>
                <a href="{{elemroot}}components/elements-footers.html" class="mega-drop-menu-item d-block disabled pointer-none  text-storm" tabindex="-1">Forms </a>
                <a href="{{elemroot}}components/elements-footers.html" class="mega-drop-menu-item d-block disabled pointer-none  text-storm" tabindex="-1">Tab</a>
            </div>
          </li>
        </ul>
      </div>
    </li>
    {% endif %}
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://uxtheme.net/product-support/"
        role="button"
        aria-expanded="false"
        >Support</a>
    </li>
  </ul>
{% endif %}
{% if dropdownStyle2 %}
  <ul class="navbar-nav main-menu">
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle gr-toggle-arrow"
        id="navbarDropdown100"
        href="#features"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >Demos <i class="icon icon-small-down"></i></a>
        <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown100">
          <li class="drop-menu-item">
            <a href="{{root}}saas-subscription.html">
              SaaS Subscription
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="{{root}}consultation.html">
              Consultation
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="{{root}}b2b.html">
              B2B
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="{{root}}web-application.html">
              Web Application
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="{{root}}agency.html">
              Agency
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="{{root}}mobile-app.html">
              Mobile App
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="{{root}}product.html">
              Product
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="{{root}}ecommerce.html">
              ECommerce
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="{{root}}co-working.html">
              Coworking
            </a>
          </li>
          <li class="drop-menu-item">
            <a href="{{root}}job-directory.html">
              Job Site
            </a>
          </li>
        </ul>
    </li>
    <li class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle gr-toggle-arrow"
        id="navbarDropdown2"
        href="#features"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >Pages <i class="icon icon-small-down"></i></a>
      <ul class="gr-menu-dropdown dropdown-menu" aria-labelledby="navbarDropdown2">
        <li class="drop-menu-item">
          <a href="{{root}}about.html">
            About us
          </a>
        </li>
        <li class="drop-menu-item dropdown">
          <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown21"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Career 
          <i class="icon icon-small-down"></i>
          </a>
          <ul class="gr-menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown21">
            <li class="drop-menu-item">
              <a href="{{root}}job-opening.html">
                Job opening 
              </a>
            </li>
            <li class="drop-menu-item">
              <a href="{{root}}job-details.html">
                Job Details
              </a>
            </li>
          </ul>
        </li>
        <li class="drop-menu-item dropdown">
          <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown24"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
            Pricing 
            <i class="icon icon-small-down"></i>
          </a>
          <ul class="gr-menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown24">
            <li class="drop-menu-item">
              <a href="{{root}}pricing-1.html">
                Pricing 01
              </a>
            </li>
            <li class="drop-menu-item">
              <a href="{{root}}pricing-2.html">
                Pricing 02
              </a>
            </li>
            <li class="drop-menu-item">
              <a href="{{root}}pricing-3.html">
                Pricing 03
              </a>
            </li>
          </ul>
        </li>
        <li class="drop-menu-item dropdown">
          <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown25"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
            Contact 
            <i class="icon icon-small-down"></i>
          </a>
          <ul class="gr-menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown25">
            <li class="drop-menu-item">
              <a href="{{root}}contact.html">
                Contact 01
              </a>
            </li>
            <li class="drop-menu-item">
              <a href="{{root}}contact-2.html">
                Contact 02
              </a>
            </li>
            <li class="drop-menu-item">
              <a href="{{root}}contact-3.html">
                Contact 03
              </a>
            </li>
          </ul>
        </li>
        <li class="drop-menu-item dropdown">
          <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown26"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
          Account 
          <i class="icon icon-small-down"></i>
          </a>
          <ul class="gr-menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown26">
            <li class="drop-menu-item">
              <a href="{{root}}sign-in.html">
                Sign In
              </a>
            </li>
            <li class="drop-menu-item">
              <a href="{{root}}sign-up.html">
                Sign Up
              </a>
            </li>
            <li class="drop-menu-item">
              <a href="{{root}}forget-pass.html">
                Reset Password
              </a>
            </li>
          </ul>
        </li>
        <li class="drop-menu-item dropdown">
          <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown27"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
            Utitlity
            <i class="icon icon-small-down"></i>
          </a>
          <ul class="gr-menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown27">
            <li class="drop-menu-item">
              <a href="{{root}}terms.html">
                Terms & Conditions
              </a>
            </li>
          </ul>
        </li>
        <li class="drop-menu-item dropdown">
          <a class="dropdown-toggle gr-toggle-arrow" id="navbarDropdown27"
          href="#"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false">
            E-commerce
            <i class="icon icon-small-down"></i>
          </a>
          <ul class="gr-menu-dropdown dropdown-menu dropdown-right" aria-labelledby="navbarDropdown27">
            <li class="drop-menu-item">
              <a href="{{root}}product-details.html">Product Details</a>
            </li>
            <li class="drop-menu-item">
              <a href="{{root}}cart.html">Cart</a>
            </li>
            <li class="drop-menu-item">
              <a href="{{root}}checkout.html">Checkout</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
    
    <li class="nav-item dropdown dropdown-mega triangle-shape position-relative">
      <a
        class="nav-link dropdown-toggle gr-toggle-arrow"
        id="navbarDropdown"
        href="#features"
        role="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        >elements <i class="icon icon-small-down"></i></a>
      <ul class="gr-megamenu-dropdown-2 dropdown-menu d-lg-flex" aria-labelledby="navbarDropdown">
          <li class="col-lg-4 px-lg-4">
            <div class="single-dropdown-block">
                <a href="./elements-accordion.html" class="mega-drop-menu-item">
                  <h4 class="single-menu-title d-block  gr-text-11">
                    Agency
                  </h4>
                  <p class="gr-text-11">Best for a startup agency</p>
                </a>
                <a href="./elements-alert.html" class="mega-drop-menu-item">
                  <h4 class="single-menu-title d-block  gr-text-11">
                    job-directory
                  </h4>
                  <p class="gr-text-11">Best for a any kind of directory</p>
                </a>
                <a href="./elements-badges.html" class="mega-drop-menu-item">
                  <h4 class="single-menu-title d-block  gr-text-11">
                    Co-working
                  </h4>
                  <p class="gr-text-11">Space sharing landing page</p>
                </a>
                <a href="./elements-breadcrumb.html" class="mega-drop-menu-item">
                  <h4 class="single-menu-title d-block  gr-text-11">
                    eCommerce
                  </h4>
                  <p class="gr-text-11">Build a quick eCommerce landing</p>
                </a>
            </div>
          </li>
          <li class="col-lg-4 px-lg-4">
            <div class="single-dropdown-block">
              <a href="./elements-accordion.html" class="mega-drop-menu-item">
                <h4 class="single-menu-title d-block  gr-text-11">
                  Agency
                </h4>
                <p class="gr-text-11">Best for a startup agency</p>
              </a>
              <a href="./elements-alert.html" class="mega-drop-menu-item">
                <h4 class="single-menu-title d-block  gr-text-11">
                  job-directory
                </h4>
                <p class="gr-text-11">Best for a any kind of directory</p>
              </a>
              <a href="./elements-badges.html" class="mega-drop-menu-item">
                <h4 class="single-menu-title d-block  gr-text-11">
                  Co-working
                </h4>
                <p class="gr-text-11">Space sharing landing page</p>
              </a>
              <a href="./elements-breadcrumb.html" class="mega-drop-menu-item">
                <h4 class="single-menu-title d-block  gr-text-11">
                  eCommerce
                </h4>
                <p class="gr-text-11">Build a quick eCommerce landing</p>
              </a>
          </div>
          </li>
          <li class="col-lg-4 px-lg-4">
            <div class="single-dropdown-block">
              <a href="./elements-accordion.html" class="mega-drop-menu-item">
                <h4 class="single-menu-title d-block  gr-text-11">
                  Agency
                </h4>
                <p class="gr-text-11">Best for a startup agency</p>
              </a>
              <a href="./elements-alert.html" class="mega-drop-menu-item">
                <h4 class="single-menu-title d-block  gr-text-11">
                  job-directory
                </h4>
                <p class="gr-text-11">Best for a any kind of directory</p>
              </a>
              <a href="./elements-badges.html" class="mega-drop-menu-item">
                <h4 class="single-menu-title d-block  gr-text-11">
                  Co-working
                </h4>
                <p class="gr-text-11">Space sharing landing page</p>
              </a>
              <a href="./elements-breadcrumb.html" class="mega-drop-menu-item">
                <h4 class="single-menu-title d-block  gr-text-11">
                  eCommerce
                </h4>
                <p class="gr-text-11">Build a quick eCommerce landing</p>
              </a>
          </div>
          </li>
      </ul>
    </li>
    <li class="nav-item">
      <a
        class="nav-link"
        href="https://uxtheme.net/product-support/"
        role="button"
        aria-expanded="false"
        >Support</a>
    </li>
  </ul>
{% endif %}

{% endmacro %}