<pre class="language-markup">
  <code>

    &lt;div class="pt-13 pt-lg-24 pb-lg-24 bg-default-1"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-lg-9 col-xl-8"&gt;
            &lt;div class="section-title text-center px-md-12 mb-lg-17 mb-10"&gt;
              &lt;h2 class="gr-text-3 mb-7 mb-lg-8"&gt;Meet our team&lt;/h2&gt;
              &lt;p class="gr-text-8 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="row justify-content-left mb-lg-n15 mb-0"&gt;
          &lt;div class="col-lg-3 col-md-4 col-xs-6 mb-lg-15 mb-13"&gt;
            &lt;div class="team-card"&gt;
              &lt;div class="card-image"&gt;
                &lt;img src=".i/mage/inner/team-image-1.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
              &lt;div class="card-text pt-9"&gt;
                &lt;h3 class="gr-text-7 mb-2"&gt;Joe Bridges&lt;/h3&gt;
                &lt;p class="gr-text-9 mb-0 line-height-1"&gt;Founder&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-3 col-md-4 col-xs-6 mb-lg-15 mb-13"&gt;
            &lt;div class="team-card"&gt;
              &lt;div class="card-image"&gt;
                &lt;img src=".i/mage/inner/team-image-2.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
              &lt;div class="card-text pt-9"&gt;
                &lt;h3 class="gr-text-7 mb-2"&gt;Jeffrey Walters&lt;/h3&gt;
                &lt;p class="gr-text-9 mb-0 line-height-1"&gt;Cheif Executive Officer&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-3 col-md-4 col-xs-6 mb-lg-15 mb-13"&gt;
            &lt;div class="team-card"&gt;
              &lt;div class="card-image"&gt;
                &lt;img src=".i/mage/inner/team-image-3.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
              &lt;div class="card-text pt-9"&gt;
                &lt;h3 class="gr-text-7 mb-2"&gt;Jason Reed&lt;/h3&gt;
                &lt;p class="gr-text-9 mb-0 line-height-1"&gt;Chief Technology Officer&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-3 col-md-4 col-xs-6 mb-lg-15 mb-13"&gt;
            &lt;div class="team-card"&gt;
              &lt;div class="card-image"&gt;
                &lt;img src=".i/mage/inner/team-image-4.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
              &lt;div class="card-text pt-9"&gt;
                &lt;h3 class="gr-text-7 mb-2"&gt;Nellie Padilla&lt;/h3&gt;
                &lt;p class="gr-text-9 mb-0 line-height-1"&gt;Creative Director&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-3 col-md-4 col-xs-6 mb-lg-15 mb-13"&gt;
            &lt;div class="team-card"&gt;
              &lt;div class="card-image"&gt;
                &lt;img src=".i/mage/inner/team-image-5.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
              &lt;div class="card-text pt-9"&gt;
                &lt;h3 class="gr-text-7 mb-2"&gt;Dean Bell&lt;/h3&gt;
                &lt;p class="gr-text-9 mb-0 line-height-1"&gt;Lead Programmer&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-3 col-md-4 col-xs-6 mb-lg-15 mb-13"&gt;
            &lt;div class="team-card"&gt;
              &lt;div class="card-image"&gt;
                &lt;img src=".i/mage/inner/team-image-6.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
              &lt;div class="card-text pt-9"&gt;
                &lt;h3 class="gr-text-7 mb-2"&gt;Pearl Brooks&lt;/h3&gt;
                &lt;p class="gr-text-9 mb-0 line-height-1"&gt;Digital Marketer&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-3 col-md-4 col-xs-6 mb-lg-15 mb-13"&gt;
            &lt;div class="team-card"&gt;
              &lt;div class="card-image"&gt;
                &lt;img src=".i/mage/inner/team-image-7.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
              &lt;div class="card-text pt-9"&gt;
                &lt;h3 class="gr-text-7 mb-2"&gt;Isaiah Griffin&lt;/h3&gt;
                &lt;p class="gr-text-9 mb-0 line-height-1"&gt;UX Designer&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-3 col-md-4 col-xs-6 mb-13 d-flex align-items-center"&gt;
            &lt;div class="mt-xs-n25"&gt;
              &lt;h3 class="gr-text-6"&gt;Interested to join &lt;br&gt;
              our team ?&lt;/h3&gt;
              &lt;a href="#" class="btn-link with-icon gr-text-blue gr-text-7 font-weight-bold mt-5"&gt;Apply now &lt;i class="icon icon-tail-right font-weight-bold"&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>