<pre class="language-markup">
  <code>
      &lt;div class="fact-section pt-12 pb-6 pt-lg-19 pb-lg-17 border-bottom border-gray-3 bg-default-6 dark-mode-texts"&gt;
        &lt;div class="container"&gt;
          &lt;div class="row justify-content-center"&gt;
            &lt;div class="col-lg-4 col-md-6 col-sm-6 mb-9 mb-lg-0"&gt;
              &lt;div class="single-fact d-flex px-md-5 px-lg-2 px-xl-9"&gt;
                &lt;h3 class="gr-text-3 mr-9"&gt;1M+&lt;/h3&gt;
                &lt;p class="gr-text-9 mb-0"&gt;Customers visit Albino every months&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="col-lg-4 col-md-6 col-sm-6 mb-9 mb-lg-0"&gt;
              &lt;div class="single-fact d-flex px-md-5 px-lg-2 px-xl-9"&gt;
                &lt;h3 class="gr-text-3 mr-9"&gt;&lt;span class="counter"&gt;93&lt;/span&gt;%&lt;/h3&gt;
                &lt;p class="gr-text-9 mb-0"&gt;Satisfaction rate from our customers.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="col-lg-4 col-md-6 col-sm-6 mb-9 mb-lg-0"&gt;
              &lt;div class="single-fact d-flex px-md-5 px-lg-2 px-xl-9"&gt;
                &lt;h3 class="gr-text-3 mr-9"&gt;&lt;span class="counter"&gt;4.9&lt;/span&gt;&lt;/h3&gt;
                &lt;p class="gr-text-9 mb-0"&gt;Average customer ratings out of 5.00!&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
  </code>
</pre>