<pre class="language-markup">
  <code>

    &lt;div class="content-section pt-12 pb-10 bg-default-6 py-xl-25 dark-mode-texts"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row align-items-center justify-content-md-center"&gt;
          &lt;div class="col-lg-4 col-md-10"&gt;
            &lt;div class="content-text text-center text-lg-left mb-9 mb-lg-0 pr-xl-11"&gt;
              &lt;h2 class="title gr-text-5 mb-8"&gt;Experienced experts are giving advices.&lt;/h2&gt;
              &lt;p class="gr-text-8 mb-9"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
              &lt;a href="" class="btn btn-primary gr-hover-y"&gt;Learn how we work&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-4 col-md-6"&gt;
            &lt;div class="content-img rounded-8"&gt;
              &lt;img class="w-100 rounded-8" src="./image/l3/jpg/l3-content-img.jpg" alt=""&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-4 col-md-6"&gt;
            &lt;div class="stats-wrapper mt-6 mt-md-0 pl-xl-9"&gt;
              &lt;div class="single-stat py-6" data-aos="fade-left" data-aos-duration="800" data-aos-once="true"&gt;
                &lt;h3 class="title gr-text-5 mb-5"&gt;1M+&lt;/h3&gt;
                &lt;p class="gr-text-8 mb-0"&gt;Customers visit Albino every month to get their service done.&lt;/p&gt;
              &lt;/div&gt;
              &lt;div class="single-stat py-6" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true"&gt;
                &lt;h3 class="title gr-text-5 mb-5"&gt;&lt;span class="counter"&gt;92&lt;/span&gt;%&lt;/h3&gt;
                &lt;p class="gr-text-8 mb-0"&gt;Satisfaction rate comes from our awesome customers.&lt;/p&gt;
              &lt;/div&gt;
              &lt;div class="single-stat py-6" data-aos="fade-left" data-aos-duration="1800" data-aos-once="true"&gt;
                &lt;h3 class="title gr-text-5 mb-5"&gt;&lt;span class="counter"&gt;4.9&lt;/span&gt;/5.0&lt;/h3&gt;
                &lt;p class="gr-text-8 mb-0"&gt;Average customer ratings we have got all over internet.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>