<pre class="language-markup">
  <code>

    &lt;div class="content-section pt-14 pt-lg-26 pb-lg-26 "&gt;
      &lt;div class="container"&gt;
        &lt;div class="row align-items-center justify-content-center"&gt;
          &lt;div class="col-sm-10 col-lg-6"&gt;
            &lt;div class="content-img pr-9"&gt;
              &lt;img src="./image/l4/png/l4-content-img.png" alt="" class="gr-image-box-shadow mw-100"&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-6 col-md-10 pl-xl-15 mt-11 mt-lg-0" data-aos="fade-left" data-aos-duration="700" data-aos-once="true"&gt;
            &lt;div class="content-text pr-xl-13"&gt;
              &lt;h2 class="title gr-text-4 mb-7"&gt;Reasons you should &lt;br class="d-none d-lg-block"&gt;choose us to grow today.&lt;/h2&gt;
              &lt;p class="gr-text-8 mb-0"&gt;We share common trends and strategies for improving your rental income and making sure you stay in high demand.&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="content-widget mt-9 mb-11 mb-lg-0"&gt;
              &lt;div class="row"&gt;
                &lt;div class="col-md-6"&gt;
                  &lt;div class="single-widget d-flex align-items-center py-5"&gt;
                    &lt;div class="widget-icon text-primary mr-6 gr-text-8"&gt;
                      &lt;i class="icon icon-check-simple"&gt;&lt;/i&gt;
                    &lt;/div&gt;
                    &lt;h3 class="w-title gr-text-8 font-weight-bold mb-0"&gt;Fully Responsive&lt;/h3&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="col-md-6"&gt;
                  &lt;div class="single-widget d-flex align-items-center py-5"&gt;
                    &lt;div class="widget-icon text-primary mr-6 gr-text-8"&gt;
                      &lt;i class="icon icon-check-simple"&gt;&lt;/i&gt;
                    &lt;/div&gt;
                    &lt;h3 class="w-title gr-text-8 font-weight-bold mb-0"&gt;Beautiful Layouts&lt;/h3&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="col-xl-6 col-md-5"&gt;
                  &lt;div class="single-widget d-flex align-items-center py-5"&gt;
                    &lt;div class="widget-icon text-primary mr-6 gr-text-8"&gt;
                      &lt;i class="icon icon-check-simple"&gt;&lt;/i&gt;
                    &lt;/div&gt;
                    &lt;h3 class="w-title gr-text-8 font-weight-bold mb-0"&gt;Easy to Edit&lt;/h3&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="col-xl-6 col-md-7"&gt;
                  &lt;div class="single-widget d-flex align-items-center py-5"&gt;
                    &lt;div class="widget-icon text-primary mr-6 gr-text-8"&gt;
                      &lt;i class="icon icon-check-simple"&gt;&lt;/i&gt;
                    &lt;/div&gt;
                    &lt;h3 class="w-title gr-text-8 font-weight-bold mb-0"&gt;Google Font Included&lt;/h3&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>