<pre class="language-markup">
  <code>

    &lt;div class="content-section border-bottom pt-11 pb-7 pt-lg-23 pb-lg-28 bg-default-6"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-xl-6 col-lg-8 col-sm-10"&gt;
            &lt;div class="section-title text-center mb-12 mb-lg-23"&gt;
              &lt;h2 class="title gr-text-4 mb-6"&gt;Find jobs with 3 easy steps&lt;/h2&gt;
              &lt;p class="gr-text-8 px-lg-7 px-xl-0"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="row align-items-center"&gt;
          &lt;div class="col-lg-6"&gt;
            &lt;div class="content-img-group text-center mb-8 mb-lg-0"&gt;
              &lt;div class="main-image  w-xs-75 w-lg-85 w-xl-75 mx-auto position-relative gr-z-index-1"&gt;
                &lt;img class="rounded-10 w-100" src="./image/job-site/jpg/content-img-main.jpg" alt=""&gt;
                &lt;div class="underlay-shadow-img gr-abs-tl-custom-2 h-100" data-aos="fade-down-right" data-aos-duration="900" data-aos-once="true" data-aos-delay="400"&gt;
                  &lt;img class="rounded-10 h-100" src="./image/job-site/jpg/content-img-opacity.jpg" alt=""&gt;
                &lt;/div&gt;
                &lt;div class="notif-badge gr-abs-bl-custom-3" data-aos="fade-right" data-aos-duration="900" data-aos-once="true"&gt;
                  &lt;img class="rounded-10 w-100" src="./image/job-site/png/notification-badge.png" alt=""&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-6"&gt;
            &lt;div class="content-widget mt-7 mt-lg-0 pr-lg-13 pl-xl-19"&gt;
              &lt;div class="row align-items-center"&gt;
                &lt;div class="col-md-6 col-lg-12" data-aos="fade-left" data-aos-duration="900" data-aos-once="true"&gt;
                  &lt;div class="single-widget my-9 media"&gt;
                    &lt;div class="media-icon circle-sm bg-blue mr-8"&gt;
                      &lt;span class="count text-white gr-text-9"&gt;1&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="media-body"&gt;
                      &lt;h3 class="w-title mb-5 gr-text-7"&gt;Search for a job&lt;/h3&gt;
                      &lt;p class="gr-text-9 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding.&lt;/p&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="col-md-6 col-lg-12" data-aos="fade-left" data-aos-duration="900" data-aos-once="true"&gt;
                  &lt;div class="single-widget my-9 media"&gt;
                    &lt;div class="media-icon circle-sm bg-blue mr-8"&gt;
                      &lt;span class="count text-white gr-text-9"&gt;2&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="media-body"&gt;
                      &lt;h3 class="w-title mb-5 gr-text-7"&gt;Apply within our website&lt;/h3&gt;
                      &lt;p class="gr-text-9 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding.&lt;/p&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="col-md-6 col-lg-12" data-aos="fade-left" data-aos-duration="900" data-aos-once="true"&gt;
                  &lt;div class="single-widget my-9 media"&gt;
                    &lt;div class="media-icon circle-sm bg-blue mr-8"&gt;
                      &lt;span class="count text-white gr-text-9"&gt;3&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="media-body"&gt;
                      &lt;h3 class="w-title mb-5 gr-text-7"&gt;Get interview call&lt;/h3&gt;
                      &lt;p class="gr-text-9 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding.&lt;/p&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    
  </code>
</pre>