{% import "sections/content/content-3.njk" as Content %}

<div class="bg-default-1 dark-mode-texts">
{{Content.render("../", "bg-gradient bg-gradient-3 pt-lg-25 pt-14 pb-14 pb-lg-26 dark-mode-texts")}}
</div>