<pre class="language-markup">
  <code>

    &lt;div class="content-section bg-default-1 border-top pt-13 pt-lg-26 pb-13 pb-lg-21 dark-mode-texts"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row align-items-center justify-content-center"&gt;
          &lt;div class="col-sm-10 col-lg-6 col-xl-6 offset-xl-1  order-lg-2 mb-9 mb-lg-0"&gt;
            &lt;div class="double-image-group-opacity" data-aos="zoom-in" data-aos-duration="1200" data-aos-once="true"&gt;
              &lt;img class="main-img w-100" src="./image/l4/webp/2-layers.webp" alt="" /&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-sm-10 col-lg-5 col-xl-5 order-lg-1"&gt;
            &lt;div class="content-text"&gt;
              &lt;h2 class="gr-text-4 mb-7"&gt;Understand your visitors fast. Take quick actions.&lt;/h2&gt;
              &lt;p class="gr-text-8 mb-0"&gt;We share common trends and strategies for improving your rental income and making sure you stay in high demand.&lt;/p&gt;
              &lt;a href="#" class="btn-link with-icon gr-text-blue gr-text-7 font-weight-bold mt-9"&gt;Start a free trial &lt;i class="icon icon-tail-right font-weight-bold"&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>