<pre class="language-markup">
  <code>

    &lt;div class="content-section pt-13 pt-lg-19 pb-13 pb-lg-19 bg-default-4 dark-mode-texts"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row align-items-center justify-content-center"&gt;
          &lt;div class="col-lg-6 order-lg-2" data-aos="flip-right" data-aos-duration="2000" data-aos-once="true"&gt;
            &lt;div class="content-img text-right"&gt;
              &lt;img src="./image/l6/png/l6-content2-img.png" alt="" class="w-100"&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-10 col-lg-6 col-xl-5 pr-xl-13 order-lg-1"&gt;
            &lt;div class="section-title content-text mb-13"&gt;
              &lt;h2 class="title gr-text-3 mb-6"&gt;Organize remote team fast & easily.&lt;/h2&gt;
              &lt;p class="gr-text-8"&gt;We share common trends and strategies for improving your rental income.&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="content-widget"&gt;
              &lt;div class="row mb-n9"&gt;
                &lt;div class="col-md-6 col-lg-9 col-xl-10" data-aos="fade-right" data-aos-duration="500" data-aos-once="true"&gt;
                  &lt;div class="single-widget mb-9"&gt;
                    &lt;h3 class="w-title gr-text-7"&gt;Create Unlimited Teams&lt;/h3&gt;
                    &lt;p class="gr-text-9 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. &lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="col-md-6 col-lg-9 col-xl-10" data-aos="fade-right" data-aos-duration="1100" data-aos-once="true"&gt;
                  &lt;div class="single-widget mb-9"&gt;
                    &lt;h3 class="w-title gr-text-7"&gt;Hasslefree Chat with Everyone&lt;/h3&gt;
                    &lt;p class="gr-text-9 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. &lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>