<pre class="language-markup">
  <code>

    &lt;div class="content-section-3 pt-13 pb-15 py-lg-23 py-xl-29 bg-pattern pattern-3 bg-blackish-blue dark-mode-texts"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row align-items-center justify-content-center"&gt;
          &lt;div class="col-xl-6 col-lg-7 col-md-8"&gt;
            &lt;div class="text-center content-3"&gt;
              &lt;div class="section-title"&gt;
                &lt;h2 class="title gr-text-3 mb-7"&gt;Trendy designs with better sound quality.&lt;/h2&gt;
                &lt;p class="gr-text-8 mb-17 px-11"&gt;We share common trends and strategies for improving your rental income.&lt;/p&gt;
              &lt;/div&gt;
              &lt;div class="two-side-image d-flex"&gt;
                &lt;div class="left-side-image" data-aos="fade-right" data-aos-duration="500"&gt;
                  &lt;img src="./image/l7/png/product-left.png" alt="" class="w-100"&gt;
                &lt;/div&gt;
                &lt;div class="right-side-image mt-25" data-aos="fade-left" data-aos-duration="500"&gt;
                  &lt;img src="./image/l7/png/product-right.png" alt="" class="w-100"&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>