{% macro render(root,additional_class) %}

<div class="news-section pt-12 pb-8 py-lg-23 {{additional_class}}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7 col-md-9">
        <div class="section-title text-center mb-11 mb-lg-18">
          <h2 class="title gr-text-4 mb-6">News that helps</h2>
          <p class="gr-text-8 px-lg-8 mb-0">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
        </div>
      </div>
    </div>

    {% set news_data = [
      {
        path: 'job-site/jpg/news-card-img1.jpg',
        category:"Career",
        title:'How to win any job you want. Get started with 5 steps.'
      },
      {
        path: 'job-site/jpg/news-card-img2.jpg',
        category:"Lifestyle",
        title:'10 ways to reduce your office work depression.'
      },
      {
        path: 'job-site/jpg/news-card-img3.jpg',
        category:"Career",
        title:'Why should you work as a team even on small projects.'
      }
      ] %}
    <div class="row justify-content-center" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true">
      {% for data in news_data %}
      <div class="col-md-6 col-lg-4">
        <div class="location-card mb-9 gr-hover-shadow-1">
          <a href="#" class="card-img">
            <img src="{{root}}image/{{data.path}}" alt="" class="w-100 rounded-top-10">
          </a>
          <div class="card-content px-9 py-8 bg-white rounded-bottom-10">
            <a href="#">
              <p class="gr-text-11 mb-4 d-inline-block gr-color-blackish-blue-opacity-7">{{data.category}}</p>
            </a>
            <a href="#">
              <h3 class="title text-blackish-blue gr-text-7 mb-0">{{data.title}}</h3>
            </a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endmacro %}

