{% macro render(additional_class) %}

<div class=" pb-5 pb-md-33 bg-default-2 {{additional_class}}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 mb-9">
        <div class="row">
          <div class="col-md-5 col-lg-4  mb-13">
            <div class="single-contact-widget d-flex">
              <div class="widget-icon circle-sm-2 bg-white gr-text-6 text-primary mr-7">
                  <i class="icon icon-phone-2"></i>
              </div>
              <div class="widget-text">
                <h3 class="gr-text-6 mb-5">Call us</h3>
                <p class="gr-text-7 mb-0">+1-940-394-2948 <br>
                  +1-389-385-3807</p>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-lg-4 mb-13">
            <div class="single-contact-widget d-flex">
              <div class="widget-icon circle-sm-2 bg-white gr-text-6 text-primary mr-7">
                <i class="icon icon-email-83"></i>
              </div>
              <div class="widget-text">
                <h3 class="gr-text-6 mb-5">Email us</h3>
                <p class="gr-text-7 mb-0">
                  support@grayic.com<br>
                  contact@grayic.com
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-5 col-lg-4 mb-13">
            <div class="single-contact-widget d-flex">
              <div class="widget-icon circle-sm-2 bg-white gr-text-6 text-primary mr-7">
                <i class="icon icon-pin-3-2"></i>
              </div>
              <div class="widget-text">
                <h3 class="gr-text-6 mb-5">Visit us</h3>
                <p class="gr-text-7 mb-0">
                  34 Madison Street,<br>
                  NY, USA 10005
                </p>
              </div>
            </div>
          </div>
        </div>
        
      </div>
      <div class="col-12">
        <div class="login-form bg-white border-gray-3 px-8 pt-8 pb-9 px-sm-11 py-sm-11 shadow-1 rounded-10">
          <form action="./">
           <div class="row">
             <div class="col-md-6">
              <div class="form-group mb-7">
                <label for="name" class="gr-text-11 font-weight-bold text-blackish-blue">First & Last Name</label>
                <input class="form-control gr-text-11 border" type="text" id="name" placeholder="i.e. John Doe">
              </div>
             </div>
             <div class="col-md-6">
              <div class="form-group mb-7">
                <label for="name" class="gr-text-11 font-weight-bold text-blackish-blue">Email</label>
                <input class="form-control gr-text-11 border" type="text" id="email" placeholder="i.e. john@mail.com">
              </div>
             </div>
             <div class="col-md-6">
              <div class="form-group mb-7">
                <label for="name" class="gr-text-11 font-weight-bold text-blackish-blue">Phone Number</label>
                <input class="form-control gr-text-11 border" type="text" id="subject" placeholder="i.e. +1-234-567-7890">
              </div>
             </div>
             <div class="col-md-6">
              <div class="form-group mb-7">
                <label for="name" class="gr-text-11 font-weight-bold text-blackish-blue">Subject</label>
                <input class="form-control gr-text-11 border" type="text" id="subject" placeholder="i.e. I need a help">
              </div>
             </div>
             <div class="col-md-12">
              <div class="form-group mb-7">
                <label for="name" class="gr-text-11 font-weight-bold text-blackish-blue">Message</label>
                <textarea name="textblock" id="message" class="form-control gr-text-11 border-gray-3 gr-textarea-height"></textarea>
              </div>
             </div>
             <div class="col-xs-3">
              <div class="form-group button-block mt-3 ">
                <button class="form-btn btn btn-primary w-100">Send</button>
              </div>
             </div>
           </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

{% endmacro %}
