<pre class="language-markup">
  <code>

    &lt;div class="content-section2 pt-12 pb-9 pt-lg-21 pb-lg-25 bg-default-4"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-xl-6 col-lg-8 col-sm-10"&gt;
            &lt;div class="section-title text-center mb-12 mb-lg-17"&gt;
              &lt;h2 class="title gr-text-4 mb-7"&gt;Why you should choose us?&lt;/h2&gt;
              &lt;p class="gr-text-8 px-lg-7 px-xl-0"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="row align-items-center"&gt;
          &lt;div class="col-lg-6"&gt;
            &lt;div class="content-video-thumb rounded-8 gr-hover-shadow-2"&gt;
              &lt;img class="w-100 rounded-8" src="./image/l2/jpg/l2-content2-img.jpg" alt=""&gt;
              &lt;a class="video-play-trigger circle-xl bg-white gr-abs-center gr-abs-hover-y focus-reset" data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" tabindex="-1"&gt;&lt;i class="icon icon-triangle-right-17-2 text-green"&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-5"&gt;
            &lt;div class="content-widget mt-7 mt-lg-0 pl-xl-13"&gt;
              &lt;div class="row align-items-center"&gt;
                &lt;div class="col-md-6 col-lg-12" data-aos="fade-left" data-aos-duration="500" data-aos-once="true"&gt;
                  &lt;div class="single-widget my-7 media"&gt;
                    &lt;div class="media-icon circle-sm gr-bg-blue-opacity-1 mr-8"&gt;
                      &lt;span class="count text-primary--light-only gr-text-9"&gt;1&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="media-body"&gt;
                      &lt;h3 class="w-title mb-5 gr-text-7"&gt;Easy Booking&lt;/h3&gt;
                      &lt;p class="gr-text-9 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. &lt;/p&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="col-md-6 col-lg-12" data-aos="fade-left" data-aos-duration="1100" data-aos-once="true"&gt;
                  &lt;div class="single-widget my-7 media"&gt;
                    &lt;div class="media-icon circle-sm gr-bg-blue-opacity-1 mr-8"&gt;
                      &lt;span class="count text-primary--light-only gr-text-9"&gt;2&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="media-body"&gt;
                      &lt;h3 class="w-title mb-5 gr-text-7"&gt;Free Expert Opinion&lt;/h3&gt;
                      &lt;p class="gr-text-9 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. &lt;/p&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="col-md-6 col-lg-12" data-aos="fade-left" data-aos-duration="1700" data-aos-once="true"&gt;
                  &lt;div class="single-widget my-7 media"&gt;
                    &lt;div class="media-icon circle-sm gr-bg-blue-opacity-1 mr-8"&gt;
                      &lt;span class="count text-primary--light-only gr-text-9"&gt;3&lt;/span&gt;
                    &lt;/div&gt;
                    &lt;div class="media-body"&gt;
                      &lt;h3 class="w-title mb-5 gr-text-7"&gt;Get Your Results&lt;/h3&gt;
                      &lt;p class="gr-text-9 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. &lt;/p&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>