<pre class="language-markup">
  <code>

    &lt;div class="video-area position-relative gr-z-index-1 py-13 py-lg-21 bg-gradient bg-gradient-3 dark-mode-texts"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row"&gt;
          &lt;div class="col-12"&gt;
            &lt;div class="video-image-pattern-bottom "&gt;
              &lt;img class="w-100 rounded-20" src="./image/l6/jpg/l6-video-img.jpg" alt=""&gt;
              &lt;a class="circle-xxl bg-white gr-abs-center gr-abs-hover-y gr-text-8" href="https://youtu.be/xcJtL7QggTI" data-fancybox=""&gt;&lt;i class="icon icon-triangle-right-17-2 text-red"&gt;&lt;/i&gt;&lt;/a&gt;
              &lt;div class="gr-abs-bl-custom pattern" data-aos="fade-down-left" data-aos-duration="900" data-aos-once="true"&gt;
                &lt;img src="./image/l6/png/l6-video-pattern.png" alt=""&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    
  </code>
</pre>