<pre class="language-markup">
  <code>

    &lt;div class="video-section bg-image py-28 py-lg-35 dark-mode-texts" style="background-image: url(./image/inner/video-bg-2.png);"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row align-items-center justify-content-center"&gt;
          &lt;div class="col-xl-6 col-lg-7 col-md-8"&gt;
            &lt;div class="text-center video-content"&gt;
              &lt;!-- .video-btn starts--&gt;
              &lt;a class="video-play-icon mx-auto circle-120 bg-primary gr-text-7 text-white my-lg-8 gr-hover-y focus-reset" data-fancybox="" href="https://www.youtube.com/watch?v=_sI_Ps7JSEk" tabindex="-1"&gt;
                &lt;i class="icon icon-triangle-right-17-2"&gt;&lt;/i&gt;
              &lt;/a&gt;
              &lt;!--/.video-btn starts--&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>