{% macro render(additional_class) %}

<div class="faq-section {{additional_class}}">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-9 pr-xl-12 mb-lg-15">
        <div class="single-faq media">
          <div class="count circle-xs bg-green mr-8">
            <i class="fas fa-question text-white"></i>
          </div>
          <div class="faq-text">
            <h3 class="faq-title mb-7 gr-text-7 gr-text-color">Can I use Albino for my clients?</h3>
            <p class="gr-text-9 gr-text-color-opacity">With lots of unique blocks, you can easily build a page without coding. Build your next landing page. Integer ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre.</p>
            <a href="" class="btn-link with-icon mt-6 text-green h6">Click to learn more <i class="fas fa-arrow-right gr-text-12"></i></a>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-9 pr-xl-12 mb-lg-15">
        <div class="single-faq media">
          <div class="count circle-xs bg-green mr-8">
            <i class="fas fa-question text-white"></i>
          </div>
          <div class="faq-text">
            <h3 class="faq-title mb-7 gr-text-7 gr-text-color">Does it work with WordPress?</h3>
            <p class="gr-text-9 gr-text-color-opacity">With lots of unique blocks, you can easily build a page without coding. Build your next landing page. Integer ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-9 pr-xl-12 mb-lg-15">
        <div class="single-faq media">
          <div class="count circle-xs bg-green mr-8">
            <i class="fas fa-question text-white"></i>
          </div>
          <div class="faq-text">
            <h3 class="faq-title mb-7 gr-text-7 gr-text-color">Do I get free updates?</h3>
            <p class="gr-text-9 gr-text-color-opacity">With lots of unique blocks, you can easily build a page without coding. Build your next landing page. Integer ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 mb-9 pr-xl-12 mb-lg-15">
        <div class="single-faq media">
          <div class="count circle-xs bg-green mr-8">
            <i class="fas fa-question text-white"></i>
          </div>
          <div class="faq-text">
            <h3 class="faq-title mb-7 gr-text-7 gr-text-color">Will you provide support?</h3>
            <p class="gr-text-9 gr-text-color-opacity">With lots of unique blocks, you can easily build a page without coding. Build your next landing page. Integer ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre.</p>
          </div>
        </div>
      </div>
      <div class="col-12 text-center mt-3 ">
        <p class="more-support gr-text-9 gr-text-color">Haven’t got your answer? <a href="#" class="support-link text-green">Contact our support now</a></p>
      </div>
    </div>
  </div>
</div>

{% endmacro %}
