{% macro render(additional_class) %}


  {% set acc_data = [
    {
      key: "5-1",
      title: "Can I use Albino for my clients?",
      text: "With lots of unique blocks, you can easily build a page without coding. Build your next landing page. Integer ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre.",
      show: true
    },
    {
      key: "5-2",
      title: "Does it work with WordPress?",
      text: "With lots of unique blocks, you can easily build a page without coding. Build your next landing page.",
      show:false
    },
    {
      key: "5-3",
      title: "Do I get free updates?",
      text: "With lots of unique blocks, you can easily build a page without coding. Build your next landing page.",
      show:false
    },
    {
      key: "5-4",
      title: "Organize your campaigns",
      text: "With lots of unique blocks, you can easily build a page without coding. Build your next landing page.",
      show:false
    },
    {
      key: "5-5",
      title: "Will you provide support?",
      text: "With lots of unique blocks, you can easily build a page without coding. Build your next landing page.",
      show:fale
    }
  ] %}

  <div class="{{additional_class}}">
    <div class="container">
      <!-- section-title Starts -->
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-9">
          <div class="px-md-12 text-center mb-9 mb-lg-18">
          <h2 class="title gr-text-3 mb-8">Frequently Asked Questions</h2>
          <p class="gr-text-8 mb-0">With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.</p>
          </div>
        </div>
      </div>
      <!-- ./section-title Ends-->
      <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-9">
          <div class="accordion" id="accordionExample">
            {% for item in  acc_data %}
            <div class="border rounded-10 mb-3 bg-white overflow-hidden">
            <div class="mb-0 py-8 pl-9 pr-7 border-bottom-0 bg-white" id="heading{{item.key}}">
                <button class="btn-reset gr-text-7 font-weight-bold text-left text-blackish-blue p-0 accordion-trigger arrow-icon w-100" type="button" data-toggle="collapse" data-target="#collapse{{item.key}}" aria-expanded="{{ 'true' if item.show else 'false'}}" aria-controls="collapse{{item.key}}">
                  {{item.title}}
                </button>
            </div>
        
            <div id="collapse{{item.key}}" class="collapse {{ 'show' if item.show}}" aria-labelledby="heading{{item.key}}" data-parent="#accordionExample">
              <div class="card-body gr-color-blackish-blue-opacity-7 pt-0 pl-9 pr-15 gr-text-9 pb-9">
                {{item.text}}
              </div>
            </div>
          </div>
            {% endfor %}
          </div>
        </div>
        <div class="col-12 text-center pt-11">
          <p class="gr-text-9 gr-text-9 gr-text-color">Haven’t got your answer? <a href="#" class="btn-link">Contact our support now</a></p>
        </div>
      </div>
      
    </div>
  </div>

{% endmacro %}
