{% macro render(additional_class) %}

<div class="cta-section-2 dark-mode-texts bg-blackish-blue {{additional_class}}">
  <div class="container">
    <div class="cta-wrapper pt-14 pb-14 py-lg-19 border-bottom">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-6 col-md-10">
          <div class="cta-text section-title">
            <h2 class="title gr-text-5 mb-7 text-white">Ready to launch your next project?</h2>
            <p class="gr-text-8 gr-color-white-opacity-7 mb-8 mb-lg-0">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
          </div>
        </div>
        <div class="col-lg-4 offset-lg-2 col-md-10">
          <div class="cta-btn text-lg-right">
            <a href="#" class="btn btn-primary gr-hover-y">Get started on a project</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endmacro %}

