{% macro render(root,additional_class) %}

<div class="cta-section {{additional_class}}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-9 col-lg-7 col-xl-6">
        <div class="text-center dark-mode-texts">
          <h2 class="gr-text-4 mb-7">Ready to get treatment?</h2>
          <p class="gr-text-9 mb-11 px-xl-7 gr-text-color">We've made telemedicine simple and easy for you. Create your personal room and start practicing telemedicine today.</p>
          <a href="#" class="btn btn-green text-white gr-hover-y px-lg-9">Book my appointment</a>
          <p class="gr-text-11 mb-0 mt-6">It takes only 2 mins!</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endmacro %}
{% macro code(root,additional_class) %}
<pre class="language-markup">
  <code>
    &lt;div class=&quot;cta-section {{additional_class}}&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;row justify-content-center&quot;&gt;
        &lt;div class=&quot;col-md-9 col-lg-7 col-xl-6&quot;&gt;
          &lt;div class=&quot;text-center dark-mode-texts&quot;&gt;
            &lt;h2 class=&quot;gr-text-4 mb-7&quot;&gt;Ready to get treatment?&lt;/h2&gt;
            &lt;p class=&quot;gr-text-9 mb-11 px-xl-7 gr-text-color&quot;&gt;We've made telemedicine simple and easy for you. Create your personal room and start practicing telemedicine today.&lt;/p&gt;
            &lt;a href=&quot;#&quot; class=&quot;btn btn-green text-white gr-hover-y px-lg-9&quot;&gt;Book my appointment&lt;/a&gt;
            &lt;p class=&quot;gr-text-11 mb-0 mt-6&quot;&gt;It takes only 2 mins!&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
</code>
</pre>
{% endmacro %}

