{% macro render(additional_class) %}

<div class="fact-section bg-default-4 border-bottom pt-13 pt-lg-18 pb-7 pb-lg-17 {{additional_class}}" id="second-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-6 mb-9 mb-lg-0">
        <div class="single-fact text-center px-md-9 px-lg-6 px-xl-11">
          <h3 class="title mb-7 gr-text-3 counter">06</h3>
          <p class="gr-text-8 mb-0">Offices are available on different countries</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-9 mb-lg-0">
        <div class="single-fact text-center px-md-9 px-lg-6 px-xl-11">
          <h3 class="title mb-7 gr-text-3 counter">238</h3>
          <p class="gr-text-8 mb-0">Seats are available right now with dedicated support</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-9 mb-lg-0">
        <div class="single-fact text-center px-md-9 px-lg-6 px-xl-11">
          <h3 class="title mb-7 gr-text-3 counter">1,395</h3>
          <p class="gr-text-8 mb-0">People are using our co-work spaces right now</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endmacro %}
