{% macro render(additional_class) %}

<div class="fact-section {{additional_class}}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 col-sm-6 mb-9 mb-lg-0">
        <div class="single-fact text-center px-xl-6">
          <h3 class="title mb-7 gr-text-3">1M+</h3>
          <p class="gr-text-8 mb-0">Customers visit Albino every month to get their service done.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-9 mb-lg-0">
        <div class="single-fact text-center px-xl-6">
          <h3 class="title mb-7 gr-text-3"><span class="counter">92</span>%</h3>
          <p class="gr-text-8 mb-0">Satisfaction rate comes from our awesome customers.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-9 mb-lg-0">
        <div class="single-fact text-center px-xl-6">
          <h3 class="title mb-7 gr-text-3"><span class="counter">4.9</span>/5.0</h3>
          <p class="gr-text-8 mb-0">Average customer ratings we have got all over internet.</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endmacro %}
