{% macro render(root,options) %}

<div class="rating-section bg-default-6 {{options.wrapper_class}}">
  <div class="container">
    <div class="pt-13 pb-7 pt-lg-24 pb-lg-19 border-bottom">
      <div class="row">
        <div class="col-lg-6 col-xl-5">
          <div class="section-title">
            <h2 class="gr-text-4 gr-text-color">Trusted by 25,000+ happy customers who are using Shade since 2019.</h2>
          </div>
        </div>
        <div class="col-lg-6 col-xl-5 offset-xl-2">
          <div class="rating-wrapper mt-9 mt-lg-0">
            <div class="row justify-content-md-between">
              <div class="col-md-5">
                <div class="single-rating mb-9">
                  <h2 class="gr-text-2 mb-6"> <span class="counter">15</span>k</h2>
                  <span class="gr-text-9 gr-text-color d-block">Active downloads
                    from the community</span>
                </div>
              </div>
              <div class="col-md-5">
                <div class="single-rating mb-9">
                  <h2 class="gr-text-2 mb-6"><span class="counter">4.9</span></h2>
                  <img class="mb-6" src="{{root}}image/conference/png/five-star-rating.png" alt="">
                  <span class="gr-text-9 gr-text-color d-block"> <span class="counter">1,938</span> Rating</span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endmacro %}

{% macro code(options) %}
<pre class="language-markup">
  <code>
&lt;div class=&quot;rating-section bg-default-6 {{options.wrapper_class}}&quot;&gt;
  &lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;pt-13 pb-7 pt-lg-24 pb-lg-19 border-bottom&quot;&gt;
      &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-lg-6 col-xl-5&quot;&gt;
          &lt;div class=&quot;section-title&quot;&gt;
            &lt;h2 class=&quot;gr-text-4 gr-text-color&quot;&gt;Trusted by 25,000+ happy customers who are using Shade since 2019.&lt;/h2&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-lg-6 col-xl-5 offset-xl-2&quot;&gt;
          &lt;div class=&quot;rating-wrapper mt-9 mt-lg-0&quot;&gt;
            &lt;div class=&quot;row justify-content-md-between&quot;&gt;
              &lt;div class=&quot;col-md-5&quot;&gt;
                &lt;div class=&quot;single-rating mb-9&quot;&gt;
                  &lt;h2 class=&quot;gr-text-2 mb-6&quot;&gt;15k&lt;/h2&gt;
                  &lt;span class=&quot;gr-text-9 gr-text-color d-block&quot;&gt;Active downloads
                    from the community&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;col-md-5&quot;&gt;
                &lt;div class=&quot;single-rating mb-9&quot;&gt;
                  &lt;h2 class=&quot;gr-text-2 mb-6&quot;&gt;4.9&lt;/h2&gt;
                  &lt;img class=&quot;mb-6&quot; src=&quot;{{root}}image/conference/png/five-star-rating.png&quot; alt=&quot;&quot;&gt;
                  &lt;span class=&quot;gr-text-9 gr-text-color d-block&quot;&gt;1,938 Rating&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;

            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

{% endmacro %}
