{% macro render(additional_class) %}


<div class="fact-section py-12 pt-lg-20 pb-lg-17 bg-default-1 border-bottom border-gray-3 {{additional_class}}">
  <div class="container">
    <div class="row justify-content-center mb-n9">
      <div class="col-lg-4 col-md-6 col-sm-6 mb-9">
        <div class="single-fact d-flex px-9 px-sm-0 px-xl-9">
          <h3 class="gr-text-3 mr-9">1M+</h3>
          <p class="gr-text-9 mb-0">Customers visit Albino every months</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-9">
        <div class="single-fact d-flex px-9 px-sm-0 px-xl-9">
          <h3 class="gr-text-3 mr-9"><span class="counter">93</span>%</h3>
          <p class="gr-text-9 mb-0">Satisfaction rate from our customers.</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-sm-6 mb-9">
        <div class="single-fact d-flex px-9 px-sm-0 px-xl-9">
          <h3 class="gr-text-3 mr-9"><span class="counter">4.9</span></h3>
          <p class="gr-text-9 mb-0">Average customer ratings out of 5.00!</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endmacro %}
