<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Shade Pro - Components</title>
  <link rel="shortcut icon" href="../image/png/favicon.png" type="image/x-icon">

  <!-- Bootstrap , fonts & icons  -->
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../fonts/icon-font/css/style.css">
  <link rel="stylesheet" href="../fonts/typography-font/typo.css">
  <link rel="stylesheet" href="../fonts/fontawesome-5/css/all.css">

  <!-- Plugin'stylesheets  -->
  <link rel="stylesheet" href="../plugins/aos/aos.min.css">
  <link rel="stylesheet" href="../plugins/fancybox/jquery.fancybox.min.css">
  <link rel="stylesheet" href="../plugins/nice-select/nice-select.min.css">
  <link rel="stylesheet" href="../plugins/slick/slick.min.css">
  <link rel="stylesheet" href="../plugins/prism-js/prism.css">
  <link rel="stylesheet" href="../plugins/date-picker/css/gijgo.min.css" type="text/css"/>
  {% block plugincss %}
    
  {% endblock %}
  <!-- Vendor stylesheets  -->
  <link rel="stylesheet" href="../plugins/theme-mode-switcher/switcher-panel.css">
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="../css/elements-adjustment.css">
  <link rel="stylesheet" href="../css/theme-mode-custom.css">

  <!-- Custom stylesheet -->
</head>
<body data-theme="light" oncontextmenu="return false" onmousedown="return false;">
  {% set root = "../" %}
  {% set elemroot = "./" %}
  <div class="site-wrapper overflow-hidden">
      {% block main %}
    
      {% endblock %}
  </div>
  <!-- Vendor Scripts -->
  <script src="../js/vendor.min.js"></script>

  <!-- Plugin's Scripts -->
  <script src="../plugins/fancybox/jquery.fancybox.min.js"></script>
  <script src="../plugins/nice-select/jquery.nice-select.min.js"></script>
  <script src="../plugins/aos/aos.min.js"></script>
  <script src="../plugins/slick/slick.min.js"></script>
  <script src="../plugins/theme-mode-switcher/gr-theme-mode-switcher.js"></script>
  <script src="../plugins/prism-js/prism.js"></script>
  <script src="../plugins/counter-up/jquery.waypoints.min.js"></script>
  <script src="../plugins/counter-up/jquery.counterup.min.js"></script>
  <script src="../plugins/date-picker/js/gijgo.min.js"></script>
  {% block pluginjs %}
    
  {% endblock %}
  <!-- Activation Script -->
  <script src="../js/custom.js"></script>
  <script>

(function() {
    try {
        var $_console$$ = console;
        Object.defineProperty(window, "console", {
            get: function() {
                if ($_console$$._commandLineAPI)
                    throw "Sorry, for security reasons, the script console is deactivated on netflix.com";
                return $_console$$
            },
            set: function($val$$) {
                $_console$$ = $val$$
            }
        })
    } catch ($ignore$$) {
    }
})();
$(document).keydown(function(e){
    if(e.which === 123){
       return false;
    }
    if(e.ctrlKey && e.keyCode == 'E'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'S'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'H'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'A'.charCodeAt(0)){
return false;
}
if(e.ctrlKey && e.keyCode == 'E'.charCodeAt(0)){
return false;
}
});
  </script>
  
</body>
</html>
