<pre class="language-markup">
  <code>

    &lt;div class="news-section pt-12 pb-8 py-lg-23 bg-default-2"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-xl-6 col-lg-7 col-md-9"&gt;
            &lt;div class="section-title text-center mb-11 mb-lg-18"&gt;
              &lt;h2 class="title gr-text-4 mb-6"&gt;News that helps&lt;/h2&gt;
              &lt;p class="gr-text-8 px-lg-8 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="row justify-content-center" data-aos="fade-left" data-aos-duration="1000" data-aos-once="true"&gt;
          &lt;div class="col-md-6 col-lg-4"&gt;
            &lt;div class="location-card mb-9 gr-hover-shadow-1"&gt;
              &lt;a href="#" class="card-img"&gt;
                &lt;img src="./image/job-site/jpg/news-card-img1.jpg" alt="" class="w-100 rounded-top-10"&gt;
              &lt;/a&gt;
              &lt;div class="card-content px-9 py-8 bg-white rounded-bottom-10"&gt;
                &lt;a href="#"&gt;
                  &lt;p class="gr-text-11 mb-4 d-inline-block gr-color-blackish-blue-opacity-7"&gt;Career&lt;/p&gt;
                &lt;/a&gt;
                &lt;a href="#"&gt;
                  &lt;h3 class="title text-blackish-blue gr-text-7 mb-0"&gt;How to win any job you want. Get started with 5 steps.&lt;/h3&gt;
                &lt;/a&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-md-6 col-lg-4"&gt;
            &lt;div class="location-card mb-9 gr-hover-shadow-1"&gt;
              &lt;a href="#" class="card-img"&gt;
                &lt;img src="./image/job-site/jpg/news-card-img2.jpg" alt="" class="w-100 rounded-top-10"&gt;
              &lt;/a&gt;
              &lt;div class="card-content px-9 py-8 bg-white rounded-bottom-10"&gt;
                &lt;a href="#"&gt;
                  &lt;p class="gr-text-11 mb-4 d-inline-block gr-color-blackish-blue-opacity-7"&gt;Lifestyle&lt;/p&gt;
                &lt;/a&gt;
                &lt;a href="#"&gt;
                  &lt;h3 class="title text-blackish-blue gr-text-7 mb-0"&gt;10 ways to reduce your office work depression.&lt;/h3&gt;
                &lt;/a&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-md-6 col-lg-4"&gt;
            &lt;div class="location-card mb-9 gr-hover-shadow-1"&gt;
              &lt;a href="#" class="card-img"&gt;
                &lt;img src="./image/job-site/jpg/news-card-img3.jpg" alt="" class="w-100 rounded-top-10"&gt;
              &lt;/a&gt;
              &lt;div class="card-content px-9 py-8 bg-white rounded-bottom-10"&gt;
                &lt;a href="#"&gt;
                  &lt;p class="gr-text-11 mb-4 d-inline-block gr-color-blackish-blue-opacity-7"&gt;Career&lt;/p&gt;
                &lt;/a&gt;
                &lt;a href="#"&gt;
                  &lt;h3 class="title text-blackish-blue gr-text-7 mb-0"&gt;Why should you work as a team even on small projects.&lt;/h3&gt;
                &lt;/a&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

    
  </code>
</pre>