<pre class="language-markup">
  <code>

    &lt;div class="brand-section pt-13 pb-13 bg-default-2 dark-mode-texts bg-default-6"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row justify-content-center align-items-center"&gt;
          &lt;div class="col-12"&gt;
            &lt;div class="brand-logos d-flex justify-content-center justify-content-xl-between align-items-center mx-n9 flex-wrap"&gt;
              &lt;div class="single-brand mx-9 py-6 gr-opacity-8"&gt;
                &lt;img src="./image/l4/png/l4-brand1.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
              &lt;div class="single-brand mx-9 py-6 gr-opacity-8"&gt;
                &lt;img src="./image/l4/png/l4-brand2.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
              &lt;div class="single-brand mx-9 py-6 gr-opacity-8"&gt;
                &lt;img src="./image/l4/png/l4-brand3.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
              &lt;div class="single-brand mx-9 py-6 gr-opacity-8"&gt;
                &lt;img src="./image/l4/png/l4-brand4.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
              &lt;div class="single-brand mx-9 py-6 gr-opacity-8"&gt;
                &lt;img src="./image/l4/png/l4-brand5.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
              &lt;div class="single-brand mx-9 py-6 gr-opacity-8"&gt;
                &lt;img src="./image/l4/png/l4-brand6.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    
  </code>
</pre>