<pre class="language-markup">
  <code>
    
    &lt;div class="brand-section pt-11 pb-9 pt-lg-24 pb-lg-24 bg-default-6 dark-mode-texts bg-default-6"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row justify-content-center align-items-center"&gt;
          &lt;div class="col-md-10-col-lg-9 col-xl-8"&gt;
            &lt;div class="section-title text-center mb-7 mb-lg-11"&gt;
              &lt;h2 class="title gr-text-4 mb-9"&gt;Big companies are here&lt;/h2&gt;
              &lt;p class="gr-text-8 px-lg-8 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes. You have a business to run. Stop worring about cross-browser bugs, designing new pages.&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-12 col-md-11 col-lg-10 col-xl-9"&gt;
            &lt;div class="brand-logos d-flex justify-content-center align-items-center mx-n9 flex-wrap"&gt;
              &lt;div class="single-brand mx-9 py-7 gr-opacity-8" data-aos="zoom-in-right" data-aos-duration="500" data-aos-once="true"&gt;
                &lt;img src="./image/l4/png/l4-brand1.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
              &lt;div class="single-brand mx-9 py-7 gr-opacity-8" data-aos="zoom-in-right" data-aos-duration="700" data-aos-once="true"&gt;
                &lt;img src="./image/l4/png/l4-brand2.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
              &lt;div class="single-brand mx-9 py-7 gr-opacity-8" data-aos="zoom-in-right" data-aos-duration="900" data-aos-once="true"&gt;
                &lt;img src="./image/l4/png/l4-brand3.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
              &lt;div class="single-brand mx-9 py-7 gr-opacity-8" data-aos="zoom-in-right" data-aos-duration="1100" data-aos-once="true"&gt;
                &lt;img src="./image/l4/png/l4-brand4.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
              &lt;div class="single-brand mx-9 py-7 gr-opacity-8" data-aos="zoom-in-right" data-aos-duration="1300" data-aos-once="true"&gt;
                &lt;img src="./image/l4/png/l4-brand5.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
              &lt;div class="single-brand mx-9 py-7 gr-opacity-8" data-aos="zoom-in-right" data-aos-duration="1500" data-aos-once="true"&gt;
                &lt;img src="./image/l4/png/l4-brand6.png" alt="" class="w-100"&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    
  </code>
</pre>