{% macro render(root,additional_class) %}

<div class="brand-section {{additional_class}}">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-md-8">
        <p class="gr-text-9 text-center mb-7">Trusted by over 4,000+ customers, some of them are here</p>
      </div>
      <div class="col-12">
        <div class="brand-logos d-flex justify-content-center justify-content-xl-between align-items-center mx-n9 flex-wrap">
          <div class="single-brand mx-9 py-6 gr-opacity-8 gr-hover-opacity-full" data-aos="zoom-in-right" data-aos-duration="500" data-aos-once="true">
            <img src="{{root}}image/l4/png/l4-brand1.png" alt="" class="w-100">
          </div>
          <div class="single-brand mx-9 py-6 gr-opacity-8 gr-hover-opacity-full" data-aos="zoom-in-right" data-aos-duration="500" data-aos-delay="200" data-aos-once="true">
            <img src="{{root}}image/l4/png/l4-brand2.png" alt="" class="w-100">
          </div>
          <div class="single-brand mx-9 py-6 gr-opacity-8 gr-hover-opacity-full" data-aos="zoom-in-right" data-aos-duration="500" data-aos-delay="400" data-aos-once="true">
            <img src="{{root}}image/l4/png/l4-brand3.png" alt="" class="w-100">
          </div>
          <div class="single-brand mx-9 py-6 gr-opacity-8 gr-hover-opacity-full" data-aos="zoom-in-right" data-aos-duration="500" data-aos-delay="600" data-aos-once="true">
            <img src="{{root}}image/l4/png/l4-brand4.png" alt="" class="w-100">
          </div>
          <div class="single-brand mx-9 py-6 gr-opacity-8 gr-hover-opacity-full" data-aos="zoom-in-right" data-aos-duration="800" data-aos-delay="800" data-aos-once="true">
            <img src="{{root}}image/l4/png/l4-brand6.png" alt="" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

{% endmacro %}
