{% macro render(root,additional_class) %}

<div class="brand-section pt-13 pb-13 bg-default-2 {{additional_class}}">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-12">
        <div class="brand-logos d-flex justify-content-center justify-content-xl-between align-items-center mx-n9 flex-wrap">
          <div class="single-brand mx-9 py-6 gr-opacity-8">
            <img src="{{root}}image/l4/png/l4-brand1.png" alt="" class="w-100">
          </div>
          <div class="single-brand mx-9 py-6 gr-opacity-8">
            <img src="{{root}}image/l4/png/l4-brand2.png" alt="" class="w-100">
          </div>
          <div class="single-brand mx-9 py-6 gr-opacity-8">
            <img src="{{root}}image/l4/png/l4-brand3.png" alt="" class="w-100">
          </div>
          <div class="single-brand mx-9 py-6 gr-opacity-8">
            <img src="{{root}}image/l4/png/l4-brand4.png" alt="" class="w-100">
          </div>
          <div class="single-brand mx-9 py-6 gr-opacity-8">
            <img src="{{root}}image/l4/png/l4-brand5.png" alt="" class="w-100">
          </div>
          <div class="single-brand mx-9 py-6 gr-opacity-8">
            <img src="{{root}}image/l4/png/l4-brand6.png" alt="" class="w-100">
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 

{% endmacro %}
