<pre class="language-markup">
  <code>

    &lt;div class="faq-section pt-12 pt-lg-24 pb-12 pb-lg-24 bg-default-1"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row"&gt;
          &lt;div class="col-md-6 mb-9 pr-xl-12 mb-lg-15"&gt;
            &lt;div class="single-faq media"&gt;
              &lt;div class="count circle-xs bg-green mr-8"&gt;
                &lt;i class="fas fa-question text-white"&gt;&lt;/i&gt;
              &lt;/div&gt;
              &lt;div class="faq-text"&gt;
                &lt;h3 class="faq-title mb-7 gr-text-7 gr-text-color"&gt;Can I use Albino for my clients?&lt;/h3&gt;
                &lt;p class="gr-text-9 gr-text-color-opacity"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page. Integer ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre.&lt;/p&gt;
                &lt;a href="" class="btn-link with-icon mt-6 text-green h6"&gt;Click to learn more &lt;i class="fas fa-arrow-right gr-text-12"&gt;&lt;/i&gt;&lt;/a&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-md-6 mb-9 pr-xl-12 mb-lg-15"&gt;
            &lt;div class="single-faq media"&gt;
              &lt;div class="count circle-xs bg-green mr-8"&gt;
                &lt;i class="fas fa-question text-white"&gt;&lt;/i&gt;
              &lt;/div&gt;
              &lt;div class="faq-text"&gt;
                &lt;h3 class="faq-title mb-7 gr-text-7 gr-text-color"&gt;Does it work with WordPress?&lt;/h3&gt;
                &lt;p class="gr-text-9 gr-text-color-opacity"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page. Integer ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-md-6 mb-9 pr-xl-12 mb-lg-15"&gt;
            &lt;div class="single-faq media"&gt;
              &lt;div class="count circle-xs bg-green mr-8"&gt;
                &lt;i class="fas fa-question text-white"&gt;&lt;/i&gt;
              &lt;/div&gt;
              &lt;div class="faq-text"&gt;
                &lt;h3 class="faq-title mb-7 gr-text-7 gr-text-color"&gt;Do I get free updates?&lt;/h3&gt;
                &lt;p class="gr-text-9 gr-text-color-opacity"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page. Integer ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-md-6 mb-9 pr-xl-12 mb-lg-15"&gt;
            &lt;div class="single-faq media"&gt;
              &lt;div class="count circle-xs bg-green mr-8"&gt;
                &lt;i class="fas fa-question text-white"&gt;&lt;/i&gt;
              &lt;/div&gt;
              &lt;div class="faq-text"&gt;
                &lt;h3 class="faq-title mb-7 gr-text-7 gr-text-color"&gt;Will you provide support?&lt;/h3&gt;
                &lt;p class="gr-text-9 gr-text-color-opacity"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page. Integer ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-12 text-center mt-3 "&gt;
            &lt;p class="more-support gr-text-9 gr-text-color"&gt;Haven’t got your answer? &lt;a href="#" class="support-link text-green"&gt;Contact our support now&lt;/a&gt;&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>