<pre class="language-markup">
  <code>

    &lt;div class="content-section pt-13 pt-lg-28 pb-15 pb-lg-29 bg-default-1 dark-mode-texts"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row align-items-center justify-content-center"&gt;
          &lt;div class="col-md-10 col-lg-6 col-xl-5"&gt;
            &lt;div class="section-title content-text mb-13 mb-lg-16"&gt;
              &lt;h2 class="title gr-text-3 mb-6"&gt;We are always here for your backup.&lt;/h2&gt;
              &lt;p class="gr-text-8"&gt;We share common trends and strategies for improving your rental income.&lt;/p&gt;
            &lt;/div&gt;
            &lt;div class="content-widget"&gt;
              &lt;div class="row"&gt;
                &lt;div class="col-md-6 col-lg-9 col-xl-10" data-aos="fade-right" data-aos-duration="500" data-aos-once="true"&gt;
                  &lt;div class="single-widget media mb-9 mb-lg-12"&gt;
                    &lt;div class="widget-icon circle-30 bg-green mr-7"&gt;
                      &lt;i class="icon icon-check-2-2 text-white"&gt;&lt;/i&gt;
                    &lt;/div&gt;
                    &lt;div class="widget-text"&gt;
                      &lt;h3 class="w-title gr-text-7"&gt;Noise Free Locations&lt;/h3&gt;
                      &lt;p class="gr-text-9 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. &lt;/p&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
                &lt;div class="col-md-6 col-lg-9 col-xl-10" data-aos="fade-right" data-aos-duration="1100" data-aos-once="true"&gt;
                  &lt;div class="single-widget media mb-9 mb-lg-0"&gt;
                    &lt;div class="widget-icon circle-30 bg-green mr-7"&gt;
                      &lt;i class="icon icon-check-2-2 text-white"&gt;&lt;/i&gt;
                    &lt;/div&gt;
                    &lt;div class="widget-text"&gt;
                      &lt;h3 class="w-title gr-text-7"&gt;24/7 Hour Support&lt;/h3&gt;
                      &lt;p class="gr-text-9 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. &lt;/p&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;!-- FAQ Accordion --&gt;
          &lt;div class="col-md-10 col-lg-6 col-xl-6 offset-xl-1 mt-9 mt-lg-0" data-aos="fade-left" data-aos-duration="1200" data-aos-once="true"&gt;
            &lt;!-- FAQ Accordion --&gt;
            &lt;div class="accordion pl-9 pr-8 rounded-10 bg-white border-green border-top-5" id="accordionExample"&gt;
              &lt;div class="border-bottom overflow-hidden"&gt;
                &lt;div class="mb-0 border-bottom-0" id="heading1"&gt;
                  &lt;button class="btn-reset gr-text-7 font-weight-bold text-left text-blackish-blue px-0 py-8 accordion-trigger arrow-icon w-100" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1"&gt;
                    How to setup Shade Pro?
                  &lt;/button&gt;
                &lt;/div&gt;
                &lt;div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample"&gt;
                  &lt;div class="gr-color-blackish-blue-opacity-7 mt-n3 gr-text-9 pb-8 pr-8"&gt;
                    With lots of unique blocks, you can easily build a page with coding. Build your next landing page. Integer ut obe ryn. Sed feugiat vitae turpis a porta.
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class="border-bottom overflow-hidden"&gt;
                &lt;div class="mb-0 border-bottom-0" id="heading2"&gt;
                  &lt;button class="btn-reset gr-text-7 font-weight-bold text-left text-blackish-blue px-0 py-8 accordion-trigger arrow-icon w-100" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2"&gt;
                    Can I use Shade Pro for my clients?
                  &lt;/button&gt;
                &lt;/div&gt;
                &lt;div id="collapse2" class="collapse " aria-labelledby="heading2" data-parent="#accordionExample"&gt;
                  &lt;div class="gr-color-blackish-blue-opacity-7 mt-n3 gr-text-9 pb-8 pr-8"&gt;
                    With lots of unique blocks, you can easily build a page without coding. Build your next landing page.
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class="border-bottom overflow-hidden"&gt;
                &lt;div class="mb-0 border-bottom-0" id="heading3"&gt;
                  &lt;button class="btn-reset gr-text-7 font-weight-bold text-left text-blackish-blue px-0 py-8 accordion-trigger arrow-icon w-100" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3"&gt;
                    How often do you release update?
                  &lt;/button&gt;
                &lt;/div&gt;
                &lt;div id="collapse3" class="collapse " aria-labelledby="heading3" data-parent="#accordionExample"&gt;
                  &lt;div class="gr-color-blackish-blue-opacity-7 mt-n3 gr-text-9 pb-8 pr-8"&gt;
                    With lots of unique blocks, you can easily build a page without coding. Build your next landing page.
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class="border-bottom overflow-hidden"&gt;
                &lt;div class="mb-0 border-bottom-0" id="heading4"&gt;
                  &lt;button class="btn-reset gr-text-7 font-weight-bold text-left text-blackish-blue px-0 py-8 accordion-trigger arrow-icon w-100" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4"&gt;
                    How can I access to old version?
                  &lt;/button&gt;
                &lt;/div&gt;
                &lt;div id="collapse4" class="collapse " aria-labelledby="heading4" data-parent="#accordionExample"&gt;
                  &lt;div class="gr-color-blackish-blue-opacity-7 mt-n3 gr-text-9 pb-8 pr-8"&gt;
                    With lots of unique blocks, you can easily build a page without coding. Build your next landing page.
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>