<pre class="language-markup">
  <code>

    &lt;div class="bg-default-2 pt-13 pt-lg-7 pt-lg-24 pb-11 pb-lg-22"&gt;
      &lt;div class="container"&gt;
        &lt;!-- section-title Starts --&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-xl-8 col-lg-9"&gt;
            &lt;div class="px-md-12 text-center mb-9 mb-lg-18"&gt;
              &lt;h2 class="title gr-text-3 mb-8"&gt;Frequently Asked Questions&lt;/h2&gt;
              &lt;p class="gr-text-8 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;!-- ./section-title Ends--&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-xl-8 col-lg-9"&gt;
            &lt;div class="accordion" id="accordionExample"&gt;
              &lt;div class="border rounded-10 mb-3 bg-white overflow-hidden"&gt;
                &lt;div class="mb-0 py-8 pl-9 pr-7 border-bottom-0 bg-white" id="heading1"&gt;
                  &lt;button class="btn-reset gr-text-7 font-weight-bold text-left text-blackish-blue p-0 accordion-trigger arrow-icon w-100" type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapse1"&gt;
                    Can I use Albino for my clients?
                  &lt;/button&gt;
                &lt;/div&gt;
                &lt;div id="collapse1" class="collapse show" aria-labelledby="heading1" data-parent="#accordionExample"&gt;
                  &lt;div class="card-body gr-color-blackish-blue-opacity-7 pt-0 pl-9 pr-15 gr-text-9 pb-9"&gt;
                    With lots of unique blocks, you can easily build a page without coding. Build your next landing page. Integer ut Oberyn massa. Sed feugiat vitae turpis a porta. Aliquam sagittis interdum Melisandre.
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class="border rounded-10 mb-3 bg-white overflow-hidden"&gt;
                &lt;div class="mb-0 py-8 pl-9 pr-7 border-bottom-0 bg-white" id="heading2"&gt;
                  &lt;button class="btn-reset gr-text-7 font-weight-bold text-left text-blackish-blue p-0 accordion-trigger arrow-icon w-100" type="button" data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse2"&gt;
                    Does it work with WordPress?
                  &lt;/button&gt;
                &lt;/div&gt;
                &lt;div id="collapse2" class="collapse " aria-labelledby="heading2" data-parent="#accordionExample"&gt;
                  &lt;div class="card-body gr-color-blackish-blue-opacity-7 pt-0 pl-9 pr-15 gr-text-9 pb-9"&gt;
                    With lots of unique blocks, you can easily build a page without coding. Build your next landing page.
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class="border rounded-10 mb-3 bg-white overflow-hidden"&gt;
                &lt;div class="mb-0 py-8 pl-9 pr-7 border-bottom-0 bg-white" id="heading3"&gt;
                  &lt;button class="btn-reset gr-text-7 font-weight-bold text-left text-blackish-blue p-0 accordion-trigger arrow-icon w-100" type="button" data-toggle="collapse" data-target="#collapse3" aria-expanded="false" aria-controls="collapse3"&gt;
                    Do I get free updates?
                  &lt;/button&gt;
                &lt;/div&gt;
                &lt;div id="collapse3" class="collapse " aria-labelledby="heading3" data-parent="#accordionExample"&gt;
                  &lt;div class="card-body gr-color-blackish-blue-opacity-7 pt-0 pl-9 pr-15 gr-text-9 pb-9"&gt;
                    With lots of unique blocks, you can easily build a page without coding. Build your next landing page.
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class="border rounded-10 mb-3 bg-white overflow-hidden"&gt;
                &lt;div class="mb-0 py-8 pl-9 pr-7 border-bottom-0 bg-white" id="heading4"&gt;
                  &lt;button class="btn-reset gr-text-7 font-weight-bold text-left text-blackish-blue p-0 accordion-trigger arrow-icon w-100" type="button" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4"&gt;
                    Organize your campaigns
                  &lt;/button&gt;
                &lt;/div&gt;
                &lt;div id="collapse4" class="collapse " aria-labelledby="heading4" data-parent="#accordionExample"&gt;
                  &lt;div class="card-body gr-color-blackish-blue-opacity-7 pt-0 pl-9 pr-15 gr-text-9 pb-9"&gt;
                    With lots of unique blocks, you can easily build a page without coding. Build your next landing page.
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class="border rounded-10 mb-3 bg-white overflow-hidden"&gt;
                &lt;div class="mb-0 py-8 pl-9 pr-7 border-bottom-0 bg-white" id="heading5"&gt;
                  &lt;button class="btn-reset gr-text-7 font-weight-bold text-left text-blackish-blue p-0 accordion-trigger arrow-icon w-100" type="button" data-toggle="collapse" data-target="#collapse5" aria-expanded="false" aria-controls="collapse5"&gt;
                    Will you provide support?
                  &lt;/button&gt;
                &lt;/div&gt;
                &lt;div id="collapse5" class="collapse " aria-labelledby="heading5" data-parent="#accordionExample"&gt;
                  &lt;div class="card-body gr-color-blackish-blue-opacity-7 pt-0 pl-9 pr-15 gr-text-9 pb-9"&gt;
                    With lots of unique blocks, you can easily build a page without coding. Build your next landing page.
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-12 text-center pt-11"&gt;
            &lt;p class="gr-text-9 gr-text-9 gr-text-color"&gt;Haven’t got your answer? &lt;a href="#" class="btn-link"&gt;Contact our support now&lt;/a&gt;&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>