<pre class="language-markup">
  <code>

    &lt;div class="feature-section bg-default-1 pb-4 pb-lg-13 pt-15 pt-lg-23 dark-mode-texts"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row"&gt;
          &lt;div class="col-sm-6 col-lg-4 mb-8"&gt;
            &lt;div class="feature-widget-1"&gt;
              &lt;div class="media flex-column pr-8 pr-lg-7 pr-xl-12"&gt;
                &lt;div class="icon-wrap"&gt;
                  &lt;img src="./image/svg/l1-feature-icon1.svg" alt=""&gt;
                &lt;/div&gt;
                &lt;div class="media-body mt-10"&gt;
                  &lt;h5 class="gr-text-7 mb-7"&gt;Project management&lt;/h5&gt;
                  &lt;p class="gr-text-9"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-sm-6 col-lg-4 mb-8"&gt;
            &lt;div class="feature-widget-1"&gt;
              &lt;div class="media flex-column pr-8 pr-lg-7 pr-xl-12"&gt;
                &lt;img src="./image/svg/l1-feature-icon2.svg" alt=""&gt;
                &lt;div class="media-body mt-10"&gt;
                  &lt;h5 class="gr-text-7 mb-7"&gt;Time tracking&lt;/h5&gt;
                  &lt;p class="gr-text-9"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-sm-6 col-lg-4 mb-8"&gt;
            &lt;div class="feature-widget-1"&gt;
              &lt;div class="media flex-column pr-8 pr-lg-7 pr-xl-12"&gt;
                &lt;img src="./image/svg/l1-feature-icon3.svg" alt=""&gt;
                &lt;div class="media-body mt-10"&gt;
                  &lt;h5 class="gr-text-7 mb-7"&gt;Beautiful mobile app&lt;/h5&gt;
                  &lt;p class="gr-text-9"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>