<pre class="language-markup">
  <code>

    &lt;div class="feature-section border-top pt-15 pt-lg-21 pb-9 pb-md-0 pb-lg-21 bg-default-1"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-lg-4 col-md-6 mb-8 mb-md-13 mb-lg-0"&gt;
            &lt;div class="feature-widget media" data-aos="fade-up" data-aos-duration="1100" data-aos-once="true" data-aos-delay="300"&gt;
              &lt;div class="widget-icon mr-8"&gt;
                &lt;img src="./image/svg/l4-feature-icon1.svg" alt=""&gt;
              &lt;/div&gt;
              &lt;div class="widget-texts"&gt;
                &lt;h3 class="title gr-text-7 font-weight-bold mb-6"&gt;Organize your campaigns&lt;/h3&gt;
                &lt;p class="gr-text-9 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-4 col-md-6 mb-8 mb-md-13 mb-lg-0"&gt;
            &lt;div class="feature-widget media" data-aos="fade-up" data-aos-duration="1100" data-aos-once="true" data-aos-delay="800"&gt;
              &lt;div class="widget-icon mr-8"&gt;
                &lt;img src="./image/svg/l4-feature-icon2.svg" alt=""&gt;
              &lt;/div&gt;
              &lt;div class="widget-texts"&gt;
                &lt;h3 class="title gr-text-7 font-weight-bold mb-6"&gt;Manage customers&lt;/h3&gt;
                &lt;p class="gr-text-9 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-4 col-md-6 mb-8 mb-md-13 mb-lg-0"&gt;
            &lt;div class="feature-widget media" data-aos="fade-up" data-aos-duration="1100" data-aos-once="true" data-aos-delay="1300"&gt;
              &lt;div class="widget-icon mr-8"&gt;
                &lt;img src="./image/svg/l4-feature-icon3.svg" alt=""&gt;
              &lt;/div&gt;
              &lt;div class="widget-texts"&gt;
                &lt;h3 class="title gr-text-7 font-weight-bold mb-6"&gt;Track progress fast&lt;/h3&gt;
                &lt;p class="gr-text-9 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>