<pre class="language-markup">
  <code>

    &lt;div class="feature-section pt-14 pt-lg-25 pb-7 pb-lg-11 dark-mode-texts bg-default-6"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-xl-6 col-lg-7 col-md-8"&gt;
            &lt;div class="section-title text-center mb-13 mb-lg-23"&gt;
              &lt;h4 class="pre-title gr-text-12 text-red text-uppercase mb-7"&gt;Why choose us&lt;/h4&gt;
              &lt;h2 class="title gr-text-4"&gt;People choose us because we serve the best for everyone&lt;/h2&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-md-10"&gt;
            &lt;div class="row align-items-center justify-content-center"&gt;
              &lt;div class="col-lg-6 col-md-10 mb-11 mb-lg-19" data-aos="fade-left" data-aos-duration="800" data-aos-delay="200" data-aos-once="true"&gt;
                &lt;div class="feature-widget media"&gt;
                  &lt;div class="widget-icon p-7 rounded-15 mr-9 gr-bg-blue-opacity-1"&gt;
                    &lt;img src="./image/svg/l5-feature-icon1.svg" alt=""&gt;
                  &lt;/div&gt;
                  &lt;div class="widget-text"&gt;
                    &lt;h3 class="title gr-text-7 mb-6"&gt;Dedicated project manager&lt;/h3&gt;
                    &lt;p class="gr-text-9 mb-0 pr-11"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class="col-lg-6 col-md-10 mb-11 mb-lg-19" data-aos="fade-left" data-aos-duration="800" data-aos-delay="400" data-aos-once="true"&gt;
                &lt;div class="feature-widget media"&gt;
                  &lt;div class="widget-icon p-7 rounded-15 mr-9 gr-bg-red-opacity-1"&gt;
                    &lt;img src="./image/svg/l5-feature-icon2.svg" alt=""&gt;
                  &lt;/div&gt;
                  &lt;div class="widget-text"&gt;
                    &lt;h3 class="title gr-text-7 mb-6"&gt;Organized tasks&lt;/h3&gt;
                    &lt;p class="gr-text-9 mb-0 pr-11"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class="col-lg-6 col-md-10 mb-11 mb-lg-19" data-aos="fade-right" data-aos-duration="800" data-aos-delay="600" data-aos-once="true"&gt;
                &lt;div class="feature-widget media"&gt;
                  &lt;div class="widget-icon p-7 rounded-15 mr-9 gr-bg-green-opacity-1"&gt;
                    &lt;img src="./image/svg/l5-feature-icon3.svg" alt=""&gt;
                  &lt;/div&gt;
                  &lt;div class="widget-text"&gt;
                    &lt;h3 class="title gr-text-7 mb-6"&gt;Easy feedback sharing&lt;/h3&gt;
                    &lt;p class="gr-text-9 mb-0 pr-11"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class="col-lg-6 col-md-10 mb-11 mb-lg-19" data-aos="fade-right" data-aos-duration="800" data-aos-delay="800" data-aos-once="true"&gt;
                &lt;div class="feature-widget media"&gt;
                  &lt;div class="widget-icon p-7 rounded-15 mr-9 gr-bg-blackish-blue-opacity-1"&gt;
                    &lt;img src="./image/svg/l5-feature-icon4.svg" alt=""&gt;
                  &lt;/div&gt;
                  &lt;div class="widget-text"&gt;
                    &lt;h3 class="title gr-text-7 mb-6"&gt;Never miss deadline&lt;/h3&gt;
                    &lt;p class="gr-text-9 mb-0 pr-11"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>