<pre class="language-markup">
  <code>

    &lt;div class="feature-section pt-16 pt-lg-25 gradient-sections-wrapper bg-gradient-1 dark-mode-texts"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-md-8 col-lg-7 col-xl-6"&gt;
            &lt;div class="section-title text-center mb-13 mb-lg-23"&gt;
              &lt;h2 class="title gr-text-3"&gt;We made this app to solve your problems.&lt;/h2&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-sm-6 col-lg-4 mb-12"&gt;
            &lt;div class="feature-widget d-sm-flex"&gt;
              &lt;div class="widget-icon gr-text-4 text-green mr-sm-9 mb-7 mb-lg-0"&gt;
                &lt;img class="" src="./image/svg/l6-feature-icon1.svg"&gt;
              &lt;/div&gt;
              &lt;div class="content"&gt;
                &lt;h3 class="title gr-text-7 mb-5"&gt;Unlimited Projects&lt;/h3&gt;
                &lt;p class="gr-text-9 gr-text-color-opacity"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-sm-6 col-lg-4 mb-12"&gt;
            &lt;div class="feature-widget d-sm-flex"&gt;
              &lt;div class="widget-icon gr-text-4 text-green mr-sm-9 mb-7 mb-lg-0"&gt;
                &lt;img class="" src="./image/svg/l6-feature-icon2.svg"&gt;
              &lt;/div&gt;
              &lt;div class="content"&gt;
                &lt;h3 class="title gr-text-7 mb-5"&gt;Team Management&lt;/h3&gt;
                &lt;p class="gr-text-9 gr-text-color-opacity"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-sm-6 col-lg-4 mb-12"&gt;
            &lt;div class="feature-widget d-sm-flex"&gt;
              &lt;div class="widget-icon gr-text-4 text-green mr-sm-9 mb-7 mb-lg-0"&gt;
                &lt;img class="" src="./image/svg/l6-feature-icon3.svg"&gt;
              &lt;/div&gt;
              &lt;div class="content"&gt;
                &lt;h3 class="title gr-text-7 mb-5"&gt;File Sharing&lt;/h3&gt;
                &lt;p class="gr-text-9 gr-text-color-opacity"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-sm-6 col-lg-4 mb-12"&gt;
            &lt;div class="feature-widget d-sm-flex"&gt;
              &lt;div class="widget-icon gr-text-4 text-green mr-sm-9 mb-7 mb-lg-0"&gt;
                &lt;img class="" src="./image/svg/l6-feature-icon4.svg"&gt;
              &lt;/div&gt;
              &lt;div class="content"&gt;
                &lt;h3 class="title gr-text-7 mb-5"&gt;Video Meetings&lt;/h3&gt;
                &lt;p class="gr-text-9 gr-text-color-opacity"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-sm-6 col-lg-4 mb-12"&gt;
            &lt;div class="feature-widget d-sm-flex"&gt;
              &lt;div class="widget-icon gr-text-4 text-green mr-sm-9 mb-7 mb-lg-0"&gt;
                &lt;img class="" src="./image/svg/l6-feature-icon5.svg"&gt;
              &lt;/div&gt;
              &lt;div class="content"&gt;
                &lt;h3 class="title gr-text-7 mb-5"&gt;Time Tracking&lt;/h3&gt;
                &lt;p class="gr-text-9 gr-text-color-opacity"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-sm-6 col-lg-4 mb-12"&gt;
            &lt;div class="feature-widget d-sm-flex"&gt;
              &lt;div class="widget-icon gr-text-4 text-green mr-sm-9 mb-7 mb-lg-0"&gt;
                &lt;img class="" src="./image/svg/l6-feature-icon6.svg"&gt;
              &lt;/div&gt;
              &lt;div class="content"&gt;
                &lt;h3 class="title gr-text-7 mb-5"&gt;Payment System&lt;/h3&gt;
                &lt;p class="gr-text-9 gr-text-color-opacity"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-12"&gt;
            &lt;div class="border-sm-divider dark text-center mt-lg-13"&gt;&lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>