<pre class="language-markup">
  <code>

    &lt;div class="feature-section bg-default-4 pt-13 pt-lg-16 pb-lg-7"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-md-6 col-lg-4 mb-12"&gt;
            &lt;div class="feature-widget d-sm-flex"&gt;
              &lt;div class="widget-icon gr-text-4 text-blue mr-8 mb-7 mb-md-0"&gt;
                &lt;img class="" src="./image/svg/desk-drawer.svg" /&gt;
              &lt;/div&gt;
              &lt;div class="content"&gt;
                &lt;h3 class="title gr-text-7 mb-6"&gt;Dedicated Desk&lt;/h3&gt;
                &lt;p class="gr-text-9 gr-text-color-opacity mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-md-6 col-lg-4 mb-12"&gt;
            &lt;div class="feature-widget d-sm-flex"&gt;
              &lt;div class="widget-icon gr-text-4 text-blue mr-8 mb-7 mb-md-0"&gt;
                &lt;img class="" src="./image/svg/wifi.svg" /&gt;
              &lt;/div&gt;
              &lt;div class="content"&gt;
                &lt;h3 class="title gr-text-7 mb-6"&gt;High Speed Internet&lt;/h3&gt;
                &lt;p class="gr-text-9 gr-text-color-opacity mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-md-6 col-lg-4 mb-12"&gt;
            &lt;div class="feature-widget d-sm-flex"&gt;
              &lt;div class="widget-icon gr-text-4 text-blue mr-8 mb-7 mb-md-0"&gt;
                &lt;img class="" src="./image/svg/mug.svg" /&gt;
              &lt;/div&gt;
              &lt;div class="content"&gt;
                &lt;h3 class="title gr-text-7 mb-6"&gt;Unlimited Coffee&lt;/h3&gt;
                &lt;p class="gr-text-9 gr-text-color-opacity mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>