<pre class="language-markup">
  <code>
    &lt;div class="newsltr-section pt-12 pb-10 pt-lg-19 pb-lg-17 bg-default-6 border-bottom dark-mode-texts bg-default-6"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row align-items-center justify-content-center"&gt;
          &lt;div class="col-lg-6 pr-lg-9 col-md-10"&gt;
            &lt;div class="nwsltr-text"&gt;
              &lt;h2 class="title gr-text-5"&gt;Subscribe to our newsletter to get latest news on your inbox.&lt;/h2&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-6 pl-xl-13 col-md-10"&gt;
            &lt;form class="newsletter-form d-flex justify-content-lg-end mt-6 mt-lg-0"&gt;
              &lt;div class="form-group mr-7 w-100"&gt;
                &lt;input type="email" class="form-control" id="leadEmail1" placeholder="Enter your email"&gt;
              &lt;/div&gt;
              &lt;div class="cta-btn"&gt;
                &lt;button type="submit" class="btn btn-primary with-icon gr-hover-y"&gt;Subscribe&lt;i class="icon icon-tail-right"&gt;&lt;/i&gt;&lt;/button&gt;
              &lt;/div&gt;
            &lt;/form&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    
  </code>
</pre>