<pre class="language-markup">
  <code>
    &lt;div class="newsletter-section bg-default-4 py-13 py-lg-24 border-bottom dark-mode-texts bg-default-6" data-aos="zoom-in" data-aos-duration="1000" data-aos-once="true"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-md-8 col-lg-7 col-xl-6"&gt;
            &lt;div class="section-title text-center mb-12"&gt;
              &lt;h2 class="title gr-text-3 mb-6"&gt;Get latest updates&lt;/h2&gt;
              &lt;p class="px-4 gr-text-8 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page. &lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-xl-4 col-lg-6 col-md-7 col-10"&gt;
            &lt;div class="subscribe-form mb-9"&gt;
              &lt;form action="./"&gt;
                &lt;div class="form-group"&gt;
                  &lt;input class="form-control gr-text-9 border mb-6" type="email" id="email" placeholder="Enter your email"&gt;
                &lt;/div&gt;
                &lt;div class="button-block"&gt;
                  &lt;button class="form-btn btn btn-primary w-100"&gt;Subscribe&lt;/button&gt;
                &lt;/div&gt;
              &lt;/form&gt;
            &lt;/div&gt;
            &lt;div class="form-bottom excerpt text-center"&gt;
              &lt;p class="gr-text-11 gr-text-color-opacity mb-0"&gt;We’ll never share your details with third parties.&lt;br class="d-none d-xs-block"&gt;
                View our Privacy Policy for more info.&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>