<pre class="language-markup">
  <code>

    &lt;div class="newsletter-section bg-default-4 pt-13 pb-11 py-lg-25 border-bottom dark-mode-texts bg-default-6"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-md-8 col-lg-7 col-xl-6"&gt;
            &lt;div class="section-title text-center mb-11"&gt;
              &lt;div class="circle-78 bg-green text-white gr-text-4 mx-auto mb-11" data-aos="zoom-in" data-aos-duration="800" data-aos-once="true"&gt;
                &lt;i class="fas fa-envelope"&gt;&lt;/i&gt;
              &lt;/div&gt;
              &lt;h2 class="title gr-text-4 mb-7"&gt;Get our latest updates&lt;/h2&gt;
              &lt;p class="px-4 gr-text-8 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page. &lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-xl-6 col-lg-7 col-md-8 col-sm-11"&gt;
            &lt;div class="subscribe-form mb-8"&gt;
              &lt;form action="./"&gt;
                &lt;div class="form-group position-relative"&gt;
                  &lt;input class="form-control gr-text-9 border mb-6 min-height-px-64" type="email" id="email" placeholder="Enter your email"&gt;
                  &lt;button class="form-btn btn btn-primary mr-2 gr-abs-md-cr min-height-px-50 w-100 w-md-auto"&gt;Subscribe&lt;/button&gt;
                &lt;/div&gt;
              &lt;/form&gt;
            &lt;/div&gt;
            &lt;div class="form-bottom excerpt text-center"&gt;
              &lt;p class="gr-text-11 gr-text-color-opacity mb-0"&gt;We’ll never share your details with third parties.&lt;br class="d-none d-xs-block"&gt;
                View our Privacy Policy for more info.&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

	</code>
</pre>