{% macro render(root,additional_class) %}

<div class="feature-section {{additional_class}}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-6 col-md-8">
        <div class="section-title text-center mb-13 mb-lg-21">
          <h2 class="title gr-text-4 mb-6">How does it work?</h2>
          <p class="gr-text-9 mb-0">We've made telemedicine simple and easy for you. Create your personal room and start practicing today.</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-4 col-md-6 mb-11 mb-lg-19 px-xs-6 px-md-6 px-lg-0 px-xl-8"  data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
        <div class="feature-widget text-center">
          <div class="widget-icon square-80 rounded-15 mx-auto mb-9 mb-lg-12 bg-blue shadow-blue">
            <img src="{{root}}image/svg/feature8-icon1.svg" alt="">
          </div>
          <div class="widget-text">
            <h3 class="title gr-text-6 mb-7">Get Appointment</h3>
            <p class="gr-text-11 mb-0">We've made telemedicine simple and easy for you. Create your personal room and start practicing telemedicine today.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-11 mb-lg-19 px-xs-6 px-md-6 px-lg-0 px-xl-8"  data-aos="fade-right" data-aos-duration="800" data-aos-delay="400" data-aos-once="true">
        <div class="feature-widget text-center">
          <div class="widget-icon square-80 rounded-15 mx-auto mb-9 mb-lg-12 bg-red shadow-red">
            <img src="{{root}}image/svg/feature8-icon2.svg" alt="">
          </div>
          <div class="widget-text">
            <h3 class="title gr-text-6 mb-7">Meet Your Doctor</h3>
            <p class="gr-text-11 mb-0">We've made telemedicine simple and easy for you. Create your personal room and start practicing telemedicine today.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 mb-11 mb-lg-19 px-xs-6 px-md-6 px-lg-0 px-xl-8"  data-aos="fade-right" data-aos-duration="800" data-aos-delay="600" data-aos-once="true">
        <div class="feature-widget text-center">
          <div class="widget-icon square-80 rounded-15 mx-auto mb-9 mb-lg-12 bg-green shadow-green">
            <img src="{{root}}image/svg/feature8-icon3.svg" alt="">
          </div>
          <div class="widget-text">
            <h3 class="title gr-text-6 mb-7">Get Better Treatment</h3>
            <p class="gr-text-11 mb-0">We've made telemedicine simple and easy for you. Create your personal room and start practicing telemedicine today.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endmacro %}
