{% macro render(root,additional_class) %}

{% set feautre_data = [
  {
    image: "inner/icon-preferences.svg",
    title: "Quick setup process",
    text: "With lots of unique blocks, you can easily build a page without coding. Build your next landing page."
  },
  {
    image: "inner/icon-cart.svg",
    title: "Create custom orders",
    text: "With lots of unique blocks, you can easily build a page without coding. Build your next landing page."
  },
  {
    image: "inner/icon-coupon.svg",
    title: "Multiple coupons",
    text: "With lots of unique blocks, you can easily build a page without coding. Build your next landing page."
  },
  {
    image: "inner/icon-layers.svg",
    title: "Organize your campaigns",
    text: "With lots of unique blocks, you can easily build a page without coding. Build your next landing page."
  },
  {
    image: "inner/icon-async.svg",
    title: "Manage customers",
    text: "With lots of unique blocks, you can easily build a page without coding. Build your next landing page."
  },
  {
    image: "inner/icon-chartbar.svg",
    title: "Track progress fast",
    text: "With lots of unique blocks, you can easily build a page without coding. Build your next landing page."
  }
] %}


<div class="{{additional_class}}">
  <div class="container">
    <!-- section-title Starts -->
    <div class="row justify-content-center">
      <div class="col-xl-8 col-lg-9">
        <div class="px-md-12 text-center mb-11 mb-lg-19">
         <h2 class="title gr-text-3 mb-8">Check our features</h2>
         <p class="gr-text-8 mb-0">With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.</p>
        </div>
       </div>
    </div>
    <!-- ./section-title Ends-->
    <div class="row justify-content-center">
      {% for feature in feautre_data %}
      <div class="col-lg-4 col-md-6 col-sm-6 col-xs-8 mb-lg-18 mb-9">
        <!-- .feature-widget starts -->
        <div class="feature-card d-flex flex-column flex-md-row ">
          <div class="card-icon mr-8 mt-2 mb-9 mb-md-0">
            <img src="{{root}}image/{{feature.image}}" alt="">
          </div>
          <div class="card-texts">
            <h3 class="gr-text-7 mb-7 gr-text-exerpt">{{feature.title}}</h3>
            <p class="gr-text-9 mb-0">{{feature.text}}</p>
          </div>
        </div>
        <!-- ./feature-widget ends -->
        </div>
      {% endfor %}
    </div>
    
  </div>
</div>

{% endmacro %}
