{% macro render(root,additional_class) %}

<div class="feature-section pt-14 pt-lg-25 pb-7 pb-lg-11 {{additional_class}}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7 col-md-8">
        <div class="section-title text-center mb-13 mb-lg-23">
          <h4 class="pre-title gr-text-12 text-red text-uppercase mb-7">Why choose us</h4>
          <h2 class="title gr-text-4">People choose us because we serve the best for everyone</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="row align-items-center justify-content-center">
          <div class="col-lg-6 col-md-10 mb-11 mb-lg-19"  data-aos="fade-left" data-aos-duration="800" data-aos-delay="200" data-aos-once="true">
            <div class="feature-widget media">
              <div class="widget-icon p-7 rounded-15 mr-9 gr-bg-blue-opacity-1">
                <img src="{{root}}image/svg/l5-feature-icon1.svg" alt="">
              </div>
              <div class="widget-text">
                <h3 class="title gr-text-7 mb-6">Dedicated project manager</h3>
                <p class="gr-text-9 mb-0 pr-11">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-10 mb-11 mb-lg-19"  data-aos="fade-left" data-aos-duration="800" data-aos-delay="400" data-aos-once="true">
            <div class="feature-widget media">
              <div class="widget-icon p-7 rounded-15 mr-9 gr-bg-red-opacity-1">
                <img src="{{root}}image/svg/l5-feature-icon2.svg" alt="">
              </div>
              <div class="widget-text">
                <h3 class="title gr-text-7 mb-6">Organized tasks</h3>
                <p class="gr-text-9 mb-0 pr-11">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-10 mb-11 mb-lg-19"  data-aos="fade-right" data-aos-duration="800" data-aos-delay="600" data-aos-once="true">
            <div class="feature-widget media">
              <div class="widget-icon p-7 rounded-15 mr-9 gr-bg-green-opacity-1">
                <img src="{{root}}image/svg/l5-feature-icon3.svg" alt="">
              </div>
              <div class="widget-text">
                <h3 class="title gr-text-7 mb-6">Easy feedback sharing</h3>
                <p class="gr-text-9 mb-0 pr-11">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-10 mb-11 mb-lg-19"  data-aos="fade-right" data-aos-duration="800" data-aos-delay="800" data-aos-once="true">
            <div class="feature-widget media">
              <div class="widget-icon p-7 rounded-15 mr-9 gr-bg-blackish-blue-opacity-1">
                <img src="{{root}}image/svg/l5-feature-icon4.svg" alt="">
              </div>
              <div class="widget-text">
                <h3 class="title gr-text-7 mb-6">Never miss deadline</h3>
                <p class="gr-text-9 mb-0 pr-11">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endmacro %}
