{% macro render(root,additional_class) %}

<div class="testimonial-section2 position-relative bg-blue dark-mode-texts bg-pattern pattern-4 pt-14 pt-lg-26 pb-14 pb-lg-26 {{additional_class}}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-7 col-xl-6">
        <div class="section-title text-center mb-9">
          <h4 class="pre-title gr-text-12 text-green text-uppercase mb-0">Testimonial</h4>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-around">
      <div class="col-lg-7 col-md-9">
        <div class="single-testimonial text-center">
          <h3 class="review-text gr-text-5 mb-11">“Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users.”</h3>
          <div class="reviewer-img mb-7">
            <img class="circle-lg mx-auto" src="{{root}}image/l5/jpg/l5-testimonial2.jpg" alt="">
          </div>
          <h3 class="username gr-text-9 mb-1">Ian Klein</h3>
          <span class="rank gr-text-11 gr-text-color-opacity">Digital Marketer</span>
        </div>
      </div>
    </div>
  </div>
</div>

{% endmacro %}
