<!-- Content scetion with testimonial -->

{% macro render(root,additional_class) %}

<div class="content-section pt-15 pb-11 pt-lg-25 pb-lg-24 pt-xl-30 pb-xl-28 position-relative overflow-hidden {{additional_class}}">
  <div class="container">
    <div class="row align-items-center justify-content-md-center">
      <div class="col-sm-10 col-lg-5 order-lg-2 position-static">
        <div class="content-img position-relative gr-abs-lg gr-abs-lg-ry-center w-lg-50 text-center text-lg-right">
          <img class="h-100 w-100 w-lg-75" src="{{root}}image/l7/jpg/content2-img-big.jpg" alt="">
        </div>
      </div>
      <div class="col-sm-11 col-lg-7 order-lg-1">
        <div class="row">
          <div class="col-lg-10 col-xl-9">
            <div class="content-text mb-9 mb-lg-18 mt-11 mt-lg-0">
              <h2 class="title gr-text-3 mb-6">Comfortable buds with better sound.</h2>
              <p class="gr-text-8 mb-9 pr-11">We share common trends and strategies for improving your rental income.</p>
            </div>
            <div class="testimonial-wrapper mt-6 mt-md-0">
              <div class="single-testimonial media py-6" data-aos="fade-left" data-aos-duration="800" data-aos-once="true">
                <div class="media-icon mr-8">
                  <img class=" circle-sm-2" src="{{root}}image/l7/jpg/testimonial-1.jpg" alt="">
                </div>
                <div class="media-body">
                  <p class="gr-text-7 mb-0 pr-xl-6 gr-text-color mb-8">“You made it so simple. My new site is so much faster and easier to work with than my old site.”</p>
                  <span class="name gr-text-11 gr-text-color-opacity">Rhoda Brady</span>
                </div>
              </div>              
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>

{% endmacro %}
