{% macro render(root,additional_class) %}

<div class="content-section {{additional_class}}">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-sm-10 col-lg-6 col-xl-6 offset-xl-1  order-lg-2 mb-9 mb-lg-0">
        <div class="double-image-group-opacity" data-aos="zoom-in" data-aos-duration="1200" data-aos-once="true">
          <img class="main-img w-100" src="{{root}}image/l4/webp/2-layers.webp" alt=""/>
        </div>
      </div>
      <div class="col-sm-10 col-lg-5 col-xl-5 order-lg-1">
        <div class="content-text">
          <h2 class="gr-text-4 mb-7">Understand your visitors fast. Take quick actions.</h2>
          <p class="gr-text-8 mb-0">We share common trends and strategies for improving your rental income and making sure you stay in high demand.</p>
          <a href="#" class="btn-link with-icon gr-text-blue gr-text-7 font-weight-bold mt-9">Start a free trial <i class="icon icon-tail-right font-weight-bold"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>


{% endmacro %}
