{% macro render(root,options) %}
<div class="content-section content-section2 bg-default-6 pt-9 pt-lg-20 pb-7 pb-lg-23 {{options.wrapper_class}}">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-10 col-lg-6 col-xl-5 offset-xl-1 order-lg-2" data-aos="fade-right" data-aos-duration="1600" data-aos-once="true">
        <div class="content-img position-relative text-center mb-13 mb-lg-0">
          <img src="{{root}}image/conference/png/content-2-img.png" alt="" class="w-90 w-md-60 w-lg-auto shadow-8 rounded-25">
          <div class="gr-abs-bl-custom-4 gr-z-index-n1" data-aos="fade-down-left" data-aos-delay="1000" data-aos-duration="1000" data-aos-once="true">
            <img src="{{root}}image/conference/png/content-2-round.png" alt="" class="w-auto">
          </div>
        </div>
      </div>
      <div class="col-10 col-lg-6 col-xl-5 pr-lg-15 order-lg-1">
        <div class="section-title content-text mb-13 mb-lg-15">
          <h2 class="title gr-text-4 mb-6">Meetings from anywhere</h2>
          <p class="gr-text-8 pr-lg-12 mb-0">We share common trends and strategies for improving your rental income.</p>
        </div>
        <div class="content-widget">
          <div class="row mb-n11">
            <div class="col-md-6 col-lg-10" data-aos="fade-right" data-aos-duration="500" data-aos-once="true">
              <div class="single-widget mb-11">
                <h3 class="w-title gr-text-7 mb-4">Control everything from Mobile</h3>
                <p class="gr-text-9 mb-0">With lots of unique blocks, you can easily build a page without coding. </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-10" data-aos="fade-right" data-aos-duration="1100" data-aos-once="true">
              <div class="single-widget mb-11">
                <h3 class="w-title gr-text-7 mb-4">Powerful IOS & Android App</h3>
                <p class="gr-text-9 mb-0">With lots of unique blocks, you can easily build a page without coding. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
{% macro code(root,options) %}
<pre class="language-markup">
  <code>
&lt;div class=&quot;content-section pt-13 pt-lg-28 pb-11 pb-lg-22 bg-default-6 hover-tilt {{options.wrapper_class}}&quot;&gt;
  &lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;row align-items-center justify-content-center&quot;&gt;
      &lt;div class=&quot;col-sm-10 col-md-9 col-lg-6 col-xl-5 mb-n7 mb-lg-0&quot;&gt;
        &lt;div class=&quot;double-image-group position-relative&quot; data-aos=&quot;fade-right&quot; data-aos-duration=&quot;1000&quot; data-aos-once=&quot;true&quot;&gt;
          &lt;img class=&quot;main-img w-100 w-lg-auto&quot; src=&quot;{{root}}image/telemedicine/png/content-3-img.png&quot; alt=&quot;&quot;/&gt;
          &lt;div class=&quot;gr-abs-img-custom-2 animation-tilt&quot;&gt;
            &lt;img src=&quot;{{root}}image/telemedicine/png/content3-img-sub.png&quot; alt=&quot;&quot; class=&quot;responsive-scaling&quot; &gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-sm-10 col-md-9 col-lg-6 col-xl-5 offset-xl-1&quot;&gt;
        &lt;div class=&quot;content-text pr-lg-7&quot; data-aos=&quot;fade-left&quot; data-aos-duration=&quot;1200&quot; data-aos-once=&quot;true&quot;&gt;
          &lt;h2 class=&quot;gr-text-4 mb-8&quot;&gt;Create your medical profile, control everything.&lt;/h2&gt;
          &lt;p class=&quot;gr-text-9 mb-0&quot;&gt;We've made telemedicine simple and easy for you. Create your personal room and start practicing telemedicine today. &lt;/p&gt;
          
          &lt;div class=&quot;content-widget mt-8&quot;&gt;
            &lt;div class=&quot;row&quot;&gt;
              &lt;div class=&quot;col-md-8&quot;&gt;
                &lt;div class=&quot;single-widget d-flex align-items-center py-2&quot;&gt;
                  &lt;div class=&quot;widget-icon text-primary mr-6 gr-text-8 d-flex align-items-center&quot;&gt;
                    &lt;i class=&quot;icon icon-check-simple&quot;&gt;&lt;/i&gt;
                  &lt;/div&gt;
                  &lt;h3 class=&quot;w-title gr-text-8 mb-0&quot;&gt;Based on your needs&lt;/h3&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;col-md-8&quot;&gt;
                &lt;div class=&quot;single-widget d-flex align-items-center py-2&quot;&gt;
                  &lt;div class=&quot;widget-icon text-primary mr-6 gr-text-8 d-flex align-items-center&quot;&gt;
                    &lt;i class=&quot;icon icon-check-simple&quot;&gt;&lt;/i&gt;
                  &lt;/div&gt;
                  &lt;h3 class=&quot;w-title gr-text-8 mb-0&quot;&gt;Custom funtionalities&lt;/h3&gt;
                &lt;/div&gt;
              &lt;/div&gt;
              &lt;div class=&quot;col-md-8&quot;&gt;
                &lt;div class=&quot;single-widget d-flex align-items-center py-2&quot;&gt;
                  &lt;div class=&quot;widget-icon text-primary mr-6 gr-text-8 d-flex align-items-center&quot;&gt;
                    &lt;i class=&quot;icon icon-check-simple&quot;&gt;&lt;/i&gt;
                  &lt;/div&gt;
                  &lt;h3 class=&quot;w-title gr-text-8 mb-0&quot;&gt;Easy to edit every data&lt;/h3&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;
</code>
</pre>

{% endmacro %}
