{% macro render(root,options) %}
<div class="content-section pt-13 pt-lg-29 pb-12 pb-lg-20 bg-default-6 {{options.wrapper_class}}">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-11 col-lg-6" data-aos="fade-right" data-aos-duration="1000" data-aos-once="true">
        <div class="content-img position-relative mb-11 mb-lg-0">
          <img src="{{root}}image/conference/jpg/content-1-img.jpg" alt="" class="w-100 w-sm-auto rounded-10 shadow-8">
          <div class="gr-abs-tl-custom-3 gr-z-index-n1" data-aos="fade-left" data-aos-delay="500" data-aos-duration="1000" data-aos-once="true">
            <img src="{{root}}image/conference/png/content-1-round.png" alt="" class="w-auto">
          </div>
        </div>
      </div>
      <div class="col-11 col-lg-6 col-xl-5 pl-lg-15">
        <div class="section-title content-text mb-13 mb-lg-15">
          <h2 class="title gr-text-4 mb-6">Easy to control</h2>
          <p class="gr-text-8 pr-lg-12 mb-0">We share common trends and strategies for improving your rental income.</p>
        </div>
        <div class="content-widget">
          <div class="row mb-n11">
            <div class="col-md-6 col-lg-10" data-aos="fade-left" data-aos-duration="500" data-aos-once="true">
              <div class="single-widget mb-11">
                <h3 class="w-title gr-text-7 mb-4">Project Based Groups</h3>
                <p class="gr-text-9 mb-0">With lots of unique blocks, you can easily build a page without coding. </p>
              </div>
            </div>
            <div class="col-md-6 col-lg-10" data-aos="fade-left" data-aos-duration="1100" data-aos-once="true">
              <div class="single-widget mb-11">
                <h3 class="w-title gr-text-7 mb-4">Unlimited Video Meetings</h3>
                <p class="gr-text-9 mb-0">With lots of unique blocks, you can easily build a page without coding. </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


{% endmacro %}
{% macro code(root,options) %}
<pre class="language-markup">
  <code>
&lt;div class=&quot;content-section pt-13 pt-lg-29 pb-12 pb-lg-20 bg-default-6 {{options.wrapper_class}}&quot;&gt;
  &lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;row align-items-center justify-content-center&quot;&gt;
      &lt;div class=&quot;col-11 col-lg-6&quot; data-aos=&quot;fade-right&quot; data-aos-duration=&quot;1000&quot; data-aos-once=&quot;true&quot;&gt;
        &lt;div class=&quot;content-img position-relative mb-11 mb-lg-0&quot;&gt;
          &lt;img src=&quot;{{root}}image/conference/jpg/content-1-img.jpg&quot; alt=&quot;&quot; class=&quot;w-100 w-sm-auto rounded-10 shadow-8&quot;&gt;
          &lt;div class=&quot;gr-abs-tl-custom-3 gr-z-index-n1&quot; data-aos=&quot;fade-left&quot; data-aos-delay=&quot;500&quot; data-aos-duration=&quot;1000&quot; data-aos-once=&quot;true&quot;&gt;
            &lt;img src=&quot;{{root}}image/conference/png/content-1-round.png&quot; alt=&quot;&quot; class=&quot;w-auto&quot;&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;col-11 col-lg-6 col-xl-5 pl-lg-15&quot;&gt;
        &lt;div class=&quot;section-title content-text mb-13 mb-lg-15&quot;&gt;
          &lt;h2 class=&quot;title gr-text-4 mb-6&quot;&gt;Easy to control&lt;/h2&gt;
          &lt;p class=&quot;gr-text-8 pr-lg-12 mb-0&quot;&gt;We share common trends and strategies for improving your rental income.&lt;/p&gt;
        &lt;/div&gt;
        &lt;div class=&quot;content-widget&quot;&gt;
          &lt;div class=&quot;row mb-n11&quot;&gt;
            &lt;div class=&quot;col-md-6 col-lg-10&quot; data-aos=&quot;fade-left&quot; data-aos-duration=&quot;500&quot; data-aos-once=&quot;true&quot;&gt;
              &lt;div class=&quot;single-widget mb-11&quot;&gt;
                &lt;h3 class=&quot;w-title gr-text-7 mb-4&quot;&gt;Project Based Groups&lt;/h3&gt;
                &lt;p class=&quot;gr-text-9 mb-0&quot;&gt;With lots of unique blocks, you can easily build a page without coding. &lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;col-md-6 col-lg-10&quot; data-aos=&quot;fade-left&quot; data-aos-duration=&quot;1100&quot; data-aos-once=&quot;true&quot;&gt;
              &lt;div class=&quot;single-widget mb-11&quot;&gt;
                &lt;h3 class=&quot;w-title gr-text-7 mb-4&quot;&gt;Unlimited Video Meetings&lt;/h3&gt;
                &lt;p class=&quot;gr-text-9 mb-0&quot;&gt;With lots of unique blocks, you can easily build a page without coding. &lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/div&gt;

  </code>
  </pre>
  
{% endmacro %}
