{% macro render(root,additional_class) %}

<div class="video-area position-relative gr-z-index-1 {{additional_class}}">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="video-image-pattern-bottom ">
          <img class="w-100 rounded-20" src="{{root}}image/l6/jpg/l6-video-img.jpg" alt="">
          <a class="circle-xxl bg-white gr-abs-center gr-abs-hover-y gr-text-8" href="https://youtu.be/xcJtL7QggTI" data-fancybox=""><i class="icon icon-triangle-right-17-2 text-red"></i></a>
          <div class="gr-abs-bl-custom pattern" data-aos="fade-down-left" data-aos-duration="900" data-aos-once="true">
            <img src="{{root}}image/l6/png/l6-video-pattern.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endmacro %}