<pre class="language-markup">
  <code>

    &lt;div class="testimonial-section pt-13 pt-lg-24 pb-lg-19 bg-default-1 dark-mode-texts"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row align-items-center justify-content-around"&gt;
          &lt;div class="col-lg-5 col-xl-4"&gt;
            &lt;div class="testimonial-widget-1 text-center mb-13 mb-lg-0"&gt;
              &lt;div class="reviewer-img d-flex justify-content-center mb-7 mb-lg-12"&gt;
                &lt;img class="img-fluid circle-lg" src="./image/l1/jpg/l1-testimonial-img1.jpg" alt=""&gt;
              &lt;/div&gt;
              &lt;div class="review"&gt;
                &lt;h3 class="gr-text-6 mb-6 mb-lg-8"&gt;“You made it so simple”&lt;/h3&gt;
                &lt;p class="gr-text-8 mb-lg-8"&gt;My new site is so much faster and easier to work with than my old site.&lt;/p&gt;
                &lt;p class="name gr-text-color gr-text-9 font-weight-bold mb-0"&gt;Corey Valdez&lt;/p&gt;
                &lt;p class="job gr-text-11"&gt;Founder at Zenix&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-1"&gt;
            &lt;div class="separator-line d-none d-lg-block"&gt;&lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-5 col-xl-4"&gt;
            &lt;div class="testimonial-widget-1 text-center mb-13 mb-lg-0"&gt;
              &lt;div class="reviewer-img d-flex justify-content-center mb-7 mb-lg-12"&gt;
                &lt;img class="img-fluid circle-lg" src="./image/l1/jpg/l1-testimonial-img2.jpg" alt=""&gt;
              &lt;/div&gt;
              &lt;div class="review"&gt;
                &lt;h3 class="gr-text-6 mb-6 mb-lg-8"&gt;“Simply the best”&lt;/h3&gt;
                &lt;p class="gr-text-8 mb-lg-8"&gt;Better than all the rest. I’d recommend this product to beginners.&lt;/p&gt;
                &lt;p class="name gr-text-color gr-text-9 font-weight-bold mb-0"&gt;Ian Klein&lt;/p&gt;
                &lt;p class="job gr-text-11"&gt;Digital Marketer&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>