<pre class="language-markup">
  <code>

    &lt;div class="testimonial-section pt-15 pt-lg-24 pb-lg-12 bg-default-1"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row align-items-center justify-content-around"&gt;
          &lt;div class="col-lg-4 col-md-6 col-sm-9 mb-16"&gt;
            &lt;div class="single-testimonial text-center h-100 d-flex flex-column px-5"&gt;
              &lt;div class="brand-logo mb-9 mb-lg-13"&gt;
                &lt;img src="./image/l2/png/testimonial-brand-logo1.png" alt=""&gt;
              &lt;/div&gt;
              &lt;p class="review-text mb-0 gr-text-6 font-weight-bold gr-text-color"&gt;“You made it so simple. My new site is so much faster & easier to work with Albino.”&lt;/p&gt;
              &lt;div class="user-block media pt-9 pt-lg-12 d-flex justify-content-center mt-auto"&gt;
                &lt;div class="user-image circle-md mr-7"&gt;
                  &lt;img class="w-100" src="./image/l2/png/l2-testimonial1.png" alt=""&gt;
                &lt;/div&gt;
                &lt;div class="user-text text-left align-self-center"&gt;
                  &lt;h4 class="user-title gr-text-9 mb-0"&gt;Ilya Vasin&lt;/h4&gt;
                  &lt;span class="user-rank gr-text-11 gr-text-color-opacity"&gt;Software Engineer&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-4 col-md-6 col-sm-9 mb-16"&gt;
            &lt;div class="single-testimonial text-center h-100 d-flex flex-column px-5"&gt;
              &lt;div class="brand-logo mb-9 mb-lg-13"&gt;
                &lt;img src="./image/l2/png/testimonial-brand-logo2.png" alt=""&gt;
              &lt;/div&gt;
              &lt;p class="review-text mb-0 gr-text-6 font-weight-bold gr-text-color"&gt;“Must have book for students, who want to be a great Product Designer.”&lt;/p&gt;
              &lt;div class="user-block media pt-9 pt-lg-12 d-flex justify-content-center mt-auto"&gt;
                &lt;div class="user-image circle-md mr-7"&gt;
                  &lt;img class="w-100" src="./image/l2/png/l2-testimonial2.png" alt=""&gt;
                &lt;/div&gt;
                &lt;div class="user-text text-left align-self-center"&gt;
                  &lt;h4 class="user-title gr-text-9 mb-0"&gt;Mariano Rasgado&lt;/h4&gt;
                  &lt;span class="user-rank gr-text-11 gr-text-color-opacity"&gt;Software Engineer&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-4 col-md-6 col-sm-9 mb-16"&gt;
            &lt;div class="single-testimonial text-center h-100 d-flex flex-column px-5"&gt;
              &lt;div class="brand-logo mb-9 mb-lg-13"&gt;
                &lt;img src="./image/l2/png/testimonial-brand-logo1.png" alt=""&gt;
              &lt;/div&gt;
              &lt;p class="review-text mb-0 gr-text-6 font-weight-bold gr-text-color"&gt;“You made it so simple. My new site is so much faster & easier to work with Albino.”&lt;/p&gt;
              &lt;div class="user-block media pt-9 pt-lg-12 d-flex justify-content-center mt-auto"&gt;
                &lt;div class="user-image circle-md mr-7"&gt;
                  &lt;img class="w-100" src="./image/l2/png/l2-testimonial3.png" alt=""&gt;
                &lt;/div&gt;
                &lt;div class="user-text text-left align-self-center"&gt;
                  &lt;h4 class="user-title gr-text-9 mb-0"&gt;Oka Tomoaki&lt;/h4&gt;
                  &lt;span class="user-rank gr-text-11 gr-text-color-opacity"&gt;Software Engineer&lt;/span&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>