<pre class="language-markup">
  <code>

    &lt;div class="testimonial-section pt-lg-21 pb-lg-21 pt-12 pb-8 bg-default-1"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-xl-6 col-lg-8 col-md-10"&gt;
            &lt;div class="section-title text-center mb-11 mb-lg-14"&gt;
              &lt;h2 class="title gr-text-4 mb-6"&gt;What people say about us&lt;/h2&gt;
              &lt;p class="gr-text-8 mb-0 px-lg-7 px-xl-0"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="row justify-content-around"&gt;
          &lt;div class="col-lg-4 col-md-6 mb-9"&gt;
            &lt;div class="card rounded-10 border p-9 h-100"&gt;
              &lt;div class="customer-img circle-sm-2 mb-9 mb-lg-14"&gt;
                &lt;img src="./image/l3/jpg/l3-testimonial1.jpg" alt="" class="w-100"&gt;
              &lt;/div&gt;
              &lt;p class="review-text gr-text-7 text-blackish-blue mb-7 mb-lg-8"&gt;“You made it so simple. My new site is so much faster and easier to work with than my old site.”&lt;/p&gt;
              &lt;div class="customer-identity d-md-flex align-items-center mt-auto"&gt;
                &lt;h3 class="name gr-text-9 mb-2 mb-md-0 mr-3 text-blackish-blue"&gt;Isabella Chavez&lt;/h3&gt;
                &lt;p class="rank gr-text-9 mb-0 gr-color-blackish-blue-opacity-7"&gt;Graphic Designer&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-4 col-md-6 mb-9"&gt;
            &lt;div class="card rounded-10 border p-9 h-100"&gt;
              &lt;div class="customer-img circle-sm-2 mb-9 mb-lg-14"&gt;
                &lt;img src="./image/l3/jpg/l3-testimonial2.jpg" alt=""&gt;
              &lt;/div&gt;
              &lt;p class="review-text gr-text-7 text-blackish-blue mb-7 mb-lg-8"&gt;“Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users.”&lt;/p&gt;
              &lt;div class="customer-identity d-md-flex align-items-center mt-auto"&gt;
                &lt;h3 class="name gr-text-9 mb-2 mb-md-0 mr-3 text-blackish-blue"&gt;Curtis Rhodes&lt;/h3&gt;
                &lt;p class="rank gr-text-9 mb-0 gr-color-blackish-blue-opacity-7"&gt;Digital Marketer&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-lg-4 col-md-6 mb-9"&gt;
            &lt;div class="card rounded-10 border p-9 h-100"&gt;
              &lt;div class="customer-img circle-sm-2 mb-9 mb-lg-14"&gt;
                &lt;img src="./image/l3/jpg/l3-testimonial3.jpg" alt=""&gt;
              &lt;/div&gt;
              &lt;p class="review-text gr-text-7 text-blackish-blue mb-7 mb-lg-8"&gt;“Must have book for all, who want to be Product Designer or Interaction Designer.”&lt;/p&gt;
              &lt;div class="customer-identity d-md-flex align-items-center mt-auto"&gt;
                &lt;h3 class="name gr-text-9 mb-2 mb-md-0 mr-3 text-blackish-blue"&gt;Lucas Mann&lt;/h3&gt;
                &lt;p class="rank gr-text-9 mb-0 gr-color-blackish-blue-opacity-7"&gt;Co Founder&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>