<pre class="language-markup">
  <code>

    &lt;div class="testimonial-section1 bg-default-4 pt-14 pt-lg-24"&gt;
      &lt;div class="container"&gt;
        &lt;div class="review-wrapper pt-9 pb-lg-25 pb-14 border-bottom"&gt;
          &lt;div class="row justify-content-center align-items-center"&gt;
            &lt;div class="col-xl-11 col-lg-12"&gt;
              &lt;div class="review-widget media align-items-center px-lg-7 flex-column flex-sm-row"&gt;
                &lt;div class="widget-image mr-12 mr-lg-19 mb-9 mb-md-0"&gt;
                  &lt;img class="circle-xxxl" src="./image/l5/jpg/l5-testimonial1.jpg" alt=""&gt;
                &lt;/div&gt;
                &lt;div class="widget-text"&gt;
                  &lt;img class="rating mb-11" src="./image/l5/png/5-stars.png" alt=""&gt;
                  &lt;h4 class="review-text gr-text-6 font-weight-bold mb-9"&gt;“OMG! I cannot believe that I have got a brand new landing page after getting Albino. It was super easy to edit and publish.”&lt;/h4&gt;
                  &lt;div class="reviewer-block d-flex flex-wrap"&gt;
                    &lt;h5 class="name gr-text-9 mr-7 mb-md-0"&gt;Franklin Hicks&lt;/h5&gt;
                    &lt;span class="excerpt gr-text-9 mb-0 gr-text-color-opacity"&gt;Web Developer&lt;/span&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>