<pre class="language-markup">
  <code>

    &lt;div class="testimonial-section2 position-relative bg-blue dark-mode-texts bg-pattern pattern-4 pt-14 pt-lg-26 pb-14 pb-lg-26 "&gt;
      &lt;div class="container"&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-md-8 col-lg-7 col-xl-6"&gt;
            &lt;div class="section-title text-center mb-9"&gt;
              &lt;h4 class="pre-title gr-text-12 text-green text-uppercase mb-0"&gt;Testimonial&lt;/h4&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="row align-items-center justify-content-around"&gt;
          &lt;div class="col-lg-7 col-md-9"&gt;
            &lt;div class="single-testimonial text-center"&gt;
              &lt;h3 class="review-text gr-text-5 mb-11"&gt;“Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users.”&lt;/h3&gt;
              &lt;div class="reviewer-img mb-7"&gt;
                &lt;img class="circle-lg mx-auto" src="./image/l5/jpg/l5-testimonial2.jpg" alt=""&gt;
              &lt;/div&gt;
              &lt;h3 class="username gr-text-9 mb-1"&gt;Ian Klein&lt;/h3&gt;
              &lt;span class="rank gr-text-11 gr-text-color-opacity"&gt;Digital Marketer&lt;/span&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>