<pre class="language-markup">
  <code>

    &lt;div class="testimonial-section pt-15 pt-lg-22 pb-15 pb-lg-25 bg-default-6 dark-mode-texts"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row justify-content-center dark-mode-texts"&gt;
          &lt;div class="col-md-8 col-lg-7 col-xl-6"&gt;
            &lt;div class="section-title text-center mb-11 mb-lg-15"&gt;
              &lt;h2 class="title-sm gr-text-5 mb-0 text-white"&gt;&lt;span class="strike-bottom green"&gt;1,749 remote teams&lt;/span&gt; have shared their experience with our app!&lt;/h2&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-10 col-lg-8 mb-7" data-aos="fade-right" data-aos-duration="800" data-aos-once="true"&gt;
            &lt;div class="testimonial-card d-flex flex-column flex-md-row align-items-md-center border rounded-12 bg-white pt-9 pb-8 px-9 gr-hover-opacity-full"&gt;
              &lt;div class="card-image rounded-circle mr-9 mb-7 mb-md-0"&gt;
                &lt;img class="circle-xxl w-100" src="./image/l6/jpg/l6-testimonial-img1.jpg" alt=""&gt;
              &lt;/div&gt;
              &lt;div class="testimonial-content"&gt;
                &lt;p class="review-text gr-text-7 text-blackish-blue mb-6"&gt;“OMG! I cannot believe that I have got a brand new landing page after getting Omega. It was super easy to edit and publish.”&lt;/p&gt;
                &lt;span class="name gr-text-9 text-blackish-blue gr-opacity-7 mb-0"&gt;Isaac Olson&lt;/span&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-10 col-lg-8 mb-7" data-aos="fade-right" data-aos-duration="800" data-aos-delay="200" data-aos-once="true"&gt;
            &lt;div class="testimonial-card d-flex flex-column flex-md-row align-items-md-center border rounded-12 bg-white pt-9 pb-8 px-9 gr-opacity-7 gr-hover-opacity-full"&gt;
              &lt;div class="card-image rounded-circle mr-9 mb-7 mb-md-0"&gt;
                &lt;img class="circle-xxl w-100" src="./image/l6/jpg/l6-testimonial-img2.jpg" alt=""&gt;
              &lt;/div&gt;
              &lt;div class="testimonial-content"&gt;
                &lt;p class="review-text gr-text-7 text-blackish-blue mb-6"&gt;“Simply the best. Better than all the rest. I’d recommend this product to beginners and advanced users who want success.”&lt;/p&gt;
                &lt;span class="name gr-text-9 text-blackish-blue gr-opacity-7 mb-0"&gt;Barry Young&lt;/span&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-10 col-lg-8 mb-7" data-aos="fade-right" data-aos-duration="800" data-aos-delay="400" data-aos-once="true"&gt;
            &lt;div class="testimonial-card d-flex flex-column flex-md-row align-items-md-center border rounded-12 bg-white pt-9 pb-8 px-9 gr-opacity-5 gr-hover-opacity-full"&gt;
              &lt;div class="card-image rounded-circle mr-9 mb-7 mb-md-0"&gt;
                &lt;img class="circle-xxl w-100" src="./image/l6/jpg/l6-testimonial-img3.jpg" alt=""&gt;
              &lt;/div&gt;
              &lt;div class="testimonial-content"&gt;
                &lt;p class="review-text gr-text-7 text-blackish-blue mb-6"&gt;“Must have book for all, who want to be Product Designer or Interaction Designer.”&lt;/p&gt;
                &lt;span class="name gr-text-9 text-blackish-blue gr-opacity-7 mb-0"&gt;Esther Allison&lt;/span&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-lg-7 text-center pt-10"&gt;
            &lt;div class="more-btn testimonial-btn"&gt;
              &lt;a href="#" class="btn-link with-icon text-green font-weight-bold"&gt;Read more reviews&lt;i class="icon icon-tail-right font-weight-bold"&gt;&lt;/i&gt;&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>