<pre class="language-markup">
  <code>

    &lt;div class="pt-13 pt-md-25 pb-13 pb-md-25 mx-md-6 rounded-10 mb-6 "&gt;
      &lt;div class="container"&gt;
        &lt;div class="row justify-content-center justify-content-lg-between align-items-center"&gt;
          &lt;!-- .testimonial-right-image starts --&gt;
          &lt;div class="col-xs-10 col-md-6 col-lg-5 mb-n15 order-md-2"&gt;
            &lt;div class="text-right pr-xl-13"&gt;
              &lt;img src="./image/l8/png/testimonial-right-image.png" alt="" class="w-100"&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;!-- ./testimonial-right-image ends --&gt;
          &lt;div class="col-sm-11 col-md-6 col-lg-6 col-xl-6 pt-19 pt-lg-0"&gt;
            &lt;div class="pr-lg-3 pr-xl-13 d-flex flex-column h-100 mt-8 mt-md-0"&gt;
              &lt;div class="quote mb-13 mb-lg-25"&gt;
                &lt;img src="./image/svg/quote-image.svg" alt="" data-aos="fade-right" data-aos-duration="400" data-aos-once="true"&gt;
              &lt;/div&gt;
              &lt;div class="ratings d-flex justify-content-start mb-12"&gt;
                &lt;i class="fas fa-star mr-1 text-yellow-orange gr-text-8" data-aos="zoom-in"  data-aos-delay="300" data-aos-duration="400" data-aos-once="true"&gt;&lt;/i&gt;
                &lt;i class="fas fa-star mx-1 text-yellow-orange gr-text-8" data-aos="zoom-in" data-aos-delay="300" data-aos-duration="700" data-aos-once="true"&gt;&lt;/i&gt;
                &lt;i class="fas fa-star mx-1 text-yellow-orange gr-text-8" data-aos="zoom-in"  data-aos-delay="300" data-aos-duration="1000" data-aos-once="true"&gt;&lt;/i&gt;
                &lt;i class="fas fa-star mx-1 text-yellow-orange gr-text-8" data-aos="zoom-in"  data-aos-delay="300" data-aos-duration="1300" data-aos-once="true"&gt;&lt;/i&gt;
                &lt;i class="fas fa-star mx-1 text-yellow-orange gr-text-8" data-aos="zoom-in"  data-aos-delay="300" data-aos-duration="1600" data-aos-once="true"&gt;&lt;/i&gt;
              &lt;/div&gt;
              &lt;p class="gr-text-6 gr-text-color-opacity" data-aos="fade-right" data-aos-delay="1000" data-aos-duration="800" data-aos-once="true"&gt;“OMG! I cannot believe that I have got a brand new room after getting your services. It was super easy to order and get started.”&lt;/p&gt;
              &lt;div class="pt-7 d-flex"&gt;
                &lt;h3 class="gr-text-9 font-weight-bold mr-6"&gt;Maria José Botín&lt;/h3&gt;
                &lt;span class="gr-text-9 gr-text-color-opacity"&gt;Interior Designer&lt;/span&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
    
  </code>
</pre>