<pre class="language-markup">
  <code>

    &lt;div class="content-section pt-15 pb-11 pt-lg-25 pb-lg-24 pt-xl-30 pb-xl-28 position-relative overflow-hidden bg-blue dark-mode-texts"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row align-items-center justify-content-md-center"&gt;
          &lt;div class="col-sm-10 col-lg-5 order-lg-2 position-static"&gt;
            &lt;div class="content-img position-relative gr-abs-lg gr-abs-lg-ry-center w-lg-50 text-center text-lg-right"&gt;
              &lt;img class="h-100 w-100 w-lg-75" src="./image/l7/jpg/content2-img-big.jpg" alt=""&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-sm-11 col-lg-7 order-lg-1"&gt;
            &lt;div class="row"&gt;
              &lt;div class="col-lg-10 col-xl-9"&gt;
                &lt;div class="content-text mb-9 mb-lg-18 mt-11 mt-lg-0"&gt;
                  &lt;h2 class="title gr-text-3 mb-6"&gt;Comfortable buds with better sound.&lt;/h2&gt;
                  &lt;p class="gr-text-8 mb-9 pr-11"&gt;We share common trends and strategies for improving your rental income.&lt;/p&gt;
                &lt;/div&gt;
                &lt;div class="testimonial-wrapper mt-6 mt-md-0"&gt;
                  &lt;div class="single-testimonial media py-6" data-aos="fade-left" data-aos-duration="800" data-aos-once="true"&gt;
                    &lt;div class="media-icon mr-8"&gt;
                      &lt;img class=" circle-sm-2" src="./image/l7/jpg/testimonial-1.jpg" alt=""&gt;
                    &lt;/div&gt;
                    &lt;div class="media-body"&gt;
                      &lt;p class="gr-text-7 mb-0 pr-xl-6 gr-text-color mb-8"&gt;“You made it so simple. My new site is so much faster and easier to work with than my old site.”&lt;/p&gt;
                      &lt;span class="name gr-text-11 gr-text-color-opacity"&gt;Rhoda Brady&lt;/span&gt;
                    &lt;/div&gt;
                  &lt;/div&gt;
                &lt;/div&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;

  </code>
</pre>