<div class="single-faq">
  <h3 class="faq-title">
    Can I use Omega for my clients?
  </h3>
  <p>Create custom landing pages with Omega that converts more visitors than any website. With lots of unique blocks, you can easily build a page without any design or custom coding. with Omega that converts more visitors than any website.</p>
</div>
<div class="single-faq">
  <h3 class="faq-title">
    Do I get free updates?
  </h3>
  <p>Create custom landing pages with Omega that converts more visitors than any website. With lots of unique blocks, you can easily build a page without any design or custom coding.</p>
</div>
<div class="single-faq">
  <h3 class="faq-title">
    Does it work with WordPress?
  </h3>
  <p>Create custom landing pages with Omega that converts more visitors than any website. With lots of unique blocks, you can easily build a page without any design or custom coding. </p>
</div>
<div class="single-faq">
  <h3 class="faq-title">
    Will you provide support?
  </h3>
  <p>Create custom landing pages with Omega that converts more visitors than any website. With lots of unique blocks, you can easily build a page without any design or custom coding. </p>
</div>
<div class="faq-link">
  <p>Didn’t find your answer? <a href="#"> Contact us here</a></p>
</div>