<pre class="language-markup">
  <code>
      &lt;!-- CTA section --&gt;
      &lt;div class="cta-section-1 py-12 pt-lg-20 pb-lg-18 border-bottom border-gray-3 dark-mode-texts bg-blackish-blue "&gt;
        &lt;div class="container"&gt;
          &lt;div class="row align-items-center "&gt;
            &lt;div class="col-lg-6"&gt;
              &lt;div class="section-title cta-text pr-lg-5"&gt;
                &lt;h2 class="gr-text-5 mb-7"&gt;Build better landing page fast&lt;/h2&gt;
                &lt;p class="gr-text-8"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="col-lg-6 offset-xl-1 col-xl-5"&gt;
              &lt;div class="cta-btn d-flex flex-column flex-sm-row justify-content-lg-end mt-5 mt-lg-0"&gt;
                &lt;a href="#" class="btn gr-bg-blue-opacity-1 text-primary--light-only gr-hover-y with-icon mr-sm-7 mb-6 mb-sm-0"&gt;Learn more&lt;i class="icon icon-tail-right font-weight-bold"&gt;&lt;/i&gt;&lt;/a&gt;
                &lt;a href="#" class="btn btn-primary with-icon gr-hover-y"&gt;Get it now&lt;i class="icon icon-tail-right font-weight-bold"&gt;&lt;/i&gt;&lt;/a&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;

  </code>
</pre>