<pre class="language-markup">
  <code>
    &lt;div class="cta-section-2 dark-mode-texts bg-blackish-blue"&gt;
      &lt;div class="container"&gt;
        &lt;div class="cta-wrapper pt-14 pb-14 py-lg-19 border-bottom"&gt;
          &lt;div class="row align-items-center justify-content-center"&gt;
            &lt;div class="col-lg-6 col-md-10"&gt;
              &lt;div class="cta-text section-title"&gt;
                &lt;h2 class="title gr-text-5 mb-7 text-white"&gt;Ready to launch your next project?&lt;/h2&gt;
                &lt;p class="gr-text-8 gr-color-white-opacity-7 mb-8 mb-lg-0"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
              &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class="col-lg-4 offset-lg-2 col-md-10"&gt;
              &lt;div class="cta-btn text-lg-right"&gt;
                &lt;a href="#" class="btn btn-primary gr-hover-y"&gt;Get started on a project&lt;/a&gt;
              &lt;/div&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  </code>
</pre>