<pre class="language-markup">
  <code>
    &lt;div class="pt-13 pt-md-35 pb-13 pb-md-35 bg-image mx-md-6 rounded-10 " style="background-image: url(./image/l8/jpg/cta-bg.jpg);"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row justify-content-center"&gt;
          &lt;div class="col-xs-10 col-sm-10 col-md-9 col-lg-8 col-xl-7"&gt;
            &lt;div class="text-center dark-mode-texts"&gt;
              &lt;h2 class="gr-text-2 font-weight-bold pb-8 pb-md-12"&gt;
                Ready to have a decorated lifestyle?
              &lt;/h2&gt;
              &lt;a href="#" class="btn btn-green gr-hover-y"&gt;Start Shopping&lt;/a&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  </code>
</pre>
