<pre class="language-markup">
  <code>
    &lt;div class="cta-section overflow-hidden py-13 py-lg-25 bg-mirage bg-pattern pattern-1"&gt;
      &lt;div class="container"&gt;
        &lt;div class="row align-items-center"&gt;
          &lt;div class="col-xl-5 col-md-6" data-aos="fade-right" data-aos-duration="800" data-aos-once="true"&gt;
            &lt;div class="section-title pr-lg-7 mb-0 dark-mode-texts"&gt;
              &lt;div class="chat-icon circle-xl gr-bg-white-opacity-1 text-green gr-text-4 mb-13"&gt;
                &lt;i class="icon icon-chat-round-2 text-green"&gt;&lt;/i&gt;
              &lt;/div&gt;
              &lt;h2 class="title gr-text-4 mb-6"&gt;Get a free consultancy from our expert right now!&lt;/h2&gt;
              &lt;p class="gr-text-8 pr-lg-7 mb-0"&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page so quickly with Albino.&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
          &lt;div class="col-xl-4 offset-xl-3 col-lg-5 offset-lg-1 col-md-6 mt-9 mt-md-0" data-aos="fade-left" data-aos-duration="800" data-aos-once="true"&gt;
            &lt;form class="cta-form bg-white light-mode rounded-10 px-8 py-8"&gt;
              &lt;div class="form-group gr-text-11 font-weight-bold text-blackish-blue"&gt;
                &lt;label for="ctaName"&gt;Name &lt;/label&gt;
                &lt;input type="text" class="form-control gr-text-11" id="ctaName" placeholder="i.e. John Doe" required&gt;
              &lt;/div&gt;
              &lt;div class="form-group gr-text-11 font-weight-bold text-blackish-blue"&gt;
                &lt;label for="ctaEmail"&gt;Email &lt;/label&gt;
                &lt;input type="email" class="form-control gr-text-11" id="ctaEmail" placeholder="i.e. john@mail.com" required&gt;
              &lt;/div&gt;
              &lt;div class="form-group gr-text-11 font-weight-bold text-blackish-blue"&gt;
                &lt;label for="ctaPhone"&gt;Phone &lt;/label&gt;
                &lt;input type="email" class="form-control gr-text-11" id="ctaPhone" placeholder="i.e. 123-456-7890"&gt;
              &lt;/div&gt;
              &lt;div class="form-group gr-text-11 font-weight-bold text-blackish-blue"&gt;
                &lt;label for="agentCount" class="pr-lg-4"&gt;Which service do you need? &lt;/label&gt;
                &lt;select id="agentCount" class="gr-text-11 mb-7"&gt;
                  &lt;option value="1" data-display="Select a service"&gt;Digital Marketing&lt;/option&gt;
                  &lt;option value="2"&gt;Content Writing&lt;/option&gt;
                  &lt;option value="3"&gt;Graphic Design&lt;/option&gt;
                  &lt;option value="4"&gt;SEO for Business&lt;/option&gt;
                &lt;/select&gt;
              &lt;/div&gt;
              &lt;button type="submit" class="btn btn-primary gr-hover-y rounded-8 w-100"&gt;Get Free Consultancy&lt;/button&gt;
            &lt;/form&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  </code>
</pre>
