{% macro render(root,additional_class) %}

{% set team_data= [
  {
    image: "inner/team-image-1.png",
    title: "Joe Bridges",
    sm_title: "Founder"
  },
  {
    image: "inner/team-image-2.png",
    title: "Jeffrey Walters",
    sm_title: "Cheif Executive Officer"
  },
  {
    image: "inner/team-image-3.png",
    title: "Jason Reed",
    sm_title: "Chief Technology Officer"
  },
  {
    image: "inner/team-image-4.png",
    title: "Nellie Padilla",
    sm_title: "Creative Director"
  },
  {
    image: "inner/team-image-5.png",
    title: "Dean Bell",
    sm_title: "Lead Programmer"
  },
  {
    image: "inner/team-image-6.png",
    title: "Pearl Brooks",
    sm_title: "Digital Marketer"
  },
  {
    image: "inner/team-image-7.png",
    title: "Isaiah Griffin",
    sm_title: "UX Designer"
  }
] %}


<div class="pt-13 pt-lg-24 pb-lg-24 {{additional_class}}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-9 col-xl-8">
        <div class="section-title text-center px-md-12 mb-lg-17 mb-10">
          <h2 class="gr-text-3 mb-7 mb-lg-8">Meet our team</h2>
          <p class="gr-text-8 mb-0">With lots of unique blocks, you can easily build a page without coding. Build your next consultancy website within few minutes.</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-left mb-lg-n15 mb-0">
     {% for card in team_data %}
      <div class="col-lg-3 col-md-4 col-xs-6 mb-lg-15 mb-13">
        <div class="team-card">
          <div class="card-image">
            <img src="{{root}}image/{{card.image}}" alt="" class="w-100">
          </div>
          <div class="card-text pt-9">
            <h3 class="gr-text-7 mb-2">{{card.title}}</h3>
            <p class="gr-text-9 mb-0 line-height-1">{{card.sm_title}}</p>
          </div>
        </div>
      </div>
     {% endfor %}
     <div class="col-lg-3 col-md-4 col-xs-6 mb-13 d-flex align-items-center">
      <div class="mt-xs-n25">
        <h3 class="gr-text-6">Interested to join <br>
          our team ?</h3>
          <a href="#" class="btn-link with-icon gr-text-blue gr-text-7 font-weight-bold mt-5">Apply now <i class="icon icon-tail-right font-weight-bold"></i></a>
      </div>
    </div>
    </div>
  </div>
</div>


{% endmacro %}
