{% macro render(root,options) %}

<div class="team-section pt-13 pt-lg-24 pb-3 pb-lg-20  {{options.wrapper_class}}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-7 col-md-9">
        <div class="section-title text-center mb-13 mb-lg-23 px-lg-7">
          <h2 class="title gr-text-4 mb-6">Meet our doctors</h2>
          <p class="gr-text-8 mb-0">With lots of unique blocks, you can easily build a page without coding. Build your next landing page.</p>
        </div>
      </div>
    </div>
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-4 col-xs-9 col-md-6 mb-13 mb-lg-17 px-xs-6 px-md-6 px-lg-0 px-xl-8"  data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
        <div class="team-widget media">
          <a href="#" class="widget-img mr-7">
            <img src="{{root}}image/telemedicine/png/team-1.png" alt="" class=" circle-96">
          </a>
          <div class="widget-text">
            <a href="#"><h3 class="name gr-text-7 mb-6">Dr. Eugene Tucker</h3></a>
            <p class="gr-text-11 mb-0">MBBS, MD (Cardiology) <br>Senior Consultant</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-9 col-md-6 mb-13 mb-lg-17 px-xs-6 px-md-6 px-lg-0 px-xl-8"  data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
        <div class="team-widget media">
          <a href="#" class="widget-img mr-7">
            <img src="{{root}}image/telemedicine/png/team-2.png" alt="" class=" circle-96">
          </a>
          <div class="widget-text">
            <a href="#"><h3 class="name gr-text-7 mb-6">Dr. Nannie Roberts</h3></a>
            <p class="gr-text-11 mb-0">MBBS, MD (Cardiology) <br>Senior Consultant</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-9 col-md-6 mb-13 mb-lg-17 px-xs-6 px-md-6 px-lg-0 px-xl-8"  data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
        <div class="team-widget media">
          <a href="#" class="widget-img mr-7">
            <img src="{{root}}image/telemedicine/png/team-3.png" alt="" class=" circle-96">
          </a>
          <div class="widget-text">
            <a href="#"><h3 class="name gr-text-7 mb-6">Dr. Henry Hampton</h3></a>
            <p class="gr-text-11 mb-0">MBBS, MD (Cardiology) <br>Senior Consultant</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-9 col-md-6 mb-13 mb-lg-17 px-xs-6 px-md-6 px-lg-0 px-xl-8"  data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
        <div class="team-widget media">
          <a href="#" class="widget-img mr-7">
            <img src="{{root}}image/telemedicine/png/team-4.png" alt="" class=" circle-96">
          </a>
          <div class="widget-text">
            <a href="#"><h3 class="name gr-text-7 mb-6">Dr. Hannah Stanley</h3></a>
            <p class="gr-text-11 mb-0">MBBS, MD (Cardiology) <br>Senior Consultant</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-9 col-md-6 mb-13 mb-lg-17 px-xs-6 px-md-6 px-lg-0 px-xl-8"  data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
        <div class="team-widget media">
          <a href="#" class="widget-img mr-7">
            <img src="{{root}}image/telemedicine/png/team-5.png" alt="" class=" circle-96">
          </a>
          <div class="widget-text">
            <a href="#"><h3 class="name gr-text-7 mb-6">Dr. Melvin Carpenter</h3></a>
            <p class="gr-text-11 mb-0">MBBS, MD (Cardiology) <br>Senior Consultant</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-9 col-md-6 mb-13 mb-lg-17 px-xs-6 px-md-6 px-lg-0 px-xl-8"  data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
        <div class="team-widget media">
          <a href="#" class="widget-img mr-7">
            <img src="{{root}}image/telemedicine/png/team-6.png" alt="" class=" circle-96">
          </a>
          <div class="widget-text">
            <a href="#"><h3 class="name gr-text-7 mb-6">Dr. Nancy Watkins</h3></a>
            <p class="gr-text-11 mb-0">MBBS, MD (Cardiology) <br>Senior Consultant</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-9 col-md-6 mb-13 mb-lg-17 px-xs-6 px-md-6 px-lg-0 px-xl-8"  data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
        <div class="team-widget media">
          <a href="#" class="widget-img mr-7">
            <img src="{{root}}image/telemedicine/png/team-7.png" alt="" class=" circle-96">
          </a>
          <div class="widget-text">
            <a href="#"><h3 class="name gr-text-7 mb-6">Dr. Roger McDonald</h3></a>
            <p class="gr-text-11 mb-0">MBBS, MD (Cardiology) <br>Senior Consultant</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-9 col-md-6 mb-13 mb-lg-17 px-xs-6 px-md-6 px-lg-0 px-xl-8"  data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
        <div class="team-widget media">
          <a href="#" class="widget-img mr-7">
            <img src="{{root}}image/telemedicine/png/team-8.png" alt="" class=" circle-96">
          </a>
          <div class="widget-text">
            <a href="#"><h3 class="name gr-text-7 mb-6">Dr. Ella Gonzales</h3></a>
            <p class="gr-text-11 mb-0">MBBS, MD (Cardiology) <br>Senior Consultant</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-xs-9 col-md-6 mb-13 mb-lg-17 px-xs-6 px-md-6 px-lg-0 px-xl-8"  data-aos="fade-right" data-aos-duration="800" data-aos-once="true">
        <div class="team-widget media">
          <a href="#" class="widget-img mr-7">
            <img src="{{root}}image/telemedicine/png/team-9.png" alt="" class=" circle-96">
          </a>
          <div class="widget-text">
            <a href="#"><h3 class="name gr-text-7 mb-6">Dr. Olive Farmer</h3></a>
            <p class="gr-text-11 mb-0">MBBS, MD (Cardiology) <br>Senior Consultant</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
{% macro code(root,options) %}
<pre class="language-markup">
  <code>
    &lt;div class=&quot;team-section pt-13 pt-lg-24 pb-3 pb-lg-20 bg-default-2 {{options.wrapper_class}}&quot;&gt;
    &lt;div class=&quot;container&quot;&gt;
      &lt;div class=&quot;row justify-content-center&quot;&gt;
        &lt;div class=&quot;col-xl-6 col-lg-7 col-md-9&quot;&gt;
          &lt;div class=&quot;section-title text-center mb-13 mb-lg-23 px-lg-7&quot;&gt;
            &lt;h2 class=&quot;title gr-text-4 mb-6&quot;&gt;Meet our doctors&lt;/h2&gt;
            &lt;p class=&quot;gr-text-8 mb-0&quot;&gt;With lots of unique blocks, you can easily build a page without coding. Build your next landing page.&lt;/p&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
      &lt;div class=&quot;row align-items-center justify-content-center&quot;&gt;
        &lt;div class=&quot;col-lg-4 col-xs-9 col-md-6 mb-13 mb-lg-17 px-xs-6 px-md-6 px-lg-0 px-xl-8&quot;  data-aos=&quot;fade-right&quot; data-aos-duration=&quot;800&quot; data-aos-once=&quot;true&quot;&gt;
          &lt;div class=&quot;team-widget media&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;widget-img mr-7&quot;&gt;
              &lt;img src=&quot;{{root}}image/telemedicine/png/team-1.png&quot; alt=&quot;&quot; class=&quot; circle-96&quot;&gt;
            &lt;/a&gt;
            &lt;div class=&quot;widget-text&quot;&gt;
              &lt;a href=&quot;#&quot;&gt;&lt;h3 class=&quot;name gr-text-7 mb-6&quot;&gt;Dr. Eugene Tucker&lt;/h3&gt;&lt;/a&gt;
              &lt;p class=&quot;gr-text-11 mb-0&quot;&gt;MBBS, MD (Cardiology) &lt;br&gt;Senior Consultant&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-lg-4 col-xs-9 col-md-6 mb-13 mb-lg-17 px-xs-6 px-md-6 px-lg-0 px-xl-8&quot;  data-aos=&quot;fade-right&quot; data-aos-duration=&quot;800&quot; data-aos-once=&quot;true&quot;&gt;
          &lt;div class=&quot;team-widget media&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;widget-img mr-7&quot;&gt;
              &lt;img src=&quot;{{root}}image/telemedicine/png/team-2.png&quot; alt=&quot;&quot; class=&quot; circle-96&quot;&gt;
            &lt;/a&gt;
            &lt;div class=&quot;widget-text&quot;&gt;
              &lt;a href=&quot;#&quot;&gt;&lt;h3 class=&quot;name gr-text-7 mb-6&quot;&gt;Dr. Nannie Roberts&lt;/h3&gt;&lt;/a&gt;
              &lt;p class=&quot;gr-text-11 mb-0&quot;&gt;MBBS, MD (Cardiology) &lt;br&gt;Senior Consultant&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-lg-4 col-xs-9 col-md-6 mb-13 mb-lg-17 px-xs-6 px-md-6 px-lg-0 px-xl-8&quot;  data-aos=&quot;fade-right&quot; data-aos-duration=&quot;800&quot; data-aos-once=&quot;true&quot;&gt;
          &lt;div class=&quot;team-widget media&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;widget-img mr-7&quot;&gt;
              &lt;img src=&quot;{{root}}image/telemedicine/png/team-3.png&quot; alt=&quot;&quot; class=&quot; circle-96&quot;&gt;
            &lt;/a&gt;
            &lt;div class=&quot;widget-text&quot;&gt;
              &lt;a href=&quot;#&quot;&gt;&lt;h3 class=&quot;name gr-text-7 mb-6&quot;&gt;Dr. Henry Hampton&lt;/h3&gt;&lt;/a&gt;
              &lt;p class=&quot;gr-text-11 mb-0&quot;&gt;MBBS, MD (Cardiology) &lt;br&gt;Senior Consultant&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-lg-4 col-xs-9 col-md-6 mb-13 mb-lg-17 px-xs-6 px-md-6 px-lg-0 px-xl-8&quot;  data-aos=&quot;fade-right&quot; data-aos-duration=&quot;800&quot; data-aos-once=&quot;true&quot;&gt;
          &lt;div class=&quot;team-widget media&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;widget-img mr-7&quot;&gt;
              &lt;img src=&quot;{{root}}image/telemedicine/png/team-4.png&quot; alt=&quot;&quot; class=&quot; circle-96&quot;&gt;
            &lt;/a&gt;
            &lt;div class=&quot;widget-text&quot;&gt;
              &lt;a href=&quot;#&quot;&gt;&lt;h3 class=&quot;name gr-text-7 mb-6&quot;&gt;Dr. Hannah Stanley&lt;/h3&gt;&lt;/a&gt;
              &lt;p class=&quot;gr-text-11 mb-0&quot;&gt;MBBS, MD (Cardiology) &lt;br&gt;Senior Consultant&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-lg-4 col-xs-9 col-md-6 mb-13 mb-lg-17 px-xs-6 px-md-6 px-lg-0 px-xl-8&quot;  data-aos=&quot;fade-right&quot; data-aos-duration=&quot;800&quot; data-aos-once=&quot;true&quot;&gt;
          &lt;div class=&quot;team-widget media&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;widget-img mr-7&quot;&gt;
              &lt;img src=&quot;{{root}}image/telemedicine/png/team-5.png&quot; alt=&quot;&quot; class=&quot; circle-96&quot;&gt;
            &lt;/a&gt;
            &lt;div class=&quot;widget-text&quot;&gt;
              &lt;a href=&quot;#&quot;&gt;&lt;h3 class=&quot;name gr-text-7 mb-6&quot;&gt;Dr. Melvin Carpenter&lt;/h3&gt;&lt;/a&gt;
              &lt;p class=&quot;gr-text-11 mb-0&quot;&gt;MBBS, MD (Cardiology) &lt;br&gt;Senior Consultant&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-lg-4 col-xs-9 col-md-6 mb-13 mb-lg-17 px-xs-6 px-md-6 px-lg-0 px-xl-8&quot;  data-aos=&quot;fade-right&quot; data-aos-duration=&quot;800&quot; data-aos-once=&quot;true&quot;&gt;
          &lt;div class=&quot;team-widget media&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;widget-img mr-7&quot;&gt;
              &lt;img src=&quot;{{root}}image/telemedicine/png/team-6.png&quot; alt=&quot;&quot; class=&quot; circle-96&quot;&gt;
            &lt;/a&gt;
            &lt;div class=&quot;widget-text&quot;&gt;
              &lt;a href=&quot;#&quot;&gt;&lt;h3 class=&quot;name gr-text-7 mb-6&quot;&gt;Dr. Nancy Watkins&lt;/h3&gt;&lt;/a&gt;
              &lt;p class=&quot;gr-text-11 mb-0&quot;&gt;MBBS, MD (Cardiology) &lt;br&gt;Senior Consultant&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-lg-4 col-xs-9 col-md-6 mb-13 mb-lg-17 px-xs-6 px-md-6 px-lg-0 px-xl-8&quot;  data-aos=&quot;fade-right&quot; data-aos-duration=&quot;800&quot; data-aos-once=&quot;true&quot;&gt;
          &lt;div class=&quot;team-widget media&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;widget-img mr-7&quot;&gt;
              &lt;img src=&quot;{{root}}image/telemedicine/png/team-7.png&quot; alt=&quot;&quot; class=&quot; circle-96&quot;&gt;
            &lt;/a&gt;
            &lt;div class=&quot;widget-text&quot;&gt;
              &lt;a href=&quot;#&quot;&gt;&lt;h3 class=&quot;name gr-text-7 mb-6&quot;&gt;Dr. Roger McDonald&lt;/h3&gt;&lt;/a&gt;
              &lt;p class=&quot;gr-text-11 mb-0&quot;&gt;MBBS, MD (Cardiology) &lt;br&gt;Senior Consultant&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-lg-4 col-xs-9 col-md-6 mb-13 mb-lg-17 px-xs-6 px-md-6 px-lg-0 px-xl-8&quot;  data-aos=&quot;fade-right&quot; data-aos-duration=&quot;800&quot; data-aos-once=&quot;true&quot;&gt;
          &lt;div class=&quot;team-widget media&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;widget-img mr-7&quot;&gt;
              &lt;img src=&quot;{{root}}image/telemedicine/png/team-8.png&quot; alt=&quot;&quot; class=&quot; circle-96&quot;&gt;
            &lt;/a&gt;
            &lt;div class=&quot;widget-text&quot;&gt;
              &lt;a href=&quot;#&quot;&gt;&lt;h3 class=&quot;name gr-text-7 mb-6&quot;&gt;Dr. Ella Gonzales&lt;/h3&gt;&lt;/a&gt;
              &lt;p class=&quot;gr-text-11 mb-0&quot;&gt;MBBS, MD (Cardiology) &lt;br&gt;Senior Consultant&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;col-lg-4 col-xs-9 col-md-6 mb-13 mb-lg-17 px-xs-6 px-md-6 px-lg-0 px-xl-8&quot;  data-aos=&quot;fade-right&quot; data-aos-duration=&quot;800&quot; data-aos-once=&quot;true&quot;&gt;
          &lt;div class=&quot;team-widget media&quot;&gt;
            &lt;a href=&quot;#&quot; class=&quot;widget-img mr-7&quot;&gt;
              &lt;img src=&quot;{{root}}image/telemedicine/png/team-9.png&quot; alt=&quot;&quot; class=&quot; circle-96&quot;&gt;
            &lt;/a&gt;
            &lt;div class=&quot;widget-text&quot;&gt;
              &lt;a href=&quot;#&quot;&gt;&lt;h3 class=&quot;name gr-text-7 mb-6&quot;&gt;Dr. Olive Farmer&lt;/h3&gt;&lt;/a&gt;
              &lt;p class=&quot;gr-text-11 mb-0&quot;&gt;MBBS, MD (Cardiology) &lt;br&gt;Senior Consultant&lt;/p&gt;
            &lt;/div&gt;
          &lt;/div&gt;
        &lt;/div&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
  </code>
  </pre>

{% endmacro %}
